.btn {
  &-white {
    @include button('white');
  }
  &-blue {
    @include button('blue');
  }
  &-white-blue {
    @include button('white-blue');
  }
  &-white-purple {
    @include button('white-purple');
  }
  &-purple {
    @include button('purple');
  }
  &-small {
    padding: 0 21px;
    min-height: 35px;
  }
}