.findSkyblog {
  &_container {
    @include container();
  }

  &_top {
    text-align: center;

    h1 {
      font-size: 35px;
      font-weight: 200;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.4;

      @include media('<=phone') {
        br {
          display: none;
        }
      }

      mark {
        background-color: $blue200;
        padding: 2px 5px;
      }
    }
  }
  &_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0;
    gap: 5px;

    &.--isHidden {
      display: none;
    }
    &_field {
      display: flex;
      @include media('<=phone') {
        justify-content: center;
      }

      input {
        height: 50px;
        padding: 0 20px;
        outline: none;
        min-width: 260px;
        border: 2px solid black;

        @include media('<=phone') {
          min-width: 220px;
        }
        &:disabled {
          background-color: white;
        }
      }
      span {
        background-color: black;
        color: white;
        width: 140px;
        justify-content: center;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 500;

        @include media('<=phone') {
          width: 130px;
        }
      }
      button {
        border: 2px solid black;
        background-color: $blue200;
        height: 50px;
        width: 395px;
        font-weight: bold;
        padding: 0 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        color: black;
        font-size: 16px;
        box-shadow: 5px 4px 0 black;
        text-transform: uppercase;
        margin-left: -5px;
        font-family: $primary-font-family;

        @include media('<=phone') {
          width: 345px;
          font-size: 15px;
        }

        &:not([disabled]):hover {
          box-shadow: none;
          transform: translate(5px, 4px);
        }
        &.--isLoading {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          box-shadow: none;
          transform: translate(5px, 4px);

          &:after {
            content: " ";
            background: url('../../images/loader.svg') no-repeat center center;
            width: 40px;
            height: 40px;
          }
        }
        span {
          transition: all 0.3s ease;
        }
      }
    }
    &_error {
      p {
        color: $red500;
        padding: 5px 15px;
        margin: 0;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  &_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    &_question {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 600;

      @include media('<=phone') {
        text-align: center;
      }

      mark {
        background-color: $blue200;
        padding: 2px 5px;
      }
    }
    &_frame {
      background: url('../../images/frame.png') no-repeat center center;
      width: 147px;
      height: 147px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_wrapperButtons {
      margin-top: 25px;
      display: flex;
      gap: 15px;

      @include media('<=phone') {
        flex-direction: column;
      }

      button {
        border: 2px solid black;
        height: 50px;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        width: 200px;
        box-shadow: 5px 4px 0 black;
        font-family: $primary-font-family;
        font-size: 16px;

        &.--isBig {
          width: 205px;

          &:after {
            content: ".";
            animation-name: loading;
            animation-duration: 2000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
        &.--isFinished {
          width: initial;

          &:after {
            display: none;
          }
        }
        &:not([disabled]):hover {
          box-shadow: none;
          transform: translate(5px, 4px);
        }
      }
    }
    &_yes {
      border-color: $green200;
      background-color: $green200;
    }
    &_no {
      border-color: $red500;
      background-color: $red500;
    }
    &_restart {
      border-color: white;
      background-color: white;
      width: 60px !important;
      padding: 0 !important;

      @include media('<=phone') {
        width: initial !important;
      }

      &:hover {
        svg {
          transform: rotate(360deg);
        }
      }
      svg {
        width: 30px;
        height: auto;
        transition: all .5s ease;
      }
    }

    @include media('<=phone') {
      &_warning {
        text-align: center;
      }
    }

  }
  &_friends {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

    h2 {
      margin-bottom: 5px;
      font-weight: 500;
    }
    p {
      margin: 0;
      font-weight: 500;
    }
    &_list {
      display: flex;
      align-items: flex-start;
      gap: 30px;
      margin-top: 30px;
      overflow: auto;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      padding-bottom: 20px;

      &::-webkit-scrollbar {
        width: 5px;
        height: 4px;
        background-color: white; /* or add it to the track */
      }
      &::-webkit-scrollbar-thumb {
        background: black;
      }
      &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        font-weight: bold;

        &:first-child {
          margin-left: calc((100vw - 1170px) / 2);

          @include media('<=phone') {
            margin-left: 20px;
          }
        }
        &:last-child {
          margin-right: 20px;
        }
        img {
          margin-bottom: 5px;
          border: 2px solid black;
        }
      }
    }
  }
}