* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  ::selection {
    color: white;
    background: red;
  }

  ::-moz-selection {
    color: white;
    background: red;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
  font-size: $px-base;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: hsla(212, 35%, 58%, 1);
  background: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.--submenuOpen {
    overflow: hidden;
  }
}

button {
  touch-action: manipulation;
}