@include fontface('Montserrat', '../../fonts/montserrat/regular/Montserrat-Regular', normal, normal, ttf woff2 woff);
@include fontface('Montserrat', '../../fonts/montserrat/semi-bold/Montserrat-SemiBold', 500, normal, ttf woff2 woff);
@include fontface('Montserrat', '../../fonts/montserrat/bold/Montserrat-Bold', 600, normal, ttf woff2 woff);

.front-website h1,
.h1 {
  @include heading('h1');
}

.front-website h2,
.h2 {
  @include heading('h2');
}

.front-website h3,
.h3 {
  @include heading('h3');
}

.front-website h4,
.h4 {
  @include heading('h4');
}

.front-website h5,
.h5 {
  @include heading('h5');
}
