
.bloc .date {
    padding: 0.5em 0.7em;
}

.consult a {
    text-decoration: none;
}

/* Font */
.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 10px;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois  {
    text-align: left;
}

/* Borders */
.bloc, .sidebar, .centry #barleft.sidebar, .centry .share_zone, .liste-actions-centry li,
#currentbp a, #changebp,  #changebp a, #promos_ads, .widget, .phylactere, #blogcomments .comment-item {
    border-color: #666;
}
.bloc-description,
.centry_thumbs #articles_container .bloc {
    border: 1px solid #666;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #272727;
}

/* Backgrounds */
.consult {
    background: #323232;
}
.sidebar, .bloc-description, #currentbp a, .bloc .date, .bloc_title, #promos_ads h2, #changebp a:hover, #load-more a {
    background: #000;
}
.widget, .phylactere, .compteurs_block li, .section_box, .title_tooltip {
    background: #272727;
}

/* Link & Colours */
.consult, .bloc, .sidebar, .bloc_title, .bloc_title a.plink, #load-more a, #menuTime li,
.phylactere, .pagination, .bloc-description, #changebp a,
.bloc a:hover, .sidebar a:hover, .pagination a:hover, .phylactere a:hover {
    color: #fff;
}

.bloc a, #currentbp a, .suite, .sidebar a, .pagination a, .pagination li.current a, .phylactere a, .blogpseudo a:hover {
    color: #86acc3;
}

.title_tooltip, .title_tooltip:hover {
    color: #86acc3 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #666;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #323232;
}

/* On doublonne les deux ciblages ci-dessous */
.phylactere.left .pointe_border {
    border-right-color: #666;
}
.phylactere.left .pointe_bg {
    border-right-color: #272727;
}
/* et pour le mode RIGHTY : on ajoute .righty et on remplace -right par -left. C'est tout simple. Sauf quand on doit le faire 150 fois. */
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #666;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #272727;
}

.widget .phylactere.top_left .pointe_bg {
    border-bottom-color: #272727;
}