.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.bloc, .sidebar, #changebp a, #promos_ads, .widget, #currentbp a, .phylactere, .bloc-description {
    border-color: #908164 !important;
}
.liste-actions li {
    border-color: #7f8fa8;
}
.comment-item {
    border-color: #333;
}

.title_tooltip .pointe_border {
    border-top-color: #cdc4b2;
}

/* Backgrounds */

.consult {
    background: #fff url(/img/templates/blogs/bg.png) top left repeat-x;
}
#changebp a {
    background: #ac9c83 url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a:hover {
    background: #ddd3c0 url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar, .bloc-description {
    background: #ddd3c0;
}
#currentbp a {
    background: #ddd3c0 url(/img/templates/blogs/title.png) top repeat-x;
}
.bloc, .widget, #promos_ads {
    background: #efefef url(/img/templates/blogs/title.png) top repeat-x;
}
.title_tooltip,
.sidebar-info-bloc h3, #load-more a{
    background: #cdc4b2;
}
.bloc .date {
    background: #d7d7d7;
}
.liste-actions li {
    background: #fff;
}
#cybercop {
    background: #c9baa0;
}

.sidebar_one .compteurs_block li,
.section_box {
    background: #EFEFEF;
}

/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, .bloc_title a.plink,
.sidebar-info-bloc h3 a, #load-more a, .phylactere, .bloc-description {
    color: #000;
}
.bloc a, .sidebar a , .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select, #currentbp a, .phylactere a {
    color: #015BA7;
}
.title_tooltip {
    color: #000 !important;
}
#changebp a {
    color: #544E42;
}
.pop {
    background-image: none;
}

* html .sidebar .widget {
    background-image: none;
}
#bloginfo li span {
    color: #015AA5;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #efefef;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #908164;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #908164;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #908164;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #efefef;
}