.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
#currentbp a, #changebp, #changebp a, .sidebar, .widget, .pagination select, .bloc-description  {
	border-color: #9c0001 !important;
}
#currentbp a {
	border-bottom: 0;
}
.liste-actions li {
	border-color: #520002;
}
.bloc, #promos_ads, .comment-item, .phylactere, .centry_thumbs #articles_container .bloc {
	border-color: #333;
}

.title_tooltip .pointe_border {
	border-top-color: #520002;
}

/* Backgrounds */
.consult { 
	background: #000;
}
#changebp a {
	background: #520002 url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a:hover {
	background: #670001 url(/img/templates/blogs/title.png) top repeat-x;
}
#currentbp a, .sidebar, .pagination select, .bloc-description {
	background: #670001;
}
.sidebar-info-bloc h3, #cybercop, #load-more a, .title_tooltip  {
	background: #520002;
}
.date, .widget, .liste-actions li, .compteurs_block li, .section_box {
	background: #9c0001;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.pop .bloc, .phylactere {
	background: #000;
}
/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, 
.bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
	color: #fff;
}
.sidebar a, .bloc a, .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, #currentbp a, #changebp a, 
.pagination select, .phylactere a {
	color: #fdcc66;
}

.title_tooltip {
	color: #fff !important;
}

.pop {
    background-image: none;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #333;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #333;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #333;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}