.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
/* Borders */
.bloc, .sidebar, #currentbp a, #changebp, #changebp a, #promos_ads, .pagination select, .liste-actions li, .widget, .bloc-description, .sidebar .section_box, .compteurs_block li {
	border-color: #ccc !important;
}
#currentbp a {
	border-bottom: none;
}
.sidebar-info-bloc h3, .bloc, #promos_ads, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
.comment-item, .widget, .phylactere {
	border-color: #ccc;
}
.title_tooltip .pointe_border {
	border-top-color: #ccc;
}

.itemlist img, .bloc .avatar {
    border-color: #ccc;
}

/* Backgrounds */
.consult, .sidebar, #currentbp a, #changebp a:hover, .bloc, .phylactere, .bloc-description {
	background: #fff;
}
#changebp a {
	background: #ececec;
}
.sidebar-info-bloc h3, .date, #cybercop, #load-more a, .title_tooltip  {
	background: #ccc;
}
/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, 
.bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
	color: #333;
}
.bloc a, .sidebar a, .pop a, .date a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select, #changebp a, #currentbp a, .phylactere a {
	color: blue;
}
.title_tooltip {
	color: #333 !important;
}
.pop {
    background-image: none;
}

.section_box {
    background: transparent;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ccc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #ccc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ccc;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}