.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .liste-actions li, .comment-item, .phylactere, .bloc-description {
	border-color: #c1c1c1 !important;
}
.sidebar h3, .bloc, #promos_ads, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.sidebar {
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

/* Backgrounds */
.consult, #barright .sidebar, .liste-actions li, .widget, .bloc-description, .section_box, .compteurs_block li {
	background: #fff;
}
#currentbp a, #changebp a:hover, #barleft .sidebar, #barright .sidebar h3, #load-more a, .sidebar_one .sidebar {
	background: #000;
}
.date, #cybercop, .title_tooltip {
	background: #ff0198;
}
.pop #blogcomments .bloc, .phylactere {
	background: #fff;
}
/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .widget, .liste-actions a:hover, #cybercop a:hover, .pagination a, .bloc_title a.plink, .bloc-description {
	color: #000;
}
.bloc a, .sidebar a, .pop a, .suite, #bloginfo em, .liste-actions a, #currentbp a, #changebp a, 
.pagination li.current a, .pagination a:hover, .pagination select, .phylactere a {
	color: #fe019a;
}
#barleft .sidebar, #barright .sidebar h3, .bloc .date a, .sidebar_two #cybercop a, .sidebar h3 a, #load-more a, .sidebar_one .liste-amis-verbose, .sidebar_one .onchat {
	color: #fff;
}
.title_tooltip {
	color: #fff !important;
}
.pop {
    background-image: none;
}
.itemlist img, .bloc .avatar {
    border-color: #CACACA;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #c1c1c1;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #c1c1c1;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #c1c1c1;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}