/* Backgrounds */
.consult {
	background: #242424;
}
#wrapper, .sidebar, #changebp a, .bloc-description {
	background-color: #f6f6f6;
}
#currentbp a, .sidebar h3, .phylactere {
	background: #ddd;
	border-radius: 0;
	padding: 3px 5px 4px;
}
.bloc, .section_box, .compteurs_block li {
	background: #fff;
}
.date, .bloc_title, #promos_ads h2, .sidebar h3, #load-more a, .title_tooltip  {
	background: #ddd;
}

/* Borders */
#currentbp a, #changebp, #changebp a, .sidebar {
	border: none;
}
#promos_ads, .liste-actions li, .comment-item {
	border-color: #ccc;
}
.sidebar, .widget, .bloc-description, .liste-actions-centry li {
	border-color: #fff !important;
}
.sidebar_one .sidebar {
	border-color: transparent !important;
}
.bloc {
	border: none;
}
.phylactere {
	border-color: transparent;
}
.title_tooltip .pointe_border {
	border-top-color: #ddd;
}
/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, 
.pagination a, .bloc_title a.plink, .sidebar h3 a, #load-more a, .bloc-description {
	color: #333;
}
.bloc a, .sidebar a, .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select, 
#changebp a, #currentbp a, .phylactere a {
	color: #336699;
}
.title_tooltip {
	color: #333 !important;
}

.pop {
    background-image: none;
}

.widget { 
    background: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.itemlist img, .bloc .avatar {
    border-color: #ccc;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background-color: #ddd;
}
.phylactere.top_left .pointe_bg, .phylactere.top_left .pointe_border {
    border-bottom-color: #ddd;
}
.phylactere.left .pointe_border {
    border-right-color: #ddd;
}
.phylactere.left .pointe_bg {
    border-right-color: #ddd;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ddd;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #ddd;
}