/*
    Pictures: Copyleft (C) 2007 BohwaZ http://bohwaz.net/
    Under the Free Art License: http://artlibre.org/
*/
.bloc_title, #promos_ads h2 {
    background: #000 url(/img/templates/blogs/106/article.jpg) no-repeat center center;
    padding: 0.5em;
    border-bottom: 1px solid #666;
    font-size: 1.5em;
}
#currentbp a {
	background: #000;
}
#currentbp a {
	border-bottom: 0;
}
#barleft .sidebar {
    background: #000 url(/img/templates/blogs/106/sideleft.png) no-repeat top center;
}

.sidebar_two .sidebar h1 {
    margin-top: 100px;
}

#barright .sidebar {
    background: #000 url(/img/templates/blogs/106/sideright.png) no-repeat top center;
}
.bloc-description {
    background: #000;
}
.sidebar_two #bloginfo {
    margin-top: 200px;
}

.date {
    font-size: 0.9em;
    border-top: 1px dotted #666;
}

.pop .blogname {
    display: none;
}
#body {
    background: #000 url(/img/templates/blogs/106/article.jpg) no-repeat bottom right;
}
.pop .bloc {
	background: #323232;
}
/* Borders */
#currentbp a, #changebp, #changebp a, .bloc, .sidebar, #promos_ads, .widget, .comment-edit, .phylactere, .bloc-description {
	border-color: #666 !important;
}
.liste-actions li {
	border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #ccc;
}

.consult,
#message_zone, .pagination select, .consult .container textarea, .consult .container select, .pop textarea, .pop select {
	background: #323232;
	color: #eee;
}
/* Colors */
.sidebar, .date, #promos_ads h2, #changebp a:hover, #load-more a, .bloc-description {
	background: #000;
}
.widget {
	background: #272727;
}
.title_tooltip {
    background: #ccc;
}
.phylactere, .section_box, .compteurs_block li {
    background: #323232;
}
/* Links */
.pop a, .suite, #bloginfo em, .sidebar a, .liste-actions a:hover, .bloc a, 
.pagination li.current a, .pagination a:hover, .pagination select, #currentbp a, #changebp a, .phylactere a {
	color: #86acc3;
}
.consult, .bloc, .sidebar, .pop, .liste-actions a, #cybercop a:hover, .pagination a, .bloc_title, .bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere {
	color: #ccc;
}

.title_tooltip {
    color: #323232 !important;
}

.pop {
    background-image: none;
}

.itemlist img, .bloc .avatar {
    border-color: #666;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #666;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #323232;
}
.phylactere.left .pointe_border {
    border-right-color: #666;
}
.phylactere.left .pointe_bg {
    border-right-color: #323232;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #666;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #323232;
}