.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.sidebar-info-bloc h3, .bloc, #promos_ads, #amis, #amis_communs, #articles_container .thumbs_infos  {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.sidebar_two .liste-amis {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-bottom: 1em;
}
/* Borders */
#currentbp a, #changebp, #changebp a, .bloc, #promos_ads, .sidebar,
.liste-actions li, .comment-item, .phylactere, .bloc-description {
	border-color: #c1c1c1 !important;
}

.title_tooltip .pointe_border {
	border-top-color: #82AB7E;
}

/* Backgrounds */
.consult {
	background: #eee;
}
#changebp a, #cybercop {
	background: #4f6f45;
}
#currentbp a, .sidebar, #changebp a:hover, .bloc_title, #promos_ads h2, #load-more a, .bloc-description  {
	background: #9ac896;
}
.widget {
	background: #fff;
}
.sidebar-info-bloc h3, .bloc .date {
	background: transparent;
}
.liste-actions li {
	background: #4f6f45;
}
.bloc, #promos_ads {
	background: #fff url(/img/templates/blogs/107/article.png) no-repeat right bottom;
}
.blocTracklist {
    border: none;
    margin-bottom: 20px;
}
#blogwhois {
	background: #9ac896 url(/img/templates/blogs/107/sideleft.png) no-repeat left bottom;
	padding-bottom: 42px;
}
.title_tooltip, .section_box, .compteurs_block li {
    background: #82AB7E;
}
/* Links & Colours */
.bloc a, .pop a, #currentbp a, #bloginfo li em, #changebp a:hover,
.pagination li.current a, .pagination a:hover, .pagination select, .phylactere a {
	color: #4f6f45;
}
.sidebar a, .sidebar, .sidebar-info-bloc h3, .suite, #changebp a, #load-more a, .bloc-description {
	color: #fff;
}
.consult, .bloc, .pop, .pagination a, .widget a, .textads a, .widget, .bloc_title a.plink {
	color: #000;
}
.liste-amis li a:hover, .liste-actions a:hover, #cybercop a:hover {
	color: #9ac896;
}
.title_tooltip {
	color: #fff !important;
}
.pop {
    background-image: none;
}

#blogwhois {
    background: transparent url(/img/templates/blogs/107/sideleft.png) no-repeat scroll left bottom;
}
.phylactere {
    background: #FFFFFF; 
}
.itemlist img, .bloc .avatar {
    border-color: #C1C1C1;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #c1c1c1;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #c1c1c1;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #c1c1c1;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}