.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
.liste-actions li {
	border: none;
}
#currentbp a, #changebp a, .sidebar, .widget, .bloc-description {
	border-color: #333 !important;
}

.title_tooltip .pointe_border {
	border-top-color: #336699;
}

.consult {
	background: #75b8c0 url(/img/templates/blogs/108/bg.jpg) repeat-x;
}
#currentbp a, #changebp a:hover, .sidebar, #load-more a, .bloc-description {
	background: #fefefe url(/img/templates/blogs/108/sidebar.jpg) repeat-x;
}
.bloc, #promos_ads, #changebp a {
	background: #cccfd2 url(/img/templates/blogs/108/article.jpg) no-repeat right bottom;
}
.title_tooltip {
    background: #336699;
}
.phylactere, .section_box, .compteurs_block li {
    background: #cccfd2;
}
#archives_slider .section_box {
    background: transparent;
}

/* Links & Colours */
.bloc a, .sidebar a, .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select, 
#currentbp a, #changebp a, .phylactere a {
	color: #336699;
}
.liste-actions a:hover, #cybercop a:hover, .pagination a {
	color: #5F2C20;
}
.consult, .bloc, .sidebar, .pop , .bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #333;
}

.title_tooltip {
    color: #fff !important;
}

.pop {
    background-image: none;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #333;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #cccfd2;
}
.phylactere.left .pointe_border {
    border-right-color: #333;
}
.phylactere.left .pointe_bg {
    border-right-color: #cccfd2;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #333;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #cccfd2;
}