.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
.consult {
	background: #c6c6c6 url(/img/templates/blogs/109/bg.jpg) repeat;
}
#changebp a {
	background: #5f0000;
}
#changebp a:hover {
	background: #8e0000;
}
#currentbp a {
	background: #DE0000;
}
#barleft .sidebar, .centry .sidebar {
	background: #8e0000 url(/img/templates/blogs/109/sideleft.jpg) top right no-repeat;
}
.sidebar_one .sidebar {
	background: #8e0000;
}
.bloc-description {
    background: #8e0000;
}
#barright .sidebar, #load-more a  {
	background: #8e0000 url(/img/templates/blogs/109/sideright.jpg) top right no-repeat;
}
.widget {
	background: #000 url(/img/templates/blogs/109/bp.jpg) bottom center no-repeat;
}
.sidebar-info-bloc h3 {
	background: none;
}
.bloc, #promos_ads {
	background: #a9a9a9 url(/img/templates/blogs/109/article.jpg) bottom right no-repeat;
}
.bloc_title, #promos_ads h2 {
	background: #c70000 url(/img/templates/blogs/109/cross.png) 10px 5px no-repeat;
}
.bloc .date {
	background-color: #aeaeae;
}
.title_tooltip {
    background: #C70000;
}
.phylactere, .section_box, .compteurs_block li {
    background: #a9a9a9;
}
/* Borders */
.sidebar-info-bloc h3, .bloc, #promos_ads, .bloc-description, .sidebar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sidebar_two .sidebar {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}
.bloc, #promos_ads, .phylactere {
	border-color: #fff;
}
#changebp a {
	border-color:  #fff;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}
#currentbp a, .sidebar, .widget, .comment-item, .bloc-description {
	border-color: #fff !important;
}
.liste-actions li {
	border: 0;
}
.textads {
	border-color: #333;
}
.title_tooltip .pointe_border {
    border-top-color: #C70000;
}

/* Links & Colours */
.consult, .sidebar, .bloc, .bloc_title a.plink, .sidebar h3 a, #load-more a, .bloc-description {
	color: #fff;
}
.bloc a, .sidebar a, .pop a, #currentbp a, .suite, #bloginfo em, .liste-actions a, #cybercop a:hover {
	color: #fffc00;
}
#changebp a, .liste-actions a:hover, #cybercop a, .pagination a {
	color: #ff6600;
}
.bloc .date, .bloc .date a {
	color: #c03434;
}
.pagination, .pagination li.current a, .pagination a:hover, .pagination select {
	color: #333;
}
.title_tooltip {
    color: #fff !important;
}

.pop {
    background-image: none;
}

.itemlist img, .bloc .avatar {
    border-color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #a9a9a9;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #a9a9a9;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #a9a9a9;
}