.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

/* Borders */
.bloc, .bloc-description, .centry .sidebar {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
}
.sidebar-info-bloc h3, .bloc, #promos_ads {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sidebar {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#changebp a {
	border: 1px solid #f2028b;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.bloc, .comment-item, .phylactere {
	border-color:  #fff;
}
#changebp a, #currentbp a, .sidebar, .widget, #promos_ads, .bloc-description {
	border-color: #f2028b !important;
}
.liste-actions li {
	border: 0;
}

/* Backgrounds */
.consult {
	background: #3e3e3e url(/img/templates/blogs/110/bg.png) top center repeat-x;
}
#changebp a {
	background: #111;
}
#currentbp a, .bloc_title, #promos_ads h2, .sidebar, #changebp a:hover, .widget, .bloc-description {
	background: #000;
}
.bloc, #promos_ads {
	background: #f2028b url(/img/templates/blogs/110/article.jpg) bottom left repeat-x;
}
.sidebar-info-bloc h3, #load-more a, .phylactere, .title_tooltip  {
	background: #f2028b;
}
.section_box, .compteurs_block li {
    background: #161616;
}
/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .bloc a, .pop a, .pagination a, .bloc_title, 
.sidebar h3 a, #load-more a, .phylactere, .phylactere a, .bloc-description {
	color: #fff;
}
.sidebar a, #changebp a, #currentbp a, .sidebar-info-bloc a, .suite, #bloginfo em, .pagination li.current a, 
.pagination a:hover, .pagination select, .liste-actions a {
	color: #0cff00;
}
.liste-actions a:hover, #promos_ads h2, .date, .date a, .bloc_title a.plink {
	color: #dd3596;
}
.title_tooltip {
	color: #fff !important;
}

.pop {
    background-image: none;
}

.liste-actions li {
    border: none;
}
.liste-amis a {
    border-color: #F2028B;
}
.title_tooltip .pointe_border {
    border-top-color: #F2028B;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    border-color: #fff !important;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #f2028b;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #f2028b;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #f2028b;
}