.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.sidebar, .sidebar-info-bloc h3, .bloc, #promos_ads {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.consult { 
	background: #ffccff url(/img/templates/blogs/111/bg.jpg);
}
#changebp a {
	background: #ff66cc;
}
#changebp a:hover {
	background: #5d023f;
}
#barleft .sidebar {
	background: #c53796 url(/img/templates/blogs/111/sideleft.jpg) top left no-repeat;
}
.centry .sidebar, .bloc-description {
    background: #c53796;
}
#barright .sidebar, #load-more a, .sidebar_one .sidebar  {
	background: #c53796 url(/img/templates/blogs/111/sideright.jpg) top left repeat-x;
}
.sidebar-info-bloc h3 {
	background: none;
}
.bloc, .widget, #promos_ads, .phylactere, .section_box, .compteurs_block li {
	background: #a1a1a1;
}
.bloc_title, #promos_ads h2 {
	background: #5e0241 url(/img/templates/blogs/111/title.jpg) right top repeat-y;
}
.date {
	background-color: #f660c4;
}
.title_tooltip {
	background-color: #791257;
}
/* Borders */
#changebp, #changebp a, .bloc, .sidebar, #promos_ads, .comment-item, .phylactere, .bloc-description {
	border-color: #ffd2f0 !important;
}
.widget, .liste-actions li {
	border: 0;
}
.title_tooltip .pointe_border {
	border-top-color: #791257;
}

/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, .bloc_title, 
.bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
	color: #fff;
}
.bloc a, .sidebar a, .pop a, .date a, .suite, #bloginfo em, #currentbp a, #changebp a, .phylactere a {
	color: #ffd800;
}
.retourblog a {
	color: #333;
}
.pagination li.current a, .pagination a:hover, .pagination select {
	color: #c53796;
}
.title_tooltip {
	color: #fff !important;
}
#currentbp a {
	height: 17px;
	border-color: #ffd2f0;
	background: #5e0340;
}

.pop {
    background-image: none;
}

.itemlist img, .bloc .avatar {
    border-color: #FFD2F0;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ffd2f0;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #a1a1a1;
}
.phylactere.left .pointe_border {
    border-right-color: #ffd2f0;
}
.phylactere.left .pointe_bg {
    border-right-color: #a1a1a1;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ffd2f0;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #a1a1a1;
}