.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
.bloc .date { font-size: 0.9em; }

.sidebar {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
/* Borders */
#changebp, #currentbp a, .bloc, .sidebar, .widget, #promos_ads, .phylactere, .bloc-description {
	border-color: #8b9705 !important;
}
.bloc img {
	border: 1px solid #8b9705;
}
#changebp a {
	border-color: #8e9700;
}
.liste-actions li {
	border-bottom: 1px solid #383b0c;
}
.comment-item {
	border-color: #aac400;
}
.title_tooltip .pointe_border {
	border-top-color: #182100;
}

/* Backgrounds */
.consult { 
	background: #6e7900 url(/img/templates/blogs/112/bg.gif) repeat;
}
#changebp a {
	background: #8f9500;
}
#currentbp a, .sidebar, #changebp a:hover, .date, .bloc-description {
	background: #383b10;
}
.bloc, #promos_ads, .centry_thumbs #articles_container .article_item {
	background: url(/img/templates/blogs/112/article.gif) repeat;
}
.widget {
	background: #182200;
}
.liste-actions li, .phylactere, .section_box, .compteurs_block li {
	background: #000;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.sidebar-info-bloc h3, #load-more a, .title_tooltip {
	background: #182100;
}
/* Links & Colours */
.pop a, .suite, #bloginfo em, .sidebar a, #currentbp a {
	color: #aac401;
}
.consult, .bloc, .sidebar, .pop, .bloc a, #changebp a, .liste-actions a:hover, .bloc-description, 
#cybercop a:hover, .pagination a, .widget a, .bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere, .phylactere a { 
	color: #ffffff;
}
.date, .pagination li.current a, .pagination a:hover, .pagination select {
	color: #040001;
}

/* Font styles */
.sidebar-info-bloc h3, #load-more a {
	padding: 0.2em 0;
    font-family: "Times New Roman", Times, Georgia, Serif;
    font-size: 1.3em;
}

.pop {
    background-image: none;
}

/* Font styles */
.sidebar-info-bloc h3 {
	background: #182100 center center no-repeat;
	padding: 0.2em 0;
    font-family: "Times New Roman", Times, Georgia, Serif;
    font-size: 1.3em;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #8b9705;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #8b9705;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #8b9705;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}