.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
.bloc .date { font-size: 0.9em; }
.bloc, #promos_ads, .bloc-description, .centry .sidebar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sidebar {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
/* Borders */
.bloc, #promos_ads, .comment-item, .phylactere {
	border-color: #fff;
}
.bloc img,
.centry_thumbs #articles_container .bloc {
	border: 1px solid #fff;
}
.liste-actions li {
	border-bottom: 1px solid #e9e9e9;
}
#changebp a,  #currentbp a, .sidebar, .widget, .itemlist img, .bloc .avatar, .bloc-description {
    border-color: #3DD300 !important;
}

.title_tooltip .pointe_border {
    border-top-color: #FFCC00;
}

/* Backgrounds */
.consult {
	background: #0b500a url(/img/templates/blogs/113/bg.gif) repeat;
}
#changebp a {
	background: #ddd;
}
#currentbp a, .sidebar, #changebp a:hover, .bloc-description {
	background: #fff;
}
.widget, .date {
	background: #009900;
}
#blogcomments  .bloc{
	background: #009900;
}
.pop {
    background-image: none;
}
.bloc {
    background:#0B500A url(/img/templates/blogs/113/bg.gif);    
}
.widget,
.phylactere, .section_box, .compteurs_block li  {
    background: #009900;
} 
#currentbp a, #changebp a:hover, .sidebar  {
    background: #fff;
}
#changebp a {
    background: #DDDDDD;
}
.sidebar-info-bloc h3, #load-more a, .title_tooltip  {
	background: #ffcc00;
}

/* Links & Colours */
.consult, .bloc, .pop, .pagination li.current a, .pagination a:hover, .bloc_title a.plink, .phylactere, .section_box {
	color: #fff;
}
.sidebar a, .pop a, .suite, #barright em, .liste-actions a, #currentbp a,  #changebp a {
	color: #009903;
}
.bloc a, #promos_ads a, .pagination a, .widget a, .phylactere a, .section_box a, .compteurs_block a {
	color: #ffcb00;
}
.sidebar, .date, .liste-actions a:hover, #cybercop a:hover, .sidebar h3 a, #load-more a, .bloc-description  {
	color: #000;
}
.title_tooltip {
	color: #000 !important;
}

/* Font styles */

.sidebar-info-bloc h3, #load-more a  {
	padding: 0.2em 0;
    font-family: "Times New Roman", Times, Georgia, Serif;
    font-size: 1.3em;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #090;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #090;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #090;
}