
.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
.bloc .date { font-size: 0.9em; }
.sidebar {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
/* Borders */
#changebp, #currentbp a, #changebp a, .bloc, .sidebar, .widget, #promos_ads, .comment-item, .phylactere, .bloc-description, .section_box, .compteurs_block li {
	border-color: #04601f !important;
}
.bloc img {
	border: 1px solid #04601f;
}
.infos img {
	border: 0;
}
.liste-actions li {
	border-color: #000;
}
.itemlist img, .bloc .avatar {
    border-color: #04601F;
}
.title_tooltip .pointe_border {
    border-top-color: #1E1E1E;
}

/* Backgrounds */
.consult { 
	background: #000 url(/img/templates/blogs/114/bg.png) top left repeat-x;
}
#changebp a {
	background: #666;
	opacity: 0.7;
}
#changebp {
	filter : alpha(opacity=70);
}
#currentbp a, .sidebar, #load-more a, .bloc-description, #changebp a:hover, .phylactere  {
	background: #000;
}
.bloc, #promos_ads, .centry_thumbs #articles_container .article_item  {
	background: url(/img/templates/blogs/114/article.gif) repeat;
}
#cybercop {
	background: #1e1e1e;
}
.liste-actions li, .date {
	background: #012700;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.pop {
    background-image: none;
}
.sidebar-info-bloc h3, #load-more a, .title_tooltip {
	background: #1e1e1e;
}
.section_box {
	background: transparent;
}

/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, .phylactere, .bloc-description  {
	color: #858585;
}
.bloc a, .sidebar a, .pop a, .bloc_title, #promos_ads h2, .suite, #bloginfo em, #currentbp a, #changebp a, .bloc_title a.plink, .phylactere a {
	color: #fff;
}
.date, .date a, .date a:hover, .pagination li.current a, .pagination a:hover, .pagination select {
	color: #01cc00;
}
.title_tooltip {
	color: #01cc00 !important;
}

/* Font styles */

.sidebar-info-bloc h3, #load-more a {
	padding: 0.2em 0;
	color: #01CC00;
    font-family: Courier, "MS Courier New", Monospace;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #04601f;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #04601f;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #04601f;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}