.date .modified_on {
    float: left;
    padding-left: 7px;
}

#favoris li, .liste-amis-verbose li {
    padding-left: 11px;
}

.consult a {
    text-decoration: none;
}

/* Font */

.sidebar-info-bloc h3, #load-more a {
	padding: 0.2em 0;
    font-family: "Times New Roman", Times, Georgia, Serif;
    font-size: 1.3em;
}

/* backgrounds */
.consult { 
    background: #fff url(/img/templates/blogs/115/bg.png) center top no-repeat;
}
#currentbp a, .sidebar, .bloc, .bloc-description {
    background: #fff;
}
#changebp a {
    background: #eee;
}
.bloc {
    background: #fff url(/img/templates/blogs/115/article.png) right bottom no-repeat;
}
.phylactere {
    background: #fff;
}
#cybercop{
    background: #f7f7f7;
}
.liste-actions, .widget, .sidebar-info-bloc h3, #load-more a, .title_tooltip {
    background: #ebebeb;
}

#favoris li, .liste-amis-verbose li {
    background: url(/img/templates/blogs/115/puce.png) left 2px no-repeat;
}
.pop {
    background-image: none;
}

.section_box, .compteurs_block li {
    background: transparent;
}

/* borders */
#currentbp a, #changebp a, .sidebar, .centry #barleft.sidebar, .bloc, .liste-actions li,
#promos_ads, .phylactere, .widget, .centry .share_zone, .liste-actions-centry li,
.itemlist img, .bloc .avatar, .bloc-description, .section_box, .compteurs_block li {
    border-color:  #cacaca !important;
}
.liste-actions {
    border-top: 1px solid #cacaca;
}
.title_tooltip .pointe_border {
    border-top-color: #EBEBEB;
}

/* colors */
.consult, .bloc, .sidebar, #load-more a, #menuTime li,
.phylactere, .pagination, .bloc-description, #changebp a,
.bloc a:hover, .sidebar a:hover, .pagination a:hover, .phylactere a:hover { 
    color: #000;
}

.bloc a, #currentbp a, .bloc_title, .bloc_title a.plink, .suite, .sidebar a, .sidebar-info-bloc h3,
.pagination a, .pagination li.current a, .phylactere a, .blogpseudo a:hover, .title_tooltip {
    color: #0063df;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #cacaca;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #cacaca;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #cacaca;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}