.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }
.bloc, #promos_ads, .widget, .bloc-description, .sidebar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date, .sidebar_two .sidebar {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}
/* Borders */
#currentbp a, #changebp a, .bloc, .sidebar, #promos_ads, .widget, .phylactere, .bloc-description {
	border-color: #ffe588 !important;
}
.liste-actions li, .comment-item {
	border-color: #7f8fa8;
}

.title_tooltip .pointe_border {
    border-top-color: #fff;
}

/* Backgrounds */
.consult { 
	background: #fe0000 url(/img/templates/blogs/116/bg.jpg) top center repeat-x;
}
#changebp a {
	background: #ffe588 url(/img/templates/blogs/116/change.gif) top repeat-x;
	color:#333;
}
#currentbp a {
	background: #d76e01 url(/img/templates/blogs/116/current.gif) bottom repeat-x;
	color: #000;
}
.sidebar, .bloc-description {
	background-color: #d76e01;
}
#barleft .sidebar, #barright .sidebar, .sidebar_one .sidebar {
	background: #d76e01 url(/img/templates/blogs/116/sideleft.jpg) top center repeat-x;
}
.widget, .section_box, .compteurs_block li {
	background: #fff url(/img/templates/blogs/116/widget.gif) top repeat-x;
}
.bloc, #promos_ads {
	background: #fff url(/img/templates/blogs/116/article-top.jpg) top repeat-x;
}
.phylactere, .title_tooltip {
	background: #fff;
}
.date {
	background: #e7bc48;
	color: #fff;
}
.liste-actions li {
	background: #fffcf9;
}
#cybercop {
	background: #fffcf9;
	-moz-border-radius: 0px;
}
#changebp {
	border-bottom: none;
}
.sidebar-info-bloc h3, #load-more a   {
	background: #FFFCF9 ;
}

/* Links & Colours */
.bloc a, .sidebar a, .pop a, .commentaires, .liste-actions a:hover, .suite, #bloginfo em, .pagination select, .phylactere a {
	color: #f00100;
}
.consult, .bloc, .sidebar, .pop, .liste-actions a, #cybercop a, .pagination, .pagination label, 
.pagination a, .widget, .widget a, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
	color: #000;
}
.title_tooltip {
	color: #000 !important;
}
.bloc_title a.plink {
    color: #2B343D;
}
.date a {
	color: #fff;
}
.retourblog a {
	color: #ffe588;
}
#changebp a {
	color: #333;
}
.pagination li.current a, .pagination a:hover {
	color: #e7bc48;
}
.pop {
    background-image: none;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ffe588;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #ffe588;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ffe588;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}