.container, .bloc, .sidebar, #currentbp a, #changebp a {
    font-family: Times, TimesNR, New Century Schoolbook;
}
#currentbp a {
    font-size: 1.1em;
}

/* Borders */

.bloc, #promos_ads, .date, .widget, .sidebar-info-bloc h3, .bloc-description, .sidebar  {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sidebar_two .sidebar, .date {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-bottom-top-radius: 0;
}

#currentbp a, #changebp a, .bloc, .sidebar, .liste-actions li, #promos_ads, .widget, .comment-item, .phylactere, .bloc-description, .liste-actions-centry li {
	border-color: #e6bcc6 !important;
}
#cybercop {
	-moz-border-radius: 0;
}
.title_tooltip .pointe_border {
    border-top-color: #FF2130;
}

/* Backgrounds */

.consult { 
	background: #fff url(/img/templates/blogs/117/bg.jpg) center top no-repeat;
}
.pop, .widget, .date, .section_box, .compteurs_block li {
	background: #ffdee9;
}
#changebp a {
	background: #f6d0db;
	color: #670000;
}
#currentbp a, .liste-actions li {
	background: #fff;
	color: #000;
}
#barright .sidebar, .sidebar_one .sidebar {
	background: #fff url(/img/templates/blogs/117/sideright.gif) bottom center no-repeat;
}
#barleft .sidebar {
	background: #fff url(/img/templates/blogs/117/sideleft.gif) bottom center repeat-x;
}
.centry .sidebar, .bloc-description {
    background: #fff;
}

.bloc {
	background: #fff url(/img/templates/blogs/117/article-bottom.gif) bottom right no-repeat;
}
.phylactere {
	background: #fff none;
}
.sidebar-info-bloc h3, #load-more a, .title_tooltip {
	background:  #ff2130;
}
.sidebar #bloginfo h3 {
  background: none;
  color: #000000;
}
#favoris {
    clear: both;
}
/* Links & Colours */

.bloc a, .sidebar a, .pop a, .commentaires, .liste-actions a:hover, .suite, .pagination select, .date a, .date, .phylactere a {
	color: #ff2130;
}
.consult, .bloc, .sidebar, .liste-actions a, #cybercop a, .pagination, .pagination label, .pagination a, .widget, .phylactere, .bloc-description {
	color: #333;
}
.widget a {
  color: #000;
}
.pagination li.current a, .pagination a:hover, .pagination .next a {
	color: #ff2130;
}

.sidebar-info-bloc h3, .sidebar-info-bloc h3 a, #load-more a, .title_tooltip {
    color: #fff !important;
}

.bloc_title a.plink {
    color: #2B343D;
}

.pop {
    background-image: none;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #e6bcc6;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #e6bcc6;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #e6bcc6;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}