.container {
    font-family: Times, TimesNR, New Century Schoolbook;
    font-size: 13px;
}
.bloc {
    font-family: Times, TimesNR, New Century Schoolbook;
}
/* Borders */
.bloc, #promos_ads, .bloc-description, .sidebar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.date, .sidebar_two .sidebar {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}

.sidebar-info-bloc h3 {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#cybercop {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#currentbp a, #changebp a, .bloc, .sidebar, #promos_ads, .phylactere, .bloc-description {
	border-color: #330000 !important;
}
.liste-actions li {
	border-bottom: #7c0507 1px solid;
}
.widget {
  border: none;
  padding: 10px;
}

#changebp {
	border-bottom: 1px solid #330000;
}

.title_tooltip .pointe_border {
    border-top-color: #d0b25a;
}

/* Backgrounds */
.consult {
	background: #a0070a url(/img/templates/blogs/118/bg.jpg) center top no-repeat;
}
#barright .sidebar {
	background: #7c0507 url(/img/templates/blogs/118/sideright.jpg) bottom center no-repeat;
}
#barleft .sidebar {
	background: #7c0507 url(/img/templates/blogs/118/sideleft.jpg) bottom center repeat-x;
}
.sidebar, .bloc-description {
	background-color: #7c0507;
}
#changebp a, #currentbp a {
    background: #7c0507;
}
.widget {
	background: #330000 url(/img/templates/blogs/118/widget-bottom.jpg) center bottom no-repeat;
	color: #ffffff;
	padding-top: 0;
	padding-bottom: 30px;
	border: none;
	text-align: center;
}
.widget h3 {
	background: #330000 url(/img/templates/blogs/118/widget-top.jpg) center top no-repeat;
	margin: 0;
	padding: 25px 15px 0;
	height: 41px;
}
.bloc, #promos_ads {
  	background: #fff url(/img/templates/blogs/118/article-bottom.png) bottom center no-repeat;
}
.phylactere, .section_box, .compteurs_block li {
  	background: #fff none;
}
.date {
	background-color: #7c0507;
}
.liste-actions li, #cybercop {
	background: #540000;
}
.sidebar-info-bloc h3, #load-more a   {
	background: url(/img/templates/blogs/118/title.jpg) center top repeat;
	color: #000;
	margin: 10px 0;
}
#bloginfo h3 {
  background: none;
  border: none;
}
.title_tooltip {
    background: #d0b25a;
}

/* Links & Colours */
.bloc a, .sidebar a, .pop a, .commentaires, .liste-actions a:hover, .suite, .pagination select, .date a, .date, .phylactere a, .compteurs_block li {
  color: #fe0000;
}
.sidebar, .liste-actions a, .sidebar_two #cybercop a, .widget, #changebp a, #currentbp a , #bloginfo h3, 
.retourblog a, .widget a, .bloc-description {
	color: #ffffff;
}
.phylactere a, .pagination li.current a, .pagination a:hover {
  color: #fe0000;
}
.consult, .pagination a, .bloc, .sidebar h3 a, #load-more a, .phylactere, .section_box {
	color:#000;
}
.title_tooltip {
    color:#000 !important;
}
.liste-amis-verbose li {
  list-style: inside none;
  list-style-image: url(/img/templates/blogs/118/puce.gif);
}
.bloc_title a.plink {
    color: #2B343D;
    text-decoration: none; 
}
.addmusic {
    display: block;
    text-align: left;
    margin: 0 auto 0 10px;
    background-position: 5px 5px;
}
.pop {
    background-image: none;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #330000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #330000;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #330000;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}