.bloc .date {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/* Borders */
.bloc, #promos_ads, .widget, .sidebar-info-bloc h3, .bloc-description, .sidebar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sidebar_two .sidebar {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}

#cybercop {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
#currentbp a, #changebp a, .bloc, .sidebar, #promos_ads, .widget, .bloc-description {
	border-color: #fff !important;
}
.phylactere {
	border-color: #fff;
}
.liste-actions li, .comment-item, #blogprofil .phylactere, .liste-actions-centry li {
	border-color: #c7c38f;
}

.title_tooltip .pointe_border {
    border-top-color: #fff;
}

/* Backgrounds */

.consult { 
	background: #1c1e20 url(/img/templates/blogs/119/bg.jpg) center top repeat-x;
}
.date, .liste-actions li {
	background-color: #fefefe;
}
.widget, .section_box, .compteurs_block li {
	background: #fefefe url(/img/templates/blogs/119/widget.gif) top repeat-x;
}
#currentbp a, #changebp a {
	color: #000;
}
#currentbp a {
  background: #b6b283  url(/img/templates/blogs/119/current.gif) center 5px repeat-x;
}
#changebp a {
  background: #5c5a3c  url(/img/templates/blogs/119/change.gif) center 5px repeat-x;
}
.date {
	background: url(/img/templates/blogs/119/article-bottom.jpg) top repeat-x;
}
#barright .sidebar {
	background: url(/img/templates/blogs/119/sideright.jpg) top center repeat-x;
}
#barleft .sidebar, .sidebar_one .sidebar {
	background: url(/img/templates/blogs/119/sideleft.jpg) top center repeat-x;
}
.centry .sidebar, .bloc-description {
	background: #b6b492;
}

.bloc {
	background: #fff url(/img/templates/blogs/119/article.jpg) top left repeat-x;
}
.sidebar-info-bloc h3, #load-more a   {
	background:  #fefefe;
	color: #000;
}
.phylactere, .title_tooltip {
    background: #fff;
}

/* Links & Colours */

.sidebar a, .bloc_title, #promos_ads h2, #barright em, #changebp a, #promos_ads_left, .bloc_title a.plink {
	color: #fff;
}
.bloc a, .pop a, .liste-actions a:hover, .suite, .suite a, .pagination select, .date, .date a, .phylactere a, #cybercop a, #cybercop {
	color: #7b1616;
}
.sidebar, .bloc, .liste-actions a, .sidebar h3 a, #load-more a, .bloc-description,
.widget, .widget a, .section_box a, .compteurs_block a, .pagination li.current a, .pagination a:hover {
	color: #000;
}
.widget, .widget a {
    text-decoration: none;
}

.title_tooltip {
    color: #000 !important;
}
.pop {
    background-image: none;
}
.itemlist img, .bloc .avatar {
    border-color: #FFFFFF;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border,
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border,
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}
#blogprofil .phylactere {
    border-color: #c7c38f;
}
#blogprofil .phylactere .pointe_border{
    border-bottom-color: #c7c38f;
}