.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp, #changebp a, #promos_ads, .widget, .comment-item, .phylactere, .bloc-description {
    border-color: #000 !important;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #9C0000;
}

/* Colors */
.consult, .widget, .phylactere, .compteurs_block li, .section_box {
    background: #FFCACD;
}
#currentbp a, .sidebar, #changebp a:hover, #load-more a, .bloc-description {
    background: #670001;
}
.date, .bloc_title, #promos_ads h2, .title_tooltip {
    background: #9C0000;
}
.pop #blogcomments .bloc {
    background: #FFCACD;
}

/* Links & Colours */
.sidebar, .pop, .bloc_title, #promos_ads h2, .date, .bloc_title a.plink, #changebp a:hover,
.liste-actions a:hover, #cybercop a:hover, .sidebar h3 a, #load-more a, .bloc-description {
    color: #fff;
}
.bloc a, .sidebar a, .pop a, .date a, .suite, #bloginfo em, .pagination a, #changebp a,
#currentbp a, .phylactere a {
    color: #666600;
}
.consult, .bloc, .widget, .pagination li.current a, .pagination a:hover {
    color: #000;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #FFCACD;
}
.phylactere.left .pointe_border {
    border-right-color: #000;
}
.phylactere.left .pointe_bg {
    border-right-color: #ffcacd;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #000;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #ffcacd;
}