/* Habillage - blog - ice */

/* Borders */
.bloc, #promos_ads, .bloc-description, .widget, .sidebar-info-bloc h3, .sidebar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.sidebar_two .sidebar {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}
#currentbp a, #changebp a, .bloc, .sidebar, .centry #barleft.sidebar, .sidebar_one #barleft.sidebar, #promos_ads {
	border-color: #fff;
}
.widget, .phylactere  {
	border-color: #979289;
}
.liste-actions li, .comment-item, .article_content_menu, #blogcomments  {
	border-color: #b7e0e5;
}
#cybercop {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.pagination select {
	border-color: #979289;
}
.title_tooltip .pointe_border {
    border-top-color: #fff;
}

/* Backgrounds */

.consult { 
	background: #003c4e url(/img/templates/blogs/120/bg.jpg) center top repeat-x;
}
.pop {
	background: #003c4e;
}
.widget, .section_box, .compteurs_block li {
	background: #fefefe url(/img/templates/blogs/120/widget.gif) top repeat-x;
}
.liste-actions li, .title_tooltip {
	background-color: #fff
}
#currentbp a {
	background: #00748c;
}
#changebp a {
	background:  #4dc6d4 url(/img/templates/blogs/120/change.gif) center 5px repeat-x;
}
.date {
	background: #b7e0e5 ;
}
.sidebar {
	background: url(/img/templates/blogs/120/sidebar.gif) top center repeat-x;
}

.centry #barleft.sidebar {
    background: #fff;
    background: rgba(255, 255, 255, 0.4);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff)";
    background: transparent\9;
}

.bloc-description {
    background: #fff;
}

.bloc {
	background:  #fff url(/img/templates/blogs/120/article.jpg) top left repeat-x;
}
.phylactere  {
	background: #fff none;
}

.sidebar-info-bloc h3, #cybercop, #load-more a   {
	background-color: #fefefe;
}
#favoris {
	clear: both;
}
/* Links & Colours */

.blogtitle, .bloc a, .sidebar a, .pop a, .pagination select, #currentbp a, .phylactere  a {
	color: #003c4e;
}
.consult, .bloc , .sidebar, .pop, .suite, .bloc_title a.plink, .sidebar a, .sidebar-info-bloc h3, .pagination a, .sidebar h3 a, #load-more a, .phylactere {
	color: #000;
}
#promos_ads_left, #promos_ads_left a, #changebp a, .pagination li.current a, .pagination a:hover, #barright em, .itemlist img, .bloc .avatar {
	color: #fff;
}
.title_tooltip {
    color: #000 !important;
}
.pop {
    background-image: none;
}

/* Nouveaux ciblages pour les bulles de MOOD */

.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #979289;
}

.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #979289;
}

.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #979289;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}