.widget {
    padding: 0 12px 20px;
}

.consult a {
    text-decoration: none;
}

/* Borders */
.bloc, .textads, .sidebar, .bloc-description {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar_two .sidebar {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
}
#currentbp a, #changebp a, .bloc, .sidebar, .liste-actions li, #promos_ads, .comment-item, .phylactere,
.centry #barleft.sidebar, .sidebar_one #barleft.sidebar, .centry_thumbs #articles_container .bloc {
    border-color: #fff;
}
.bloc-description, .section_box, .compteurs_block li {
    border: 1px solid #fff;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.widget {
    border: none;
    -moz-border-radius: 0;
}
.title_tooltip .pointe_border {
    border-top-color: #E30399;
}

/* Backgrounds */
.consult { 
    background: #000 url(/img/templates/blogs/121/bg.jpg) center top repeat-x;
}
.date {
    background: #666 url(/img/templates/blogs/121/article.gif) center bottom repeat-x !important;
}
.pop, .bloc, .liste-actions li {
    background: #000;
}
.widget {
    background: url(/img/templates/blogs/121/widget-bottom.jpg) no-repeat bottom; 
    text-align: center;
}
.widget h3 {
    background: url(/img/templates/blogs/121/widget-top.jpg) no-repeat -5px 0; 
    margin: 0;
    padding-bottom: 20px;
}
#currentbp a, .phylactere {
    background: #000; 
}
#changebp a {
    background: #fff; 
}
.sidebar {
    background:#000 url(/img/templates/blogs/121/sidebar.gif) bottom center repeat-x;
}
.sidebar-info-bloc h3, #load-more a   {
    background: url(/img/templates/blogs/121/title.jpg) no-repeat center top;
}
.title_tooltip {
    background: #E30399;
}
.section_box, .compteurs_block li {
    background: transparent;
}

/* Links & Colours */

.consult, .bloc, .sidebar, .bloc_title, .bloc_title a.plink, #load-more a, #menuTime li,
.phylactere, .pagination, .bloc-description, #currentbp a, .sidebar-info-bloc h3, .sidebar-info-bloc h3 a,
.sidebar-info-bloc h3 a:hover, .bloc a:hover, .sidebar a:hover, .pagination a:hover { 
    color: #fff;
}

#changebp a {
    color: #000;
}

.blogtitle, .bloc a, .suite, .sidebar a, .pagination a, .pagination li.current a, .phylactere a, .widget,
.widget a:hover, .blogpseudo a:hover {
    color: #e30399;
}

.title_tooltip, .phylactere a:hover  { 
    color: #fff !important;
}

/* puces */
#favoris li {
    padding-left: 15px;
    background: url(/img/icons/icon_blog.png) left 2px no-repeat;
}

.pop {
    background-image: none;
}
.itemlist img, .bloc .avatar {
    border-color: #E30399;
}
.widget h3 {
    margin-top: 0;
}
.widget h3 {
    padding: 5px 15px;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}