.bloc, #promos_ads, .widget {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottom-left: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottom-right: 5px;
}
.consult { 
    background: #005def url(/img/templates/blogs/122/bg.jpg) center top no-repeat; 
    font-family: verdana, sans-serif !important;
}
.bloc {
    background: #fff url(/img/templates/blogs/122/article.jpg) right bottom no-repeat;
}
#currentbp a, .sidebar {
    background: #fff;
}
#changebp a {
	background: #dee3f7;
}
#currentbp a, #changebp a, .sidebar {
    border-color:  #ebebeb;
}
.bloc, #promos_ads, .phylactere {
    border-color:  #ffdf08;
}

#changebp a:hover {
    background-color: #fff;
}
#promos_ads {
    background: #fff;
}
.bloc_title {
    color: #333;
    font-size: 1.5em;
}
.date {
    background: #de7519;
}
.bloc .date .modified_on {
    float: left;
    padding-left: 7px;
}
#cybercop{
    background: #f0f4f5;
}
.liste-actions {
    background: #f0f4f5;
    border-top: 1px solid #ebebeb;
}
.liste-actions li {
    border-bottom: 1px solid #ebebeb;
}
.sidebar .widget {
    background: #f0f4f5;
    border-color: #ebebeb;
}
#favoris li {
    padding-left: 20px;
    background: url(/img/templates/blogs/122/puce.gif) left top no-repeat;
}
#favoris li a {
    color:#0063da;
}
#favoris li a:hover {
    color: #77a4d9;
}
.liste-amis-verbose li {
    padding-left: 20px;
    background: url(/img/templates/blogs/122/puce.gif) left top no-repeat;
}
.liste-amis-verbose a {
    color:#0063da;
}
.liste-amis-verbose a:hover {
    color: #77a4d9;
}
.date {
    color: #b50000;
}
.date a {
    color: #fff !important;
}
.sidebar-info-bloc h3 {
	background: #dee3f7;
	padding: 0.2em 0;
}
.liste-actions a {
    font-weight: bold;
}
.close a, .pagination a, .pagination li.current a:hover {
    color:  #ffdf08;
}
.consult, .pagination a:hover, .pagination li.current a {
    color: #fff;
}
.liste-actions a:hover {
    color: #6b356b;
}
#blogcontent {
    margin-bottom: -180px;
    padding-top: 180px;
}
.bloc_title a.plink {
    color: #333;
    text-decoration: none; 
}
.container .tracklist .current a { 
    color: #efefef; 
} 
.pop {
    background-image: none;
}
.sidebar-info-bloc h3, #load-more a  { 
    background: #F0F4F5;
}
#zoomedvideo-details {
    background: #aab9cc;
}
.phylactere {
    background: #fff;
}
.itemlist img, .bloc .avatar {
    border-color: #6c6962;
}
.sidebar h3 a, #load-more a {
    color: #2b343d;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ffdf08;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #ffdf08;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ffdf08;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}