#blogcontent {
    margin-bottom: -180px;
    padding-top: 180px;
}

/* Borders */
.bloc, .textads, .sidebar-info-bloc h3 {
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#currentbp a, #changebp a, .bloc, #promos_ads, .sidebar, .widget, .phylactere {
    border-color: #ffca00;
}
.liste-actions li, .comment-item {
    border-color: #efdfcf;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/* Backgrounds */
.consult {
    background: #000 url(/img/templates/blogs/123/bg.jpg) center top no-repeat;
}
.bloc {
    background: #000 url(/img/templates/blogs/123/article.jpg) 0px 3px no-repeat;
}
.phylactere {
    background: #000;
}
.date {
    opacity: 0.75;
    filter: alpha(opacity=75);
    background: #312810;
}
.bloc_title, #promos_ads h2 {
   background: #ffca00;
}
.widget, .liste-actions li {
    background: #fff;
}
#currentbp a, #changebp a {
    background: #000 url(/img/templates/blogs/123/sidebar.jpg) top center repeat;
}
#changebp a:hover {
    background: #fff;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.textads {
  background:#000;
}
.sidebar {
   background:#000 url(/img/templates/blogs/123/sidebar.jpg) top center repeat-x;
}
#cybercop, .sidebar-info-bloc h3, #load-more a   {
   background: #efdfcf;
}

/* Links & Colours */
.commentaires, .bloc a, .pop, .pop a, .bloc, .sidebar, .pagination a, .pagination a:hover, .pop a, .phylactere ,.phylactere a {
   color:#fff;
}
.date a {
   color: #fff !important;
}
.pagination, .pagination label, .sidebar a, .suite, .suite a, #changebp a, #currentbp a  {
   color: #ffca00;
}
.consult, .bloc_title, #promos_ads h2, .liste-actions a, #cybercop a, .widget, .widget h3 a, .sidebar-info-bloc h3 span, .sidebar-info-bloc h3, .pagination select, #changebp a:hover, #load-more a {
 	color: #000;
    text-decoration: none; 	
}
.widget a, .liste-actions a:hover {
 	    color: #005da6;
}
.bloc_title, #promos_ads h2 {
    font-size: 1em;
}
.bloc_title a.plink {
    color: #333 !important;
    text-decoration: none; 
}
.pop {
    background-image: none;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ffca00;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #ffca00;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ffca00;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}