/* Backgrounds et borders */

.consult {
    background: #000 url(/img/templates/blogs/124/bg.jpg) center top no-repeat;
}
.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#currentbp a, .bloc,#promos_ads, .sidebar, .widget, .comment-item, .phylactere, .bloc-description, .article_content_menu, #blogcomments {
    border-color: #830d35 !important;
}
#changebp a {
    background-color: #000;
    border-color: #000;
}
#changebp a:hover {
    background-color: #2d2d2d;
}
#barleft .sidebar {
    background: #000 url(/img/templates/blogs/124/sidebar_g.jpg) left top no-repeat;
}
#barright .sidebar, .sidebar_one .sidebar {
    background: #000 url(/img/templates/blogs/124/sidebar_d.png) left top repeat-x;
}
.centry #barleft.sidebar {
    background: #fff;
    background: rgba(255, 255, 255, 0.4);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff,endColorstr=#66ffffff)";
    background: transparent\9;
}

.bloc-description {
    background: #000;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.liste-actions li {
    background: #fff;
    border-bottom-color: #7c0244;
}
#currentbp a, #bloginfo h3 {
    background: #e1037c;
}
.bloc {
    background: #000 url(/img/templates/blogs/124/article.png) center bottom repeat-x;
}
#blogprofil {
    border: none;
    background: #000 url(/img/templates/blogs/124/profil.png) center top no-repeat;
}
#blogprofil .mini-profil a , #blogprofil .mini-profil img {
    border-color: #54504a;
}
.title_tooltip .pointe_border {
    border-top-color: #FE018B;
}
.pop {
    background-image: none;
}
.phylactere, .compteurs_block li, .section_box {
    background: #000;
}
.title_tooltip {
    background: #FE018B;
}
.sidebar_two #musicwidget {
    background: #fff;
}
.sidebar_two #musicwidget,
.sidebar_two #musicwidget a {
    color: #000;
}

/* colors */
#currentbp a, #musicwidget {
    color: #000;
}
.consult, .bloc, .sidebar, .sidebar a, #bloginfo em, .liste-amis h3, .suite, .suite a, .date, .date a, .bloc-description, 
.pagination li.current a, .pagination a:hover, .pagination select, #bloginfo h3, #bloginfo ul li, #load-more a, .phylactere, .section_box {
    color: #fff;
}
#changebp a {
    color: #e06b91;
}
.liste-actions a {
    color: #353330;
}
.liste-actions a:hover, #cybercop a:hover {
    color: #f00;
}
.bloc a, .pop a, .bloc_title a.plink, .bloc_title, .commentaires, .commentaires a, .pagination a, .phylactere {
    color: #fe018b;
}
.title_tooltip, .title_tooltip:hover {
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #830d35;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #830d35;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #830d35;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}