/* Backgrounds et borders */

.consult {
    background: #2e1512 url(/img/templates/blogs/127/bg.jpg) center top repeat;
}
.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bloc,#promos_ads, .sidebar, .widget, .comment-item {
    border-color: #fff !important;
}
#currentbp a {
    border-color: #ef055d;
    background: #e50259;
    background: rgba(229,2,89,0.85);
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8e50259,endColorstr=#d8e50259);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8e50259,endColorstr=#d8e50259)";
    background: transparent\9;
}
#changebp a {
    background-color: #ee8ce6;
    border-color: #f590ed;
}
#changebp a:hover {
    background-color: #dd8dad;
}
.sidebar {
    background: #eb025b;
    background: rgba(235,2,91,0.85);
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8eb025b,endColorstr=#deb025b);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8eb025b,endColorstr=#d8eb025b)";
    background: transparent\9;
    border-color: #ef055d;
}
.sidebar-info-bloc h3, .bloc-description, .title_tooltip  {
    background: #2e1512;
}
.sidebar-info-bloc h3, .bloc-description {
    border: 1px solid #2e1512;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.liste-actions li {
    background: #2e1512;
    border-bottom-color: #ff0073;
}
.widget h3, #bloginfo h3 {
    background: none;
    border: 0;
}
.bloc, .phylactere, .compteurs_block li, .section_box {
    background: #fff;
}
#blogprofil .mini-profil a , #blogprofil .mini-profil img {
    border-color: #54504a;
}
#cybercop {
    background: #e2e2e2;
}
.pop {
    background-image: none;
}
.widget {
    background: #f7f7f7;
    border-color: #cfcfcf;
}
.bloc .image-container img, .bloc .text-image-container img {
    border: 4px solid #fb0162;
    max-width: 600px;
}
.content_large .bloc img {
    max-width: 752px;
}
.date {
    background: #2e1512;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.phylactere {
    border-color: #fff;
}
.title_tooltip .pointe_border {
    border-top-color: #2e1512;
}
/* colors */
.sidebar_two #cybercop a {
    color: #000;
}
.consult, .liste-amis h3, .suite, .suite a, #load-more a, .widget, .widget a,
.sidebar, .sidebar a,  #bloginfo h3, #barright em,  #bloginfo ul li {
    color: #fff;
}
.sidebar-info-bloc h3, .sidebar-info-bloc h3 a, .bloc-description {
    color: #ff0073;
}
.title_tooltip {
    color: #ff0073 !important;
}
.pop a, .bloc_title a.plink, .bloc_title, .pagination, .bloc a, .pagination a {
    color: #fb0162;
}
#currentbp a, #changebp a {
    color: #fff;
}
.widget, .widget a {
    color: #595959;
}
.widget h3, .widget h3 a {
    color: #000;
}
.bloc, .phylactere, .phylactere a, .section_box, .section_box a, #bloginfo .compteurs_block li, .compteurs_block a {
    color: #888;
}
.commentaires, .commentaires a, .date, .date a {
    color: #fb0162 !important;
}
.liste-actions a {
    color: #ff0073;
}
.liste-actions a:hover {
    color: #f1f1f1;
}
#cybercop a:hover {
    color: #000;
}
.pagination select {
    color: #000;
}
/* Nouveaux ciblages pour les bulles de MOOD */

.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}

#blogprofil .phylactere.top_left .pointe_border {
    border-bottom-color: #fb0162;
}
#blogprofil .phylactere {
    border-color: #fb0162
}