/* Backgrounds et borders */

.consult {
    background: #fff url(/img/templates/blogs/129/bg.jpg) center top repeat;
}
.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos  {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#currentbp a, .bloc,#promos_ads, .sidebar, .widget, .comment-item, .bloc-description {
    border-color: #fff !important;
}
#changebp a {
    background-color: #5c5c5c;
    border-color: #656565;
}
#changebp a:hover {
    background-color: #666;
}
.sidebar, .bloc-description, .phylactere, .compteurs_block li, .section_box {
    background: #fff;
}
.title_tooltip {
    background: #009FC1;
}
.sidebar_two .sidebar h3 {
    background: #fff;
    border: 1px solid #00d2ff;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.liste-actions li {
    background: #ebebeb;
    border-bottom-color: #fff;
}
#currentbp a {
    background: #fff;
}
.widget h3, #bloginfo h3 {
    background: none;
    border: 0;
}
.bloc {
    background: #fff;
}
#blogprofil .mini-profil a , #blogprofil .mini-profil img {
    border-color: #54504a;
}
#cybercop {
    background: #e2e2e2;
}
.pop {
    background-image: none;
}
.widget {
    background: #fafafa;
    border-color: #cfcfcf;
}
.bloc .image-container img, .bloc .text-image-container img {
    border: 4px solid #5a5a5a;
    max-width: 600px;
}
.content_large .bloc img {
    max-width: 752px;
}
.date {
    background: #e7e5e5;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.phylactere, .section_box, .compteurs_block li {
    border-color: #6d6d6d;
}
.title_tooltip .pointe_border {
    border-top-color: #009FC1;
}
/* colors */
.sidebar_two #cybercop a {
    color: #000;
}
.liste-amis h3, .suite, .suite a, .pagination li.current a, .pagination a:hover, #load-more a, .widget, .widget a {
    color: #000;
}
.sidebar, .sidebar a,  #bloginfo h3, #bloginfo ul li, .bloc-description {
    color: #888888;
}
#bloginfo em {
    color: #000;
}
#currentbp a, .pop a, .pagination, .pagination a {
    color: #00d2ff;
}
.bloc_title, .bloc_title a.plink {
    color: #009fc1;
}
#changebp a {
    color: #00d2ff;
}
.widget, .widget a , .bloc, .bloc a, .sidebar h3, .sidebar h3 a, .phylactere, .phylactere a {
    color: #888;
}
.commentaires, .commentaires a, .pagination, .pagination a {
    color: #000;
}
.date, .date a {
    color: #6d6d6d;
}
.liste-actions a {
    color: #6d6d6d;
}
.liste-actions a:hover {
    color: #959393;
}
#cybercop a:hover {
    color: #000;
}
.pagination select {
    color: #000;
}
.consult, .title_tooltip {
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #6d6d6d;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #6d6d6d;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #6d6d6d;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}