/* Backgrounds et borders */

.consult {
    background: #000 url(/img/templates/blogs/130/bg.jpg) center top no-repeat;
}
.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#promos_ads, .sidebar, .comment-item {
    border-color: #f3e789;
}
#currentbp a {
    border-color: #028193;
    background: #000;
    background: rgba(0,0,0,0.85);
}
#changebp a {
    background-color: #2b2b2b;
    border-color: #2f2f2f;
    border-bottom: 1px solid #028193;
}
.bloc, .phylactere, .compteurs_block li, .section_box {
    border-color: #b60c9e;
}

.bloc-description, .sidebar_one .sidebar, .centry_thumbs #articles_container .bloc {
    border: 1px solid #1898A4 !important;
}

.centry #barleft.sidebar {
    border-color: #fff !important;
}


#changebp a:hover {
    background-color: #1a1a1a;
}
.widget {
    border-color: #2d2d2d;
}
#sidebar-left .widget {
    background: #00090c url(/img/templates/blogs/130/sidebar-left.jpg) center top repeat-x !important;
}
#sidebar-right .widget {
    background: #030002 url(/img/templates/blogs/130/sidebar-right.jpg) center top repeat-x !important;
}
#sidebar-left, #sidebar-left a{
    color: #00e7ff;
    border-color: #0786a0;
}
#sidebar-right, #sidebar-right a {
    color: #ff00b4;
    border-color: #b40776;
}
#sidebar-left {
    background: #000 url(/img/templates/blogs/130/sidebar-bottom-left.jpg) center bottom no-repeat;
    background: rgba(0,0,0,0.85) url(/img/templates/blogs/130/sidebar-bottom-left.jpg) center bottom no-repeat;
    background: transparent url(/img/templates/blogs/130/sidebar-bottom-left.jpg) no-repeat center bottom\9;
}
#sidebar-right {
    background: #000 url(/img/templates/blogs/130/sidebar-bottom-right.jpg) center bottom no-repeat !important;
    background: rgba(0,0,0,0.85) url(/img/templates/blogs/130/sidebar-bottom-right.jpg) center bottom no-repeat !important;
    background: transparent url(/img/templates/blogs/130/sidebar-bottom-right.jpg) no-repeat center bottom\9;
}
#sidebar-left h3 {
    border: 1px solid #03d5e9;
    background: #000;
    color: #fff;
}
#sidebar-right h3{
    border: 1px solid #ff0096;
    background: #000;
}
#sidebar-right h3, #sidebar-right h3 a {
    color: #fff;
}
.sidebar .widget h3 {
    border: 0 !important;
    background: none !important;
}
.centry .sidebar, .bloc-description {
    background: #000;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.liste-actions li {
    background: #000;
    border-bottom-color: #011e25;
}
.widget h3, #bloginfo h3 {
    background: none;
}

.bloc, .centry #barleft.sidebar, .bloc-description, .sidebar_one .sidebar, .compteurs_block li, .section_box {
    background: #000;
    background: rgba(0,0,0,0.55);
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8d000000,endColorstr=#8d000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#8d000000,endColorstr=#8d000000)";
    background: transparent\9;
}

.bloc:not(zz) {
    filter: none;
    -ms-filter: none;
    background: rgba(0,0,0,0.55);
}

body.mceContentBody {
    -ms-filter: none;
    filter: none;
}
#blogprofil .mini-profil a , #blogprofil .mini-profil img {
    border-color: #54504a;
}
#cybercop {
    background: #eee3ce;
}
.liste-amis h3, .phylactere {
    background: #000;
}
.title_tooltip {
    background: #1898A4;
}
.title_tooltip .pointe_border {
    border-top-color: #1898A4;
}
.bloc .image-container img, .bloc .text-image-container img {
    border: 4px solid #03d5e9;
    max-width: 600px;
}
.content_large .bloc img {
    max-width: 752px;
}
#bloginfo h3 {
    border: 0;
}
/* colors */
.consult, .bloc, .bloc a, .pop a, .bloc_title a.plink, .bloc_title, .sidebar, .sidebar a,
 #bloginfo em, .liste-amis h3, .date, .date a, .pagination li.current a, .bloc-description,
.pagination a:hover, #bloginfo h3, #load-more a, .widget, .widget a, .phylactere, .phylactere a {
    color: #fff;
}
#currentbp a, #changebp a {
    color: #f7ec8f;
}
.liste-actions a {
    color: #ada9a4 !important;
}
.liste-actions a:hover {
    color: #fff !important;
}
#cybercop a:hover {
    color: #f00;
}
.pagination select {
    color: #000;
}
.commentaires, .commentaires a, .pagination, .pagination a {
    color: #1898a4;
}
#bloginfo ul li, .suite, .suite a {
    color: #ff00b4;
}
.widget a, .title_tooltip {
    color: #fff !important;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ff00b4;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #ff00b4;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ff00b4;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}