/* Backgrounds et borders */

.consult {
    background: #fff url(/img/templates/blogs/132/bg.jpg) center 40px no-repeat;
}
.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#currentbp a, #promos_ads, .sidebar, .widget, .comment-item, .bloc-description {
    border-color: #fff !important;
}
#currentbp a {
    background: #fff;
    background: rgba(255,255,255,0.55);
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8dffffff,endColorstr=#8dffffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#8dffffff,endColorstr=#8dffffff)";
    background: transparent\9;
}
#changebp a {
    background-color: #cefdb0;
    border-color: #defec9;
}
#changebp a:hover {
    background-color: #bde8a1;
}
.sidebar, .bloc-description {
    background: #fff;
    background: rgba(255,255,255,0.55);
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8dffffff,endColorstr=#8dffffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#8dffffff,endColorstr=#8dffffff)";
    background: transparent\9;
}
.sidebar-info-bloc h3 {
    background: #fff;
    border: 1px solid #00d2ff;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.liste-actions li {
    background: #fea7dd;
    border-bottom-color: #fff;
}
.widget h3, #bloginfo h3 {
    background: none;
    border: 0;
}
.bloc, .phylactere, .section_box, .compteurs_block li, .title_tooltip {
    background: #fff;
}
.sedebar_two #musicwidget {
    background: #d1fafd;
}
#blogprofil .mini-profil a , #blogprofil .mini-profil img {
    border-color: #54504a;
}
#cybercop {
    background: #e2e2e2;
}
.pop {
    background-image: none;
}
.liste-amis h3 {
    background: #000;
}
.widget {
    background: #fafafa;
    border-color: #cfcfcf;
}
.bloc .image-container img, .bloc .text-image-container img {
    border: 4px solid #7df6ff;
    max-width: 600px;
}
.content_large .bloc img {
    max-width: 752px;
}
.date {
    background: #fff;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.title_tooltip .pointe_border {
    border-top-color: #fff;
}
.centry_thumbs #articles_container .bloc {
    border-color: #888;
}

/* colors */
.sidebar_two #cybercop a {
    color: #000;
}
.consult, .liste-amis h3, .suite, .suite a, .pagination li.current a, .pagination a:hover, #load-more a, .widget, .widget a {
    color: #000;
}
.sidebar, .sidebar a,  #bloginfo h3, #bloginfo ul li, .bloc-description {
    color: #888888;
}
#bloginfo em {
    color: #00d2ff;
}
#currentbp a, .pop a, .pagination, .pagination a {
    color: #00d2ff;
}
.bloc_title, .bloc_title a.plink {
    color: #009fc1;
}
#changebp a {
    color: #00d2ff;
}
.widget, .widget a , .bloc, .bloc a, .sidebar h3, .sidebar h3 a, .phylactere, .phylactere a, .title_tooltip {
    color: #888;
}
#musicwidget, #musicwidget a {
    color: #585858;
}
.commentaires, .commentaires a, .pagination, .pagination a {
    color: #000;
}
.date, .date a {
    color: #6d6d6d;
}
.liste-actions a {
    color: #585858
}
.liste-actions a:hover {
    color: #858585;
}
#cybercop a:hover {
    color: #000;
}
.pagination select {
    color: #000;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    border-color: #6d6d6d;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #6d6d6d;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #6d6d6d;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #6d6d6d;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}