/* Backgrounds et borders */

.consult {
    background: #fff url(/img/templates/blogs/133/bg.jpg) center top repeat;
}
.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#currentbp a, .bloc,#promos_ads, .sidebar, .widget, .comment-item, .bloc-description, .section_box, .compteurs_block li {
    border-color: #6D6D6D !important;
}
#currentbp a {
    background: #fff;
}
#changebp a {
    background-color: #bccc00;
    border-color: #bdcd00;
}
#changebp a:hover {
    background-color: #d3e225;
}
.sidebar, .bloc-description {
    background: #fff;
}
.sidebar-info-bloc h3 {
    background: #fff;
    border: 1px solid #bdcd00;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.liste-actions li, .title_tooltip {
    background: #d2e788;
}
.liste-actions li {
    border-bottom-color: #fff;
}
.widget h3, #bloginfo h3 {
    background: none;
    border: 0;
}
.bloc, .phylactere, .section_box, .compteurs_block li {
    background: #fff;
}
#blogprofil .mini-profil a , #blogprofil .mini-profil img {
    border-color: #54504a;
}
#cybercop {
    background: #e2e2e2;
}
.pop {
    background-image: none;
}
.liste-amis h3 {
    background: #000;
}
.widget {
    background: #b3d34c url(/img/templates/blogs/133/widget.jpg) center top repeat-x;
    border-color: #cfcfcf;
}
.bloc .image-container img, .bloc .text-image-container img {
    border: 4px solid #b3d34c;
    max-width: 600px;
}
.content_large .bloc img {
    max-width: 752px;
}
.date {
    background: #e4f1b8;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.title_tooltip .pointe_border {
    border-top-color: #d2e788;
}
/* colors */
.sidebar_two #cybercop a {
    color: #000;
}
.liste-amis h3, .suite, .suite a, .pagination li.current a, .pagination a:hover, #load-more a, .widget, .widget a {
    color: #000;
}
.sidebar, .sidebar a,  #bloginfo h3, #bloginfo ul li, .bloc-description {
    color: #888888;
}
#bloginfo em {
    color: #000;
}
.pop a, .pagination, .pagination a {
    color: #00d2ff;
}
#currentbp a, .bloc_title, .bloc_title a.plink {
    color: #99a800;
}
#changebp a {
    color: #fff;
}
.consult, .bloc, .bloc a, .sidebar h3, .sidebar h3 a, .phylactere, .phylactere a, .title_tooltip {
    color: #888;
}
.widget, .widget a {
    color: #595959;
}
.commentaires, .commentaires a, .pagination, .pagination a, .widget h3, .widget h3 a {
    color: #000;
}
.date, .date a {
    color: #6d6d6d;
}
.liste-actions a {
    color: #6d6d6d;
}
.liste-actions a:hover {
    color: #000;
}
#cybercop a:hover {
    color: #000;
}
.pagination select {
    color: #000;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    border-color: #6d6d6d;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #6d6d6d;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #6d6d6d;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #6d6d6d;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}