/* Backgrounds et borders */

.consult {
    background: #fff url(/img/templates/blogs/134/bg.jpg?20100901) center top repeat;
}
.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar, #articles_container .thumbs_infos {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#currentbp a, .bloc,#promos_ads, .sidebar, .widget, .comment-item, .bloc-description {
    border-color: #fff !important;
}
#changebp a {
    background-color: #fff;
    border-color: #f27cc3;
}
.sidebar, .bloc-description {
    background: #fff;
    background: rgba(255,255,255,0.55);
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8dffffff,endColorstr=#8dffffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#8dffffff,endColorstr=#8dffffff)";
    background: transparent\9;
    border-color: #f27cc3;
}
.sidebar-info-bloc h3 {
    background: #fff;
    border: 2px solid #ff0096;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.liste-actions li {
    background: #ffd7f3;
    border-bottom-color: #fff;
}
#currentbp a {
    background: #fff;
    border-color: #f27cc3;
}
.widget h3, #bloginfo h3 {
    background: none;
    border: 0;
}
.bloc {
    border-color: #ff61c0;
}
.bloc, .phylactere, #blogprofil, .sidebar_two #musicwidget, .section_box, .compteurs_block li {
    background: #fff;
}
#blogprofil .mini-profil a , #blogprofil .mini-profil img {
    border-color: #54504a;
}
#cybercop {
    background: #e2e2e2;
}
.pop {
    background-image: none;
}
.liste-amis h3 {
    background: #000;
}
#blogprofil, .sidebar_two #musicwidget {
    border: 3px solid #ff0096;
}
.bloc .image-container img, .bloc .text-image-container img {
    border: 4px solid #ff0096;
    max-width: 600px;
}
.content_large .bloc img {
    max-width: 752px;
}
.date {
    background: #ffa6e5;
}
.title_tooltip {
    background: #FF0096;
}
.title_tooltip .pointe_border {
    border-top-color: #FF0096;
}
/* colors */
.sidebar_two #cybercop a, #cybercop a:hover, .liste-amis h3, .suite, .suite a, .pagination li.current a, .pagination a:hover, 
#load-more a, .widget, .widget a, .pagination select {
    color: #000;
}
.consult, #musicwidget, #musicwidget a, #blogprofil, #blogprofil a , .bloc, .bloc_title a.plink, .bloc_title, .phylactere, .phylactere a {
    color: #585858;
}
.sidebar, .sidebar a,  #bloginfo h3, #bloginfo em, .bloc a, .commentaires, .commentaires a, #bloginfo ul li,
#currentbp a, #changebp a, .pop a, .pagination, .pagination a, .bloc-description {
    color: #ff0096;
}
.date, .date a, .title_tooltip {
    color: #fff !important;
}
.liste-actions a {
    color: #d0007a;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    border-color: #ff0096;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #ff0096;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #ff0096;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ff0096;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}