.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 10px;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois  {
    text-align: left;
}
/* Borders */
.bloc, .sidebar, #currentbp a, #changebp,  #changebp a, #promos_ads, .widget, .phylactere, .bloc-description {
    border-color: #666 !important;
}
.liste-actions li {
    border: none;
}
#blogcomments .comment-item {
    border-bottom: 1px dotted #666;
}
.title_tooltip .pointe_border {
    border-top-color: #fd9212;
}
/* Backgrounds */
.consult {
    background: #000 url(/img/templates/blogs/135/bg.jpg) top center no-repeat;
}
.pop, .bloc, #changebp a {
    background: #000;
}
.sidebar, #currentbp a, .bloc .date, .bloc_title, #promos_ads h2, #changebp a:hover, #load-more a, .bloc-description {
    background: #000;
}
.widget, .phylactere, .section_box, .compteurs_block li {
    background: #272727;
}
.pop #blogcomments .bloc {
    background: #323232;
}
.title_tooltip {
    background: #fd9212;
}

/* Link & Colours */
.bloc a, .sidebar a, .pop a, .pagination a, #bloginfo em, .suite, #changebp a, #currentbp a, .phylactere a {
    color: #fd9212;
}
.consult, .bloc, .sidebar, .pop, .pagination li.current a, .pagination a:hover, .bloc_title, .bloc_title a.plink, #menuTime li, 
.liste-actions a:hover, #cybercop a:hover, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #eee;
}
.title_tooltip {
    color: #eee !important; 
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #666;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #272727;
}
.phylactere.left .pointe_border {
    border-right-color: #666;
}
.phylactere.left .pointe_bg {
    border-right-color: #272727;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #666;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #272727;
}