.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .widget, .comment-item, .phylactere, .bloc-description {
    border-color: #000 !important;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #673200;
}

/* Backgrounds */
.consult, .widget, .bloc, .phylactere, .compteurs_block li, .section_box {
    background: #FFBE39;
}
#currentbp a, .sidebar, #load-more a, .bloc-description {
    background: #FFA518;
}
.bloc .date, .bloc_title, #promos_ads h2 {
    background: #FFA518;
}
.title_tooltip {
    background: #673200;
}

/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .bloc_title a.plink, .liste-actions a:hover, #cybercop a:hover,
.pagination a, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #673200;
}
.bloc a, .sidebar a, .pop a, .date a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover,
#changebp a, #currentbp a, .phylactere a {
    color: #CD3202;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #ffbe39 !important;
}

.sidebar, .bloc {
    font: 10px "Verdana", "Arial", sans-serif;
}
.bloc_title {
    font-size: 1em;
    font-weight: normal;
}
#changebp a {
    background: #FFBE39;
}
#currentbp a, #changebp a:hover, .sidebar, .bloc_title {
    background: #FFA518;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #FFBE39;
}
.phylactere.left .pointe_border {
    border-right-color: #000;
}
.phylactere.left .pointe_bg {
    border-right-color: #ffbe39;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #000;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #ffbe39;
}