/* Theme Electro */
/* THEME MONOCOLONNE */

@import url(https://fonts.googleapis.com/css?family=Orbitron);

.centry_slim #barleft, .centry_slim .bloc-description {
    width: 700px !important;
}
.content_large #barleft, .centry.content_large .bloc-description {
    width: 942px !important;
}
.sidebar_one.content_large .bloc-description .post {
    width: 756px !important;
}

.bloc .date {
    padding: 0.5em 0.7em;
}
.consult a {
    text-decoration: none;
}

h2.bloc_title, h1.bloc_title {
    padding-top: 12px;
    padding-left: 60px;
    min-height: 32px;
    text-align: left;
}

.centry.content_large .article_bottom {
    padding: 0 50px;
}


/* Arrondis */

.bloc, .sidebar, .bloc-description, .thumbs_infos  {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.bloc.shared_content, .sidebar-info-bloc h3 {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.text-image-container img, .image-container img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Fonts */

.bloc_title, .blogpseudo, .centry .blogtitle, .pagination, .sidebar-info-bloc h3, .widget h3 {
    font-family: 'Orbitron', arial, serif;
    font-weight: bold;
}

.bloc_title, .centry .blogtitle {
    font-size: 25px !important;
}

.centry .blogpseudo {
    font-size: 16px;
}
.sidebar_one.content_large .blogpseudo {
    font-size: 16px !important;
}
.sidebar-info-bloc h3, .widget h3 {
	font-size: 14px;
}

/* Backgrounds */

.consult {
    background: #360039 url(/img/templates/blogs/186/bg_3col.jpg) fixed top center repeat-x;
}
.centry {
    background: #360039 url(/img/templates/blogs/186/bg.jpg) fixed top center repeat-x;
}

h2.bloc_title, h1.bloc_title {
     background: transparent url(/img/templates/blogs/186/article_titre.png) 10px 10px no-repeat;
}

.sidebar, .bloc-description, .bloc {
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
    background: transparent\9;
}

.bloc:not(zz) {
    filter: none;
    -ms-filter: none;
    background: rgba(0, 0, 0, 0.6);
}

.phylactere {
    background: #000;
}

.compteurs_block li, .sidebar-info-bloc h3, .section_box, .title_tooltip {
    background: #f0f;
}
#changebp a {
	background: #3f0;
}
.widget h3 {
	background: none;
}

/* Borders */
.centry .sidebar, .bloc, .widget  {
    border: 4px solid #fff !important;
}
.centry_thumbs #articles_container .bloc {
    border-width: 1px !important;
}
.sidebar, #currentbp a, #changebp a {
    border-color: transparent !important;
}

.bloc-description {
    border: 4px solid #f0f !important;
}

.centry .liste-actions-centry li, .centry .share_zone {
    border-color: #fff;
}

.phylactere, .widget  {
    border-color: #f0f !important;
}
.title_tooltip .pointe_border {
    border-top-color: #f0f;
}
.liste-actions li {
	border-color: #3f0;
}

.text-image-container img, .image-container img {
    max-width: 612px;
    border: 4px solid #3f0;
}
.content_large .bloc img {
    max-width: 754px;
}
.shared_content {
    border-color: transparent !important;
}

/* Link & Colours */
.consult, .bloc, .sidebar, .bloc-description, #menuTime li, .pagination, .phylactere,
.blogtitle, .pagination li.current a, .sidebar a, .suite, .phylactere a,
.bloc a:hover, #vip a:hover, .pagination a:hover, .sidebar-info-bloc h3 a, #wrapper h3 .title_tooltip {
    color: #fff;
}

.bloc a, .bloc_title, .bloc_title a.plink,
#load-more a, .blogpseudo a, .centry #vip a,
.blogpseudo a:hover, .bloc_title a:hover, .sidebar a:hover {
    color: #3f0;
}

.blogpseudo a, .pagination a, .phylactere a, .blogpseudo a:hover {
    color: #ff0;
}

.blogtitle, #currentbp a, .widget h3, .widget h3  a{
    color: #f0f;
}
#changebp a {
	color: #000;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #f0f;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}

.phylactere.left .pointe_border {
    border-right-color: #f0f;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #f0f;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}