/* Theme Ustensiles de Cuisine */
/* THEME MONOCOLONNE ET 3 COLONNES */

@import url(https://fonts.googleapis.com/css?family=Michroma);

.bloc.audioPlayer {
    padding-bottom: 5px;
}
.bloc .date {
    padding: 0.5em 0.7em;
}
.consult a, .consult a:hover {
    text-decoration: none;
}

h2.bloc_title, h1.bloc_title {
    padding: 5px 10px 5px 60px;
    text-align: left;
    min-height: 50px;
}

.sidebar_two .sidebar-info-bloc h3 {
    margin: 0.5em 0;
    padding: 5px 1px;
}

.sidebar_two  #bloginfo h3 {
    margin: 0 5px 5px 0;
    padding: 0;
}
.centry.content_large .bloc .date, .centry.content_large .commentaires {
    padding: 5px 50px !important;
}



/* Arrondis */

.bloc.shared_content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Fonts */

h2.bloc_title, h1.bloc_title, .blogpseudo, .blogtitle, #bloginfo h3 {
    font-family: 'Michroma', arial, sans-serif;
    font-weight: normal;
}

.centry .blogpseudo {
    font-size: 15px !important;
}
.sidebar_one.content_large .blogpseudo {
    font-size: 15px !important;
}

h2.bloc_title, h1.bloc_title, #bloginfo h3 {
    font-size: 18px;
}

#currentbp a {
    font-size: 18px;
}


/* Backgrounds */

.consult {
    background: #d0d1d5 url(/img/templates/blogs/188/bg.jpg) top center;
}

h2.bloc_title, h1.bloc_title {
    background: transparent url(/img/templates/blogs/188/article_titre.png) 5px 5px no-repeat;
}

.sidebar-info-bloc h3 {
    background: transparent url(/img/templates/blogs/188/sidebar-info-bloc-h3.png) center no-repeat;
}

#bloginfo h3 {
    background: transparent url(/img/templates/blogs/188/h3.png) left center no-repeat;
}

#barleft.sidebar, .sidebar, #currentbp a, .bloc-description {
    background: #eaddaa;
}
.bloc, .bloc-description {
    background: #5c4d21;
}
.date {
    background: #4d3f16;
}
.widget {
    background: #ccca4a;
}
#changebp a, .compteurs_block li, .section_box, .title_tooltip {
    background: #ef6702;
}

.phylactere {
    background: #fff;
}


/* Borders */
.bloc {
    border: transparent;
}
.sidebar, #currentbp a, #changebp a, .bloc-description {
    border-color: transparent !important;
}
.liste-actions li, .liste-actions-centry li {
    border-color: #fff;
}

.phylactere {
    border-color: #fff;
}
.phylactere.left {
    border-color: #fff;
}

.title_tooltip .pointe_border {
    border-top-color: #ef6702;
}

/* Link & Colours */

.consult, .sidebar, .sidebar a, .bloc-description, #menuTime li, .suite, .pagination, .phylactere,
.pagination li.current a, #currentbp a, #bloginfo h3, 
.bloc a:hover, .pagination a:hover, .phylactere a:hover {
    color: #000;
}

.bloc a, .pop a, .sidebar a:hover, 
#load-more a, .sidebar-info-bloc h3, .widget h3, 
.bloc_title a:hover, .compteurs_block a:hover, .pagination a {
    color: #ff9342;
}

.bloc_title, .blogtitle, .bloc_title a.plink, .date, .date a {
    color: #d3d029;
}

.bloc, .pop, .bloc-description, #changebp a, .sidebar-info-bloc h3 a {
    color: #eaddaa;
}

.title_tooltip, .title_tooltip:hover {
    color: #eaddaa !important;
}

.phylactere, .phylactere a {
    color: #bc502a;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}

.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}