/* Theme Kawaii */
/* THEME MONOCOLONNE */

@import url(https://fonts.googleapis.com/css?family=Nunito);

.bloc {
    border: none;
    margin-top: 20px;
}

.centry .bloc-description {
    padding-top: 20px;
}

.bloc .date {
    padding: 0.5em 0.7em;
}

.blogtitle {
    min-height: 55px;
}

.blogtitle, .description {
    padding-left: 30px;
}

h2.bloc_title, h1.bloc_title {
    padding-top: 25px;
    padding-left: 60px;
    min-height: 30px;
    text-align: left;
}

.pop h2.bloc_title, .pop h1.bloc_title {
    margin-bottom: 30px;
}

.centry.content_large .article_bottom {
    padding: 0 50px;
}



/* Arrondis */

.bloc.shared_content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.text-image-container img, .image-container img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Fonts */

.blogpseudo, .centry .blogtitle {
    font-family: 'Nunito', arial, serif;
    font-weight: bold;
}

.bloc_title {
    font-size: 24px !important;
}

.centry .blogpseudo {
    font-size: 18px;
}

.centry .blogtitle {
    font-size: 32px;
}

/* Backgrounds */

.consult, .content_large.consult {
    background: #fff url(/img/templates/blogs/191/bg_3col.jpg) fixed top center no-repeat;
}
.centry_slim.consult {
    background: #fff url(/img/templates/blogs/191/bg.jpg) fixed top center no-repeat;
}

.centry.previsu {
    background: url(/img/templates/blogs/191/bg.jpg) fixed top center no-repeat,
                url(/img/templates/blogs/191/bg2.jpg) fixed top center repeat-y;
    background-color: #fff;
}

.content_large.previsu,
.previsu {
    background: url(/img/templates/blogs/191/bg_3col.jpg) fixed top center no-repeat,
                url(/img/templates/blogs/191/bg_3col2.jpg) fixed top center repeat-y;
    background-color: #fff;
}

.pop {
    background: #e8f3f5;
}

.blogtitle {
     background: transparent url(/img/templates/blogs/191/blog_title_img.png) 5px 5px no-repeat;
}

h2.bloc_title:before, h1.bloc_title:before {
    content: "";
    display: block;
    position:absolute;
    top: 20px;
    left: 5px;
    width: 48px;
    height: 60px;
    background: transparent url(/img/templates/blogs/191/bloc_title_img.png) top left no-repeat;
}

.bloc {
     background: transparent url(/img/templates/blogs/191/article.png) top left repeat-x;
}

.centry.sidebar, .bloc-description, #promos_ads {
    background: transparent;
}
.sidebar, #currentbp a, #changebp a {
    background: #d4e7e9;
}
.phylactere, .compteurs_block li, .widget, .section_box, .title_tooltip {
    background: #fff;
}

/* Borders */
.sidebar, .bloc-description, #currentbp a, #changebp a, .widget {
    border-color: transparent !important;
}

.centry .share_zone {
    border-bottom: 4px dotted #fff;
}

.centry .liste-actions-centry li {
    border-top: 4px dotted #fff !important;
}

.phylactere {
    border-color: #fff;
}

.text-image-container img, .image-container img {
    max-width: 610px;
    border: 5px solid #fff;
}
.content_large .bloc img {
    max-width: 752px;
}


.title_tooltip .pointe_border {
    border-top-color: #fff;
}

/* Link & Colours */
.consult, .bloc, .sidebar, .bloc-description,.bloc_title, .bloc_title a.plink,
#menuTime li, .pagination, .phylactere, .pagination li.current a,
.bloc a:hover, .sidebar a:hover, .bloc_title a:hover, .pagination a:hover {
    color: #fe85a8;
}

.bloc a, .sidebar a, .suite, .phylactere a,
.pagination a, #load-more a, .blogpseudo a,
.blogpseudo a:hover, #currentbp a, #changebp a  {
    color: #75aeb2;
}
.title_tooltip, .title_tooltip:hover  {
    color: #75aeb2 !important;
}
.liste-actions {
    color: #fff;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}

.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}