/* Theme Rap */
/* THEME MONOCOLONNE */

@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
.lefty_one.content_slim #blogcontent {
   padding: 0 20px 20px 5px; 
}
.consult a {
    text-decoration: none;
}

.bloc {
    border: none;
}

.bloc .date {
    padding: 0.5em 0.7em;
}

h2.bloc_title, h1.bloc_title {
    margin-left: -50px !important;
    margin-right: -50 !important;
    padding-top: 15px;
    text-align: left;
}
.centry.content_large .article_bottom {
    padding: 0 50px;
}

/* Arrondis */

.bloc.shared_content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Fonts */

.blogpseudo, .bloc_title, .blogtitle, #promos_ads h2 {
    font-family: 'Black Ops One', Arial, Sans-serif;
    font-weight: normal;
}

.blogpseudo {
    font-size: 18px !important;
}

.centry .blogtitle {
    font-size: 40px !important;
}

.bloc_title {
    font-size: 25px !important;
}

/* Backgrounds */

.centry_slim.consult {
    background: #000 url(/img/templates/blogs/198/bg.jpg) fixed top center repeat-x;
}
.consult, .content_large.consult {
    background: #000 url(/img/templates/blogs/198/bg_3col.jpg) fixed top center repeat-x;
}

.bloc, .bloc-description, .centry .sidebar, #promos_ads, .pagination {
    background-color: transparent;
}
.sidebar, #changebp a, #currentbp a {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.3);
    zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2B000000,endColorstr=#2B000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#2B000000,endColorstr=#2B000000)";
    background-color:transparent\9;
}

.pop {
    background: #252525;
}

h2.bloc_title, h1.bloc_title {
    background: transparent url(/img/templates/blogs/198/article_titre.png) left 3px no-repeat;
    padding-left: 55px;
    min-height: 41px;
}

.pop .bloc_title:before {
    background-image: none;
}

.compteurs_block li, .section_box {
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,endColorstr=#33ffffff)";
    background: transparent\9;
}

.phylactere {
    background: #252525;
}

.title_tooltip {
    background: #4e4e4e;
}

/* Borders */
.sidebar, .bloc-description, #changebp a, #currentbp a {
    border-color: transparent !important;
}

.centry .liste-actions-centry li, .bloc, .bloc-description {
    border-top: 2px dashed #999 !important;
}
.shared_content {
    border-top: none !important;
}

.centry .share_zone {
    border-bottom: 2px dashed #999;
}

.phylactere {
    border-color: #4e4e4e;
}

.text-image-container img, .image-container img {
    max-width: 590px;
    border: 10px solid #000;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}
.content_large .bloc img {
    max-width: 742px;
}

.title_tooltip .pointe_border {
    border-top-color: #4e4e4e;
}

.centry_thumbs #articles_container .bloc {
    border: 1px solid transparent !important;
}
.centry_thumbs #articles_container .bloc:hover {
    border: 1px solid #fff !important;
}

/* Link & Colours */
.consult, .bloc, .bloc-description, .blogtitle, .sidebar, #menuTime li,
.bloc_title, .bloc_title a.plink, .pagination, .phylactere, .phylactere a, .pagination li.current a,
.blogpseudo a:hover, .bloc a:hover, .sidebar a:hover, .bloc_title a:hover, .pagination a:hover, .phylactere a:hover { 
    color: #fff;
}

.bloc a, .sidebar a, .suite, .pagination a, #load-more a, #changebp a, #currentbp a {
    color: #d6b202;
}

.title_tooltip, .title_tooltip:hover {
    color: #d6b202 !important;
}

.blogpseudo a { /* Evite l'heritage de couleur de ".sidebar a" */
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #4e4e4e;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #252525;
}

.phylactere.left .pointe_border {
    border-right-color: #4e4e4e;
}
.phylactere.left .pointe_bg {
    border-right-color: #252525;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #4e4e4e;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #252525;
}