.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #changebp a, #promos_ads, .widget, .comment-item, .article_content_menu, #blogcomments,
.sidebar .textads, .phylactere, .bloc-description {
    border-color: #fff !important;
}
.article_content_menu {
    border-bottom: 1px solid #fff;
}
#blogcomments {
    border-top: 1px dotted #fff;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #fff;
}

/* backgrounds */
.consult, .widget, .phylactere, .compteurs_block li, .section_box {
    background: #7e94a5;
}
.sidebar, #currentbp a, #changebp a:hover, .bloc .date, .bloc_title, #promos_ads h2, #load-more a, .bloc-description {
    background: #1a4260;
}
.title_tooltip {
    background: #fff;
}
.pop #blogcomments .bloc {
    background: #7E94A5;
}

/* Links & colours */
.sidebar a, #bloginfo em,
.bloc_title a.plink, #promos_ads h2, .date, .bloc_title, .suite, .pagination li.current a, .pagination a:hover {
    color: #FFA101;
}
.bloc a , .pop a,  #blogcomments, .liste-actions a:hover, #cybercop a:hover, .pagination a, .widget, .sidebar, .textads,
#changebp a, #currentbp a, .phylactere a {
    color: #fff;
}
.sidebar h3, .sidebar h3 a, #load-more a {
    color: #2b343d;
}
.consult, .bloc, .pop, .phylactere, .bloc-description {
    color: #000;
}
.sidebar, .bloc, .bloc-description {
    font: 10px "Verdana", "Arial", sans-serif;
}
.bloc_title {
    font-size: 1em;
    font-weight: normal;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #1A4260 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #7e94a5;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #7e94a5;
}

.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border  {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #7e94a5;
}