.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.container {
	margin-top: 100px;
}
/* Borders */

#changebp a, #currentbp a, .bloc, .sidebar, .widget, .comment-item, .phylactere {
	border-color: #0174E0;
}
.liste-actions li {
	border: none;
}

/* Backgrounds */

.consult {
	background: #070648 url(/img/templates/blogs/201/bg.jpg) center top no-repeat !important;
}

.sidebar {
	background-color: #050924;
	background-image: url(/img/templates/blogs/201/sidebar.jpg);
	background-position: bottom center; 
	background-repeat: repeat-x; 
}
#blog #barleft .sidebar {
	background-image: url(/img/templates/blogs/201/sideleft.png);
}

#currentbp a, #changebp a:hover {
	background: #000426;
}
.bloc {
	background: #070b46 url(/img/templates/blogs/201/article.png) left 30px repeat-x;
}
.bloc_title, #changebp a {
	background: #024aac url(/img/templates/blogs/201/title.jpg) left top repeat-x;
}
.widget {
	background: #fff;
}
#cybercop {
	background: #024aac;
}
.date {
	background-color: #000;
}
/* Links & Colours */

.consult, .bloc, .bloc a, .sidebar, .sidebar a, .pop, .pop a, .suite, .pagination a, #currentbp a, #changebp a, .phylactere, .phylactere a {
	color: #fff;
}
.widget, .widget a {
	color: #000;
}

.pagination li.current a, .pagination a:hover, .pagination select {
	color: #024aac;
}
.pop {
    background-image: none;
}
#header_perso {
    opacity: 1;
    filter : alpha(opacity=100);
}

.itemlist img, .bloc .avatar {
    border-color: #8d8d8b;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #070648;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #0174E0;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #070648;
}
.phylactere.left .pointe_border {
    border-right-color: #0174e0;
}
.phylactere.left .pointe_bg {
    border-right-color: #070648;
}