#blogcontent {
    margin-bottom: -180px;
    padding-top: 180px;
}

/* Borders */
.bloc, .textads, .sidebar-info-bloc h3 {
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.textads {
    border-color: #104952 !important;
}
.liste-actions li {
    border-color: #000;
} 
#currentbp a, #changebp a, .sidebar, .bloc, #promos_ads, .sidebar img.avatar, .comment-item, .sidebar .widget, .phylactere {
    border-color: #4aceeb;
}
.infos {
    overflow: hidden;
}

/* Backgrounds */
.consult {
    background: #000 url(/img/templates/blogs/202/bg.jpg) center top no-repeat !important;
}
.bloc {
    background: #02030d url(/img/templates/blogs/202/article.jpg) center top no-repeat;
}
.pop, .phylactere {
   background: #000;
}
.liste-actions li {
    background: #104952;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.widget {
	background: #000 url(/img/templates/blogs/202/widget.jpg) center top no-repeat;
	padding-top: 20px;
}

.date {
    opacity: 0.75;
    filter: alpha(opacity=75);
    background: #000;
}
#changebp a {
	background: url(/img/templates/blogs/202/changebp.png) no-repeat bottom left;
	opacity: 0.75;
	filter: alpha(opacity=75);
}
#changebp a:hover {
	color: #fff !important;
	opacity: 1.0;
	filter: alpha(opacity=100);
}
.sidebar, #currentbp a, #load-more a   {
    background: #000;
	opacity: 0.7;
}
#cybercop, .sidebar-info-bloc h3, #load-more a   {
   background: #3ab2de;
}

/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .sidebar a, #changebp a, #currentbp a, .bloc_title, #promos_ads h2, .pagination, .pagination label, 
.pagination li.current a, .pagination .next a, .liste-actions a, .widget, .suite, .bloc_title a.plink, .date a, .date, #load-more a, .phylactere { 
   color:#fff;
}
.pop a, .bloc a, .commentaires, .commentaires a, .pagination a, .pagination a:hover,  h5.description, .blogcontent a, .textads a, 
.liste-actions a:hover, .widget h3 a, .widget a, .phylactere a {
   color: #42a2d6;
}
#cybercop a, .pagination select, #changebp a:hover {
 	color: #000;
}
.bloc_title, #promos_ads h2 {
    font-size: 1em;
}
/* Puces */
.liste-amis-verbose li {
    padding-left: 15px;
    background: url(/img/icons/icon_blog.png) left 2px no-repeat;
}
.liste-actions a:hover {
    color: #42a2d6;
}
.pop {
    background-image: none;
}
#changebp a:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
/* Backgrounds */
.liste-actions li, #changebp a {
    background: #104952;
}

#cybercop, .sidebar-info-bloc h3 {
   background: #3ab2de;
}

/* Borders */
.itemlist img, .itemlist img, .bloc .avatar {
	border-color: #104952;
}
.comment-item {
    border-color: #3ab2de;
}
.widget .blogtitle { 
    overflow: hidden;
}
.connections {
    text-align: left;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #4aceeb;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #4aceeb;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}