#blogcontent {
    margin-bottom: -180px;
    padding-top: 180px;
}
.bloc_title, #promos_ads h2 {
    font-size: 1em;
}
.textads h2 {
   text-align: center;
}

/* Borders */
.bloc,.textads, .sidebar-info-bloc h3 {
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#currentbp a, #changebp a, .bloc,.sidebar, .widget, .comment-item, .phylactere {
    border-color: #ffca00;
}
.liste-actions li {
    border-color: #efdfcf;
}

#changebp {
    border-bottom: #ffca00 1px solid;
}
.textads {
    border-color: #ffca00;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/* Backgrounds */
.consult {
    background: #000 url(/img/templates/blogs/123/bg.jpg) center top no-repeat !important;
}
.bloc {
    background: #000 url(/img/templates/blogs/123/article.jpg) center 3px repeat-x;
}
.date {
    opacity: 0.75;
    filter: alpha(opacity=75);
    background: #312810;
}
.bloc_title, #promos_ads h2 {
   background: #ffca00;
}
.pop, .phylactere {
   background: #000;
}
.widget, .liste-actions li {
    background: #fff;
}
#currentbp a, #changebp a {
    background: #000 url(/img/templates/blogs/123/sidebar.jpg) top center no-repeat;
}
#changebp a:hover {
    background: #fff;
    filter: alpha(opacity=75);
}
.textads {
  background:#000;
}
.sidebar {
   background:#000 url(/img/templates/blogs/123/sidebar.jpg) top center no-repeat;
}
#cybercop, .sidebar-info-bloc h3, #load-more a   {
    background: #efdfcf;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}

/* Links & Colours */
.bloc, .bloc a, .sidebar, .pop, .commentaires, .pagination a, .pagination a:hover, .date a, .phylactere, .phylactere a {
   color: #fff;
}
.sidebar a, .pagination, .pagination label, .pagination li.current a, .description, .blogcontent a, .suite, .textads a, #changebp a, #currentbp a {
   color: #ffca00;
}
.consult, .bloc_title a.plink, .bloc_title, .bloc_title span, #cybercop a, .widget, .widget h3 a, .sidebar-info-bloc h3, .pagination select, #changebp a:hover, .liste-actions a, .sidebar h3 a, #load-more a {
	color: #000;
}
.widget a, .liste-actions a:hover {
    color: #005da6;
}
.pop {
    background-image: none;
}
#changebp a:hover {
    opacity:0.75;
}
.itemlist img, .bloc .avatar,
#changebp a,  #currentbp a, .sidebar, .widget, .bloc {
    border-color: #FFCA00;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ffca00;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #ffca00;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}