.bloc, #promos_ads, .widget {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottom-left: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottom-right: 5px;
}
.pop, .bloc, .sidebar {
    font-family: verdana, sans-serif;
}
.bloc .date .modified_on {
    float: left;
    padding-left: 7px;
}
.liste-actions a {
    font-weight: bold;
}
#blogcontent {
    margin-bottom: -180px;
    padding-top: 180px;
}
/* backgrounds et borders */
.consult {
    background: #005def url(/img/templates/blogs/122/bg.jpg) center top no-repeat !important;
}
.pop {
    background: #005def;
}
.bloc {
    background: #fff url(/img/templates/blogs/122/article.jpg) right bottom no-repeat;
}
#currentbp a, .sidebar {
    background: #fff;
}
#changebp a {
	background: #dee3f7;
}
#currentbp a, #changebp a, .sidebar {
    border-color:  #ebebeb;
}
#promos_ads {
    border-color:  #ffdf08;
}
#changebp a:hover {
    background-color: #fff;
}
.sidebar-info-bloc h3 {
    background: #dee3f7;
}
#promos_ads {
    background: #fff;
}
.date {
    background: #de7519;
}
#cybercop{
    background: #f0f4f5;
}
.liste-actions {
    background: #f0f4f5;
    border-top: 1px solid #ebebeb;
}
.liste-actions li {
    border-bottom: 1px solid #ebebeb;
}
.sidebar .widget {
    background: #f0f4f5;
    border-color: #ebebeb;
}
#favoris li {
    padding-left: 20px;
    background: url(/img/templates/blogs/122/puce.gif) left top no-repeat;
}
.sidebar-info-bloc h3 {
	background: #dee3f7;
	padding: 0.2em 0;
}
.liste-amis-verbose li {
    padding-left: 20px;
    background: url(/img/templates/blogs/122/puce.gif) left top no-repeat;
}
.liste-actions li {
    border-color: #fff;
    font-weight: bold;
}
#changebp, #changebp a, #currentbp a, .sidebar, .bloc, .widget, .phylactere {
    border-color: #EBEBEB;
}
.itemlist img, .bloc .avatar {
    border-color: #6c6962;
}
.pop {
    background-image: none;
}
#currentbp a, #changebp a:hover, .sidebar, .bloc, .phylactere {
    background: #fff; 
}
#cybercop, .liste-actions li, .widget, .sidebar-info-bloc h3, #load-more a  { 
    background: #F0F4F5;
}
#changebp a {
    background: #DEE3F7;
}

/* Colors */
.bloc_title {
    color: #333;
    font-size: 1.5em;
}
#favoris li a, .liste-amis-verbose a {
    color:#0063da;
}
#favoris li a:hover, .liste-amis-verbose a:hover {
    color: #77a4d9;
}
.date {
    color: #b50000;
}
.consult, .date a, .pagination a:hover, .pagination li.current a {
    color: #fff;
}
.close a, .pagination a, .pagination li.current a:hover {
    color:  #ffdf08;
}
.liste-actions a:hover {
    color: #6b356b;
}
.bloc_title a.plink {
    color: #333;
}
.blog .tracklist .current a { 
    color: #efefef; 
}
#cybercop a:hover {
    color: #000;
}
#changebp a:hover, .bloc a, .sidebar a, .suite {
    color: #00319C;
}
.sidebar h3 a, #load-more a  {
    color: #2b343d;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ebebeb;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #ebebeb;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}