#blogcontent {
    margin-bottom: -150px;
    padding-top: 150px;
}

/* Bordures */
.bloc, #promos_ads, .widget {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottom-left: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius-bottom-right: 5px;
}

.liste-actions li {
    border-bottom: 1px solid #312831;
}
.widget {
    background: #f7f7f7;
    border: 1px solid #fff;
}
#currentbp a, .sidebar, #changebp a {
    border-color:  #fff;
}
.bloc, #promos_ads {
    border-color:  #fff;
}
#changebp {
    border-bottom: 1px solid #fff;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/* background */
.consult {
    background: #000 url(/img/templates/blogs/206/bg.jpg) center top no-repeat !important;
}
.pop {
    background: #000;
}
.bloc {
    background: #525552 url(/img/templates/blogs/206/article.gif) center top repeat-x;
}
#currentbp a, #barright .sidebar, .bloc {
    background-color: #312831;
}
#barleft .sidebar {
    background:  #312831 url(/img/templates/blogs/206/sideleft.gif) no-repeat center bottom;
}
#changebp a, .sidebar-info-bloc h3 , #load-more a  {
	background: #ce0400;
}
#changebp a:hover, .phylactere {
    background-color: #312831;
}
.date {
    background: #42393a;
}
.liste-actions li {
    background: #f7f7f7;
}
.itemlist img, .bloc .avatar {
    border-color: #ce0400;
}
.bloc_title, #promos_ads h2 {
    background: #ce0400;
}

/* colors & links */
.consult, .bloc, .bloc a, .sidebar, .sidebar a, .pop, .pop a, #currentbp a, #changebp a, .date, .sidebar-info-bloc h3, .suite, .phylactere, .phylactere a {
    color: #fff;
}
.widget, .widget a, .liste-actions a, #cybercop a {
    color: #000;
}
.liste-actions a:hover, #cybercop a:hover {
    color: #ce0400;
}
.bloc_title a.plink, .date a, .pagination a:hover, .pagination li.current a, #promos_ads h2 {
    color: #fff;
}
.pagination a, .pagination li.current a:hover {
    color:  #ce0400;
}
.pop {
    background-image: none;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ebebeb;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #312831;
}
.phylactere.left .pointe_border {
    border-right-color: #ebebeb;
}
.phylactere.left .pointe_bg {
    border-right-color: #312831;
}