/* background */
.consult {
    background: #D0DF68 url(/img/templates/blogs/officiels/207/bg.jpg) no-repeat center top !important;
}
#blogcontent {
    margin-top: 200px;
}
.sidebar {
    border-color: #fff;
}
#cybercop, .sidebar h3 {
    background-color: #eee3ce;
}
.liste-actions {
    background-color: #fff;
}
.liste-actions li {
    border-color: #ddd3c0;
}
#currentbp a, .widget, .sidebar  {
    border-color: #fff;
}
#changebp a {
    border-color: #8e8677;
    background-color: #cecece;
}
.bloc, .bloc_title, .phylactere {
    background-color: #ecefea;
    border-color: #c2c4bf;
}
.widget {
    background-color: #fff;
    background-image: none;
    border-color: #8e8677;
}
.widget h3 {
    background-color: #fff;
}
.pop {
    background-image: none;
}

/* background */

.sidebar-info-bloc h3, #load-more a   {
    background-color: #eee3ce;
}
.itemlist img, .bloc .avatar {
    border-color: #fff;
}

.consult, .sidebar-infos-bloc a, #changebp a , #currentbp a, .sidebar h3, .sidebar h3 a, #load-more a   {
    color: #000;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #c2c4bf;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #ecefea;
}
.phylactere.left .pointe_border {
    border-right-color: #c2c4bf;
}
.phylactere.left .pointe_bg {
    border-right-color: #ecefea;
}