.consult, .pop {
    background: #fff url(/img/templates/blogs/officiels/208/bg.jpg) no-repeat center top !important;
}
#blogcontent {
    margin-top: 150px;
}
.bloc {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* backgrounds et borders */
#currentbp a, #changebp a, .sidebar, .bloc, .phylactere {
    border-color: #e32118;
    background-color: #fff;
}
.sidebar-info-bloc h3 {
    background-color: #cf1e16;
}
#changebp a {
    border-color: #e32118;
    background-color: #cf1e16;
}
#currentbp a {
    border-color: #e32118;
    background: url(/img/templates/blogs/officiels/208/changebp.jpg) repeat-x left top;
}
.bloc_title {
    background: url(/img/templates/blogs/officiels/208/changebp.jpg) repeat-x left top;
}
.liste-actions a {
    background-color: #e32118;
}
#blogprofil {
    border-color: #2e2e2e;
}
#blogprofil, #blogprofil h3 a{
    background-color: #000;
}
.pop {
    background-image: none;
}
.itemlist img, .bloc .avatar {
    border-color: #e32118;
}
.date, .date a {
    background-color: #e7e5e6;
}
.sidebar-info-bloc h3, #load-more a   {
    background-color: #cf1e16;
}
#bloginfo h4 {
    background-color: #fff;
}

/* colors */
.sidebar, .bloc_title , .bloc_title a.plink, .date, .date a, .pagination , .pagination a {
    color: #cf1e16;
}
.consult, .bloc, .bloc a, .sidebar a, #bloginfo h4, .suite, .phylactere, .phylactere a {
    color: #000;
}
.sidebar-info-bloc h3, #changebp a, .liste-actions a, #blogprofil, #blogprofil h3 a, .sidebar-info-bloc h3, .sidebar h3 a, #load-more a   {
    color: #fff;
}
#currentbp a{
    color: #e32118;
}
.liste-actions a:hover {
    text-decoration: underline;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #e32118;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #e32118;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}