#blogcontent {
    margin-top: 150px;
}
/* Backgrounds et borders */
.consult, .pop {
    background: #160d06 url(/img/templates/blogs/officiels/209/bg.jpg) no-repeat center top !important;
}
.sidebar-info-bloc h3, .liste-actions {
    background-color: #381e0f;
}
#currentbp a{
    background: #957d62;
    border-color: #d3b05f;
}
#changebp a {
    background: #331b0e;
    border-color: #381e0f;
}
.bloc {
    border-color: #b06f4d;
    background: #25120a url(/img/templates/blogs/officiels/209/article.jpg) no-repeat bottom left;
}
.phylactere {
    border-color: #b06f4d;
}
.bloc img {
    border: 1px solid #6b4d38;
}
.widget {
    border-color: #ffae00;
    background: #25120a url(/img/templates/blogs/officiels/209/profil.png) no-repeat left top;
}
.pop {
    background-image: none;
}
.sidebar {
    background: #957d62 url(/img/templates/blogs/officiels/209/sidebar.jpg) no-repeat bottom left;
    border-color: #d3b05f;
}
.liste-actions li {
    border-color: #e0ccaa;
}
#cybercop {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color: #fff;
}
.sidebar-info-bloc h3, .liste-actions, #load-more a   {
    background-color: #381e0f;
}
.header_perso_on {
    background-position: center 90px;
}
.itemlist img, .bloc .avatar {
    border-color: #FFAE00;
}

/* Colors */
.sidebar, .sidebar a, #currentbp a {
    color: #341d0d;
}
.bloc_title, .bloc_title a.plink, .date, .date a, .bloc a, .liste-actions a, .pagination, .pagination a, .phylactere a {
    color: #ffae00;
}
.sidebar-info-bloc h3, .sidebar h3 a, #load-more a  {
    color: #fbe893;
}
.suite, .suite a {
    color: #381e0f;
}
.consult, .bloc, .commentaires, .commentaires a, .widget, .widget a, .pagination li.current a, .pagination a:hover, .phylactere {
    color: #fff;
}
.liste-actions a:hover {
    text-decoration: underline;
}
#cybercop a {
    color: #000;
}
.liste-actions a:hover {
    color: #9e7760;
}
.suite, .suite a {
    color: #d3b6a5;
}
#changebp a {
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #25120a;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #b06f4d;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #25120a;
}
.phylactere.left .pointe_border {
    border-right-color: #b06f4d;
}
.phylactere.left .pointe_bg {
    border-right-color: #25120a;
}