.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .comment-item, .article_content_menu, #blogcomments,
.phylactere, .bloc-description {
    border-color: #000 !important;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #629DDE;
}

/* Backgrounds */
.consult, .widget, .bloc, #promos_ads, .phylactere, .compteurs_block li, .section_box {
    background: #4A5052;
}
#currentbp a, #changebp a:hover, .sidebar, #load-more a, .bloc-description {
    background: #34373C;
}
.date, .bloc_title, #promos_ads h2, .title_tooltip {
    background: #629DDE;
}

/* Links & Colours */
.sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, .sidebar h3 a, #load-more a,
.bloc-description {
    color: #639EDA;
}
.consult, .bloc, .bloc a, .sidebar a, .pop a, .date a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover,
#changebp a, #currentbp a, .phylactere, .phylactere a {
    color: #ccc;
}
.date, .bloc_title, #promos_ads h2, .bloc_title a.plink {
    color: #313330
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #ccc !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #4A5052;
}
.phylactere.left .pointe_border {
    border-right-color: #000;
}
.phylactere.left .pointe_bg {
    border-right-color: #4a5052;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #000;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #4a5052;
}