#blogcontent {
    margin-top: 80px;
}

/* Backgrounds et Borders */
.consult, .pop {
    background: #fff url(/img/templates/blogs/officiels/210/bg.jpg?20081030) no-repeat center top !important;
}
.sidebar {
    border-color: #fff;
    background: #9b9077 url(/img/templates/blogs/officiels/210/sidebar.jpg) no-repeat center bottom;
}
.sidebar-info-bloc h3, #load-more a   {
    background-color: #ffd820;
}
.liste-actions li {
    border: 0;
}
.bloc{
    border-color: #20a5dd;
    background: #fff url(/img/templates/blogs/officiels/210/article.jpg) repeat-x left 26px;
}
.phylactere {
    border-color: #20a5dd;
    background: #fff;
}
.bloc_title {
    background-color: #20a5dd;
    border-bottom: 3px solid #058fc8;
}

.widget {
    background: #fff url(/img/templates/blogs/officiels/210/widget.png) no-repeat left top;
    border: 0;
}
.date {
    background-color: #b7b2b2;
}
#currentbp a {
    border-color: #fff;
    background-color: #9b9077;
}
#changebp a {
    border-color: #fff;
    background-color: #eccb27;
}
.pop {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
.sidebar {
    border-color: #fff;
    background: #9b9077 url(/img/templates/blogs/officiels/210/sidebar.jpg) no-repeat center bottom;
}
#bloginfo h4 {
    background-color: #9b9077;
}
.liste-actions li{
    border: 0;
}
.itemlist img, .bloc .avatar {
    border-color: #20a5dd;
}

/* Colors */
.sidebar, #bloginfo em, .date, #bloginfo ul li span, .liste-actions a, .pagination a:hover, .pagination li.current a {
    color: #fff;
}
.sidebar a, .bloc a, .pagination a, .suite, .sidebar-info-bloc h3, #currentbp a, #changebp a, .widget, .sidebar h3 a, #load-more a, .phylactere a {
    color: #000;
}
#bloginfo ul li, #bloginfo h4 {
    color: #d40303;
}
.pagination , .pagination li , .pagination a {
    color: #cf1e16;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #20a5dd;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #20a5dd;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}