#blogcontent {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Couleurs bordures */
.liste-actions li, #currentbp a, .sidebar, .widget {
    border-color: #318bb2;
}
#changebp a {
    border-color: #2086AF;
}
.bloc, .textads {
    border-color: #000;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.monactu .bulle2 {
    border-color: #fff;
}
.phylactere {
    color: #000;
    border-color: #000;
    background: #fff;
}

/* Couleurs de fond des blocs */
.consult {
    background: #b4bda8 url(/img/templates/blogs/211/bg.jpg) no-repeat center top !important;
}
.liste-actions li, .sidebar, .sidebar .textads, #currentbp a, #load-more a   {
    background: #318bb2;
}
#changebp a {
    background: #2086AF;
}
.pop {
    background: #b4bda8;
}
.bloc, .textads {
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date, .bloc_title, .bloc_title a.plink {
    background: #993c16;
}

/* Couleurs textes et liens */

.liste-actions a, .liste-amis  a, #changebp a, .bloc, .textads {
    color: #000;
}
.bloc_title, .bloc_title a.plink {
    color: #fff;
}
 .sidebar, #currentbp a, #changebp a:hover, .bloc .date, #currentbp a, .sidebar-info-bloc h3, .sidebar a, .widget a, .widget, #load-more a   {
    color: #fff;
}
.liste-amis a, .liste-actions a:hover {
    text-decoration: underline;
}
.liste-actions a {
    text-decoration: none;
}
#bloginfo em {
    font-weight: bold;
}
.pagination , .pagination li , .pagination a, .bloc a, .bloc .date a {
    color: #3476ee;
}
.textads h2 {
    color: #993c16;
}

.pop {
    background-image: none;
}
/* Bordures */
.liste-actions li, #currentbp a, .sidebar, .widget {
    border-color: #318bb2;
}
#changebp a {
    border-color: #2086AF;
}
.bloc {
    border-color: #000;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.itemlist img, .bloc .avatar {
	border-color: #993C16;
}
/* couleurs et images de fond */

.liste-actions li, .sidebar, .sidebar .textads, #currentbp a {
    background: #318bb2;
}
#changebp a {
    background: #2086AF;
}
#cybercop {
    background: #993c16;
}
.widget {
    background: none;
}
.bloc {
    background: #fff;
}

/* textes et liens */
#currentbp a, .sidebar a, #cybercop, .sidebar-info-bloc h3, .pagination a {
    color: #fff;
}
.consult, .bloc, .liste-actions a, .sidebar, #changebp a, .pagination a:hover, .pagination li.current a, .phylactere {
    color: #000;
}
.liste-actions a:hover {
    text-decoration: underline;
}
.bloc a, .suite, .phylactere a {
    color: #993c16;
}
#changebp a:hover {
    color: #318bb2;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #000;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}