#blogcontent {
    margin-top: 80px;
}

/* Backgrounds et Borders */
.consult {
    background: #021d24 url(/img/templates/blogs/212/bg20110411.jpg) no-repeat center top !important;
}
.sidebar {
    background: #000e17 url(/img/templates/blogs/212/sidebar.jpg) no-repeat left top;
    border-color: #fff;
}
.sidebar-info-bloc h3 {
    background: #eee3cf;
}
#currentbp a {
    background: #000e17;
}
#changebp a {
    background-color: #cdc9c6;
    border-color: #ccd1cd;
}
.liste-actions li {
    background: #fff;
    border-color: #d7d4cd;
}
.widget {
    border-color: #86867e;
    background: #fff;
}
.bloc {
    background: #010f18 url(/img/templates/blogs/212/article.jpg) no-repeat right 10px;
    border-color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.phylactere {
    border-color: #000;
}
.bloc_title, .bloc_title a.plink {
    background: #74a1b6;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.date, .date a {
    background: #000;
}
.pop {
    background-image: none;
}
.sidebar-info-bloc h3, #bloginfo h4, #load-more a   {
    background: #eee3cf;
}
.itemlist img, .bloc .avatar {
	border-color: #fff;
}
/* Colors */
.consult, .bloc a, .bloc, .sidebar a, .sidebar, .suite, .pagination a, .pagination li.current a, .pagination select, #currentbp a, .phylactere, .phylactere a {
    color: #fff;
}
#bloginfo em, #bloginfo ul span, #bloginfo strong {
    color: #ffdb02;
}
.bloc_title, .bloc_title a.plink, .sidebar-info-bloc h3, .liste-actions a , .widget, .widget a, .pagination a:hover, #changebp a, #bloginfo h4, .sidebar h3 a, #load-more a {
    color: #000;
}
.liste-actions a:hover {
    color: #075699;
}
.date, .date a {
    color: #8e8e8e;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #74A1B6;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #010f18;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #74A1B6;
}
.phylactere.left .pointe_border {
    border-right-color: #010f18;
}
.phylactere.left .pointe_bg {
    border-right-color: #74a1b6;
}