.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#blogcontent {
	margin-top: 100px;
}
/* Borders */
#changebp a, #currentbp a, .bloc,#promos_ads, .sidebar, .widget, .comment-item, .phylactere {
	border-color: #fff;
}
.liste-actions li {
	border: none;
}

/* Backgrounds */
.consult {
	background: #7d7d7d url(/img/templates/blogs/213/bg.jpg) center top no-repeat !important;
}
.sidebar {
	background: #363638 url(/img/templates/blogs/213/sidebar.jpg) top repeat-x; 
}
#changebp a {
	background: #494c5d;
}
#currentbp a, #changebp a:hover {
	background: #1f1f1f;
}
.bloc,#promos_ads {
	background: #555 url(/img/templates/blogs/213/article.jpg) left 10px repeat-x;
}
.bloc_title, #promos_ads h2, .sidebar-info-bloc h3, #load-more a   {
	background: #4a505e;
}
.date {
	background: #413b3b;
}
.widget {
	background: #fff;
}
.pop {
    background-image: none;
}

/* Links & Colours */
.consult, .bloc, .bloc a, .sidebar, .sidebar a, .pop, .pop a, .suite, .suite a, #currentbp a, #changebp a, #load-more a, .phylactere, .phylactere a {
	color: #fff;
}
.widget, .widget a {
	color: #000;
}
.pagination li.current a, .pagination a:hover, .pagination select {
	color: #fff;
}

.itemlist img, .bloc .avatar {
	border-color: #C0D9D9;
}
.suite {
    color: #C0D9D9;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #323232;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #323232;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #323232;
}