.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#blogcontent {
	margin-top: 100px;
}

/* Borders */
#currentbp a, .bloc, #promos_ads, .sidebar, .widget, .comment-item, .phylactere {
	border-color: #fff;
}
#changebp a {
    border-color: #4e5563;
}
.liste-actions li {
	border: none;
}
#currentbp a {
    border-bottom-color: #3a3524;
}

/* Backgrounds */
.consult {
	background: #050506 url(/img/templates/blogs/214/bg.jpg) center top no-repeat !important;
}
.sidebar {
	background: #ab9a80 url(/img/templates/blogs/214/sidebar.jpg) top no-repeat; 
}
#currentbp {
    background: #ab9a80 url(/img/templates/blogs/214/onglet.jpg) top no-repeat;
}
#changebp a {
	background: #474e5a;
}
.bloc, #promos_ads{
    background: #e5d3b8 url(/img/templates/blogs/214/article.jpg) bottom no-repeat;
}
.date {
    background: #80685e;
}
.bloc_title, #promos_ads h2 {
	background: #202327;
}
.sidebar-info-bloc h3, #load-more a   {
    background: #4e5563;
}
.widget {
	background: #fff;
}
.pop {
    background-image: none;
}

/* Links & Colours */
.consult, .bloc, #musicwidget, #musicwidget a, .widget, .widget h3 a, .suite, .pagination select, .phylactere {
	color: #000;
}
.bloc a, .sidebar, .sidebar a, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination label, .pagination .next a, #currentbp a, #changebp a, .date, 
.bloc_title, .bloc_title a.plink, #promos_ads h2, .suite, .phylactere a {
	color: #fff;
}
.pagination a, #bloginfo ul {
    color: #a9c7cd;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #e5d3b8;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #e5d3b8;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #e5d3b8;
}