#blogcontent {
    margin-top: 95px;
}

/* Backgrounds et Borders */
.consult {
    background: #686667 url(/img/templates/blogs/215/bg.jpg?20090223) center top no-repeat !important;
}
.header_perso_on {
    background-position: center 90px;
}
.bloc {
    background-color: #8e8d8d;
    border: 1px dashed #fff;
    border-left: 0;
    border-right: 0;
}
.sidebar {
    border: none;
}
.bloc_title {
    background-color: #7d7b7c;
}
.liste-actions, #cybercop, .sidebar-info-bloc h3, #promos_ads_left, #promos_ads, #load-more a   {
    background: #fff;
}
#barleft .sidebar {
    background: url(/img/templates/blogs/215/sidebar-left.jpg) left top no-repeat;
}
#barright .sidebar {
    background: url(/img/templates/blogs/215/sidebar-right.png) left top repeat-x;
}
#currentbp a {
    border-color: #f4f4f4;
    background-color: #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
#changebp a {
    background-color: #6e6c6d;
    border-color: #ccc;
}
.liste-actions li{
    border-color: #ddd3c0;
}
.widget {
    background: #fff;
    border-color: #ccc;
}
.pop {
    background-image: none;
}
.itemlist img, .bloc .avatar {
	border-color: #ff0000;
}

/* Colors */
.consult, .bloc, .bloc a, .commentaires a, .date a, #changebp a, .pagination a, .phylactere a {
    color: #fff;
}
.bloc_title a.plink {
    color: #ee3a42;
}

#currentbp a, #changebp a:hover, #cybercop a, #promos_ads_left h4 {
    color: #000;
}
.liste-actions a:hover, .sidebar a {
    color:#0262dd;
}
.sidebar-info-bloc h3, .suite, .suite a, .widget h3 a, #promos_ads_left a, #promos_ads a, .pagination li.current a, 
.pagination a:hover, .pagination label, .bloc a {
    color: #ff0000;
}
.widget a, .liste-actions a {
    color: #353330;
}

#bloginfo em, #bloginfo span, #bloginfo strong, .sidebar h3 a, #load-more a   {
    color: #015aa5;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #e2e2e2;
    border-color: #323232;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #323232;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #e2e2e2;
}
.phylactere.left .pointe_border {
    border-right-color: #323232;
}
.phylactere.left .pointe_bg {
    border-right-color: #e2e2e2;
}