#blogcontent {
    margin-top: 100px;
    margin-bottom: -50px;
}
/* Backgrounds et Borders */
.consult {
    background: #000 url(/img/templates/blogs/216/bg.jpg) center top no-repeat !important;
}
#currentbp {
    background: url(/img/templates/blogs/216/currentbp.png?200933) center top no-repeat;
    height: 26px;
}
#currentbp a {
    border-color: #f63301;
}
#changebp a{
    background-color: #ec6002;
    border-color: #ec6002;
}  
.sidebar {
    border-color: #f63301;
    background: #16130f url(/img/templates/blogs/216/sidebar.jpg) center top repeat-x;
}
.sidebar-info-bloc h3, #load-more a   {
    background: #eee3ce;
}
.widget {
    border-color: #8e8677;
    background-color: #fff;
}
.bloc {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #16140e url(/img/templates/blogs/216/article.jpg) left top repeat-x;
}
.date {
    background: #2f1c0d;
}
.liste-actions, #cybercop {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#promos_ads_left, #promos_ads {
    border-color: #8e8677;
    background-color: #efefef;
}
#promos_ads_left h4 {
    background: #efefef;
}
.pop {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
.itemlist img, .bloc .avatar {
    border-color: #0262dd;
}

/* Colors */
#currentbp a, #changebp a, .sidebar, .bloc_title, .bloc_title a.plink {
    color: #ced1d2;
}
.sidebar a, .bloc, #bloginfo em, .liste-actions a:hover, #promos_ads, .pagination a, .phylactere {
    color: #f96502;
}
.consult, .sidebar-info-bloc h3, .sidebar h3 a, #load-more a   {
    color: #000;
}
.widget, #promos_ads_left, .liste-actions a {
    color: #383838;
}
.bloc a, .suite, .suite a, .commentaires, .commentaires a, .pagination li.current a, .pagination a:hover, .phylactere a {
    color: #fff;
}
.date, .date a {
    color: #616161;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    border-color: #f96502;
    background: #16140e;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #f96502;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #16140e;
}
.phylactere.left .pointe_border {
    border-right-color: #f96502;
}
.phylactere.left .pointe_bg {
    border-right-color: #16140e;
}