/* profil uniquement - pas compatible avec groupe et blog */

.container {
    margin-top: 106px;
}
/* Backgrounds et Borders */
.header_perso_on {
    background-position: center 95px;
}
#changebp a, #currentbp a, .bloc, #promos_ads, .sidebar, .widget, .comment-item {
    border-color: #00BCFF;
}
.bloc, .phylactere  {
    border-color: #a8aaab;
}
.itemlist img, .bloc .avatar {
    border-color: #00BCFF;
}
.bloc {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    background-color: #000;
}
.sidebar-info-bloc h3, #load-more a   {
    background: #000 url(/img/templates/blogs/219/sidebarh4.jpg) repeat-x top;
}
#changebp a {
    background-color: #212323;
	border-right-color:#000;
	border-top-color:#000;
}
#changebp a:hover {
	background-color: #212323;
	border-right-color:#000;
	border-top-color:#000;
}
#currentbp a, .phylactere {
    background: #000;;
}
#barleft .sidebar {
    background: #000 url(/img/templates/blogs/219/sidebar.jpg) bottom left no-repeat;
}
.liste-actions li {
    background: #4f5b60;
    border-bottom-color: #000;
}
.widget {
    border: none;
    background: #000 url(/img/templates/blogs/219/profil.jpg) center top no-repeat;
}
#cybercop {
    background: #505c61;
}

/* Transparence */
.bloc, .sidebar, #currentbp a {
    -moz-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

/* Colors */
.bloc, .sidebar, .pop, .sidebar-info-bloc h3, .widget h3 a, .liste-actions a, #bloginfo h4, #bloginfo ul li, .pagination a, .sidebar h3 a, #load-more a, .phylactere  {
    color: #fff;
}
.liste-actions a:hover {
    color: #A8AAAB;
}
.bloc a, .pop a, .bloc_title, .textads a , #changebp a, #currentbp a, .suite, .suite a, 
.pagination li.current a, .pagination a:hover, .phylactere a {
    color: #00BCFF;
}
.connections {
	color: #505c61;
}
#cybercop a {
    color: #fff;
}
#cybercop a:hover {
    color: #f00 ;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #a8aaab;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #a8aaab;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}