/* Backgrounds et Borders */
.consult {
    background: #b8b7b7 url(/img/templates/blogs/220/bg.jpg) center top no-repeat !important;
}
.sidebar {
    border-color: #0282c8;
    background: #fff url(/img/templates/blogs/220/sidebar.jpg) center bottom no-repeat;
}
.bloc {
    background: #fff url(/img/templates/blogs/220/article.jpg) left bottom no-repeat;
    border-color: #0082c9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.phylactere {
    border-color: #0082c9;
}
.bloc_title, .bloc_title a.plink, .commentaires, .commentaires a {
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
.bloc_title {
    background: #fff url(/img/templates/blogs/220/currentbp.jpg) left top repeat-x;
}
.liste-actions {
    background: #0082c9;
}
.liste-actions li{
    border-color: #fff;
}
#currentbp a {
    border-color: #0082c9;
    background: #fff url(/img/templates/blogs/218/currentbp.jpg) left top repeat-x;
}
#changebp a {
    background: #0076b6;
    border-color: #0082c9;
}
.widget, .widget h3 a, .sidebar-info-bloc h3, #load-more a   {
    background: #0082c9;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    border-color: #e32117;
    background: #fff;
}
#bloginfo {
	background: #fff url(/img/templates/blogs/218/currentbp.jpg) left top repeat-x;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
#favoris ul li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 3px no-repeat;
}
.pop {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
#bloginfo h4, .phylactere {
    background: #fff;
}
.itemlist img, .bloc .avatar {
    border-color: #0082c9;
}

/* Colors */
.blogtitle, #bloginfo em {
    color: #ff8500;
}
.bloc, .bloc a, .bloc_title, .bloc_title a.plink, .commentaires, .commentaires a, .pagination a, .pagination li.current a, .phylactere, .phylactere a {
    color: #0082c9;
}
.date, .date a, .connections {
    color: #757575;
}
.liste-actions a, #changebp a, #musicwidget, #musicwidget a, .widget, .widget h3 a, .sidebar-info-bloc h3, .sidebar h3 a, #load-more a   {
    color: #fff;
}
.consult, #cybercop a, #currentbp a, #bloginfo h4 {
    color: #000;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    color: #e32117;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #0082c9;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #0082c9;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}