/* Backgrounds et Borders */
.consult {
    background: #2d77ff url(/img/templates/blogs/221/bg.jpg) center top no-repeat !important;
}
.sidebar {
    background: #adca36;
    border-color: #adca36;
}
.bloc {
    background: #fff;
    border-color: #689CFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.phylactere {
    background: #b1ad88;
    border-color: #7b764d;
}
.bloc_title {
    background: #689CFF;
}
.bloc_title a.plink, .commentaires, .commentaires a {
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
.liste-actions {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#currentbp a {
    border-color: #adca36;
    background: #adca36;
}
#changebp a {
    background: #0076b6;
    border-color: #0082c9;
}
.widget {
    background: #fff;
    border-color: #8e8677;
}
.sidebar-info-bloc h3, #load-more a   {
    background: #adca36;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    border-color: #e32117;
    background: #fff;
}
#promos_ads h2 {
    background: #fff;
}
#favoris ul li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 3px no-repeat;
}
.pop {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
#bloginfo h4 {
    background: #aea882;
}
.itemlist img, .bloc .avatar {
    border-color: #0082c9;
}

/* Colors */
.sidebar h1.blogtitle {
    color: #ff8500;
}
.consult, .bloc, .liste-actions a, #cybercop a, #currentbp, .widget, .phylactere {
    color: #000;
}
.bloc_title, #changebp a, .pagination a, .pagination li.current a, #bloginfo h4, #bloginfo li span {
    color: #fff;
}
.bloc_title a.plink, .commentaires, .commentaires a {
    color: #AECA37;
}
.date, .date a, .connections {
    color: #757575;
}
.liste-actions a:hover, #bloginfo li em {
    color: #015aa5;
}
.sidebar-info-bloc h3 , .sidebar h3 a, #load-more a  {
    color: #3f4c08;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    color: #e32117;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #7b764d;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #b1ad88;
}
.phylactere.left .pointe_border {
    border-right-color: #7b764d;
}
.phylactere.left .pointe_bg {
    border-right-color: #b1ad88;
}