.currentTrack.bloc_title {
     padding-top: 0;
}

/* Backgrounds et Borders */
.consult {
    background: #000 url(/img/templates/blogs/222/bg.jpg) center top no-repeat !important;
}
.sidebar, #promos_ads {
    background: #edcf2f;
    border-color: #fdfdb3;
}
.bloc {
    background: #f3e7a0 url(/img/templates/blogs/222/article.png) no-repeat center top;
    border-color: #614f19;
}
.bloc_title {
    background: transparent;
    padding-top: 7px;
}
.bloc_title a.plink, .commentaires, .commentaires a {
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
#promos_ads_left h4, #promos_ads a, #promos_ads_left a {
    background: #edcf2f;
    border-color: #fdfdb3;
}
.liste-actions {
    background: #2e2013;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#currentbp a {
    background: #edcf2f;
    border-color: #fdfdb3;
}
#changebp a {
    background: #cececc;
    border-color: #8c887d;
}
.widget {
    background: #f5e9a1;
    border-color: #8f877c;
}
.sidebar-info-bloc h3, #load-more a   {
    background: #ece4cd;
}
#favoris ul li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 3px no-repeat;
}
.pop, .pop .bloc {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
.phylactere  {
    background: #cbaf28;
    border-color: #fdfdb3;
}

/* Colors */
.consult, .bloc_title, #cybercop a, #currentbp a,#changebp a, .widget, .widget a, .sidebar-info-bloc h3, #bloginfo h4, .sidebar h3 a, #load-more a {
    color: #000;
}
.bloc a, .bloc_title a.plink, .commentaires, .commentaires a, #bloginfo li em, .pagination a:hover, .pagination li.current a, .date, .date a, .phylactere a {
    color: #0057af;
}
.liste-actions a {
    color: #e27e28;
}
.liste-actions a:hover, .pagination a, .pagination li.current a:hover {
    color: #edcf2f;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fdfdb3;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #cbaf28;
}
.phylactere.left .pointe_border {
    border-right-color: #fdfdb3;
}
.phylactere.left .pointe_bg {
    border-right-color: #cbaf28;
}