/* Profil officiel - pas de déclinaison groupe&blog*/
.liste-amis a {
    text-decoration: none;
}
.liste-amis a:hover {
    text-decoration: underline;
}

/* Background et Borders */
.sidebar {
    background: #fff;
    border-color: #6c0c5a;
}
.bloc, .phylactere  {
    background: #fff;
    border-color: #6c0c5a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.liste-actions {
    background: #2e2112;
}
.liste-actions li{
    border-color: #fff;
}
#currentbp a {
    border-color: #6c0c5a;
    background: #fff;
}
#changebp a {
    background: #6c0c5a;
    border-color: #6c0c5a;
}
.widget, .widget a {
    background: #6c0c5a;
    border-color: #8e8677;
}
.sidebar h2, .sidebar-info-bloc h3, #load-more a   {
    background: #eee3cf;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    border-color: #6c0c5a;
    background: #fff;
}

/* Colors */
.bloc, #cybercop a, .sidebar h2, .sidebar-info-bloc h3, #bloginfo h4, .sidebar h3 a, #load-more a, .phylactere {
    color: #000;
}
.blogtitle, .liste-actions a:hover, #currentbp a, #promos_ads, #promos_ads a, 
#promos_ads_left, #promos_ads_left h4, #promos_ads_left a, #bloginfo li em, #bloginfo li strong {
    color: #6c0c5a;
}
.connections {
    color: #878889;
}
.liste-actions a {
    color: #f18220;
}
#changebp a, .widget, .widget a {
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #6c0c5a;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #6c0c5a;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}