.currentTrack.bloc_title {
     padding-top: 0;
}

/* Backgrounds et Borders */
.consult {
    background: #050101 url(/img/templates/blogs/224/bg.jpg) center top no-repeat !important;
}
.sidebar, #promos_ads {
    border-color: #af6218;
}
.bloc {
    background: #eb7711 url(/img/templates/blogs/224/article.png) repeat-x center bottom;
    border-color: #ffc630;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pop .bloc {
    background: #eb7711;
    border-color: #ffc630;
}
.bloc_title {
    background: transparent;
    padding-top: 7px;
}
.bloc img {
    border: 1px solid #292824;
}
.commentaires, .commentaires a {
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
.liste-actions {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#cybercop {
    background-color: #eee3ce;
}
#currentbp a {
    border-color: #af6218 ;
}
#changebp a {
    background: #cececc;
    border-color: #8c887d;
}
.widget {
    background: #fefefe;
    border-color: #8e8677;
}
#promos_ads_left  {
    border: 0px;
}
#promos_ads, .phylactere {
    background: #efefef;
    border-color: #bcbcbc;
}
.sidebar-info-bloc h3, #promos_ads_left h4, #load-more a   {
    background: #eee3ce;
}
#promos_ads_left h4 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.itemlist img, .bloc .avatar {
	border-color: #0262DD;
}
.liste-amis-verbose li, #favoris li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 2px no-repeat;
}
.pop {
    background-image: none;
}

/* Colors */
.consult, .bloc, .sidebar, .suite  {
    color: #fff;
}
.bloc_title, .bloc_title a.plink, .sidebar a, #currentbp a, #bloginfo li em {
    color: #f9d764;
}
.commentaires, .commentaires a, .liste-actions a:hover {
    color: #015aa5;
}
.date, .date a {
    color: #616161;
}
.liste-actions a {
    color: #353330;
}
#cybercop a, #changebp a, .widget, .widget a, .sidebar-info-bloc h3, #promos_ads_left h4, .sidebar h3 a, #load-more a {
    color: #000;
}
.pagination a, .pagination li.current a:hover {
    color: #eee3ce;
}
.pagination a:hover, .pagination li.current a {
    color: #0057af;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}