#blogcontent {
    margin-top: 92px;
}
.currentTrack.bloc_title {
     padding-top: 0;
}
/* Backgrounds et Borders */
.consult {
    background: #000 url(/img/templates/blogs/225/bg.jpg) center top no-repeat !important;
}
.pop {
    background: #000;
}
.sidebar, .phylactere {
    border-color: #fff;
    background: #000;
}
.bloc {
    background: #292929 url(/img/templates/blogs/225/article.png) no-repeat center bottom;
    border-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pop .bloc {
    background: #292929;
    border-color: #fff;
}
.bloc_title {
    background: transparent;
    padding-top: 7px;
}
.bloc img {
    border: 1px solid #292824;
}
.commentaires, .commentaires a {
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
.liste-actions {
    background: #4a4a4a;
}
.liste-actions li{
    border-color: #000;
}
#promos_ads_left  {
    border: 0px;
}
#promos_ads {
    background: #efefef;
    border-color: bcbcbc;
}
#cybercop {
    background-color: #eee3ce;
}
#currentbp a {
    border-color: #fff ;
    background: #000;
}
#changebp a {
    background: #007192;
    border-color: #007192;
    border-bottom-color: #fff;
}
.widget {
    background: #4a4a4a;
    border-color: #4a4a4a;
}
.sidebar-info-bloc h3, #promos_ads_left h4, #load-more a {
    background:#7c8b9d url(/img/templates/blogs/225/cartouche.png) left top repeat-x;
    border: 1px solid #fff;
    padding: 0;
}
#promos_ads_left h4 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.liste-amis-verbose li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 2px no-repeat;
}
.pop {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
.itemlist img, .bloc .avatar {
    border-color: #00c6ff;
}

/* Colors */
#bloginfo li em, .suite, .suite a, .pagination a, .pagination li.current a:hover, .pagination a:hover, .pagination li.current a {
    color: #00c6ff;
}
.consult, .bloc, .bloc a, .sidebar, .pop, .pop a, .blogtitle, .bloc_title, .bloc_title a.plink, 
.date, .date a, .liste-actions a, #currentbp a, #changebp a, .widget, .widget a, .liste-amis-verbose li, .phylactere, .phylactere a {
    color: #fff;
}
.liste-actions a:hover {
    color: #2e2e2e;
}
#cybercop a, .sidebar-info-bloc h3, #promos_ads_left h4, .sidebar h3 a, #load-more a {
    color: #000;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}