.currentTrack.bloc_title {
     padding-top: 0;
}
.bloc {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.commentaires, .commentaires a, .sidebar a {
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}

/* Backgrounds et Borders */
.consult {
    background: #420e5c url(/img/templates/blogs/226/bg2.jpg) center top no-repeat !important;
}
.pop {
    background: #420e5c;
}
.sidebar {
    border-color: #8e8677;
    background: #420e5c url(/img/templates/blogs/226/sidebar.png) center top repeat-x;
}
.bloc {
    background: #d276f8 url(/img/templates/blogs/226/article.jpg) repeat-x center bottom; 
    border-color: #faddfc;
}
.bloc_title {
    background: transparent;
    padding-top: 7px;
}
.liste-actions {
    background: #e91cee url(/img/templates/blogs/226/bloc-messagerie.jpg) center top repeat-x;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#cybercop {
    background-color: #eee3ce;
}
#currentbp a {
    border-color: #8e8677;
    background: #63ace0;
}
#changebp a {
    background: #cecece;
    border-color: #8e8677;
}
.widget {
    background: #609fd6;
    border-color: #8e8677;
}
.textads {
    background: #efefef;
    background-image: none;
    border-color: #bcbcbc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-info-bloc h3, #load-more a {
    background: #eee3ce;
    border: 1px solid #eee3ce;
    padding: 0;
}
.liste-amis-verbose li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 2px no-repeat;
}
.pop, .pop .bloc {
    background-image: none;
}
.phylactere {
    background: #fff;
    border-color: #bcbcbc;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}

/* Colors */
.consult, .sidebar, .pop, .blogtitle, #cybercop a, #currentbp a, #changebp a, .widget a, .textads, 
.sidebar-info-bloc h3, .textads a, .pop .bloc, .sidebar h3 a, #load-more a {
    color: #000;
}
.bloc, .bloc a, .bloc_title a.plink, .sidebar a, #bloginfo, .liste-amis a, .liste-amis-verbose a, .pop .bloc a {
    color: #fff;
}
.date, .date a, .phylactere a {
    color: #616161;
}
.liste-actions a {
    color: #353330;
}
.liste-actions a:hover {
    color: #015aa5;
}
#bloginfo li em {
    color: #eb32ef;
}
.suite, .suite a, .pagination a, .pagination li.current a {
    color: #00c6ff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}