.currentTrack.bloc_title {
     padding-top: 0;
}

/* Backgrounds et Borders */
.consult {
    background: #0153aa url(/img/templates/blogs/227/bg.jpg) center top no-repeat !important;
}
.pop {
    background: #00c5e5;
}
.sidebar {
    border-color: #8e8677;
    background: #00c5e5;
}
.bloc {
    background: #d276f8;
    border-color: #faddfc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bloc_title {
    background: transparent;
    padding-top: 7px;
}
.commentaires, .commentaires a {
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}
.liste-actions {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#cybercop {
    background-color: #eee3ce;
}
#currentbp a {
    border-color: #8e8677;
    background: #00c5e5;
}
#changebp a {
    background: #0055a0;
    border-color: #1f6097;
}
.widget {
    background: #fff;
    border-color: #8e8677;
}
#promos_ads_left  {
    border: 0px;
}
#promos_ads, .phylactere {
    background: #efefef;
    border-color: #bcbcbc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-info-bloc h3, #promos_ads_left h4, #load-more a {
    background: #eee3ce;
    border: 1px solid #eee3ce;
    padding: 0;
}
#promos_ads_left h4 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#amis li, #amis_communs li, #favoris li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 2px no-repeat;
}
.pop {
    background-image: none;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}
.sidebar-info-bloc h3 {
    background: #eee3ce;
    border-color: #eee3ce;
}

/* Colors */
.consult, .bloc, .bloc a, .pop a, .bloc_title, .bloc_title a.plink, .commentaires, .commentaires a, .liste-amis a, #favoris a, .pop .pagination a {
    color: #fff;
}
.sidebar, .blogtitle, .sidebar-info-bloc h3, #promos_ads_left h4, #bloginfo, #cybercop a, #currentbp a, #changebp a, 
.widget a, .textads a, .sidebar h3 a, #load-more a {
    color: #000;
}
.date, .date a {
    color: #616161;
}
.liste-actions a {
    color: #353330;
}
.liste-actions a:hover, #bloginfo li em, .textads {
    color: #015aa5;
}
.widget {
    color: #383838;
}
.suite, .suite a, .pagination a, .pagination li.current a:hover, .pagination li.current a {
    color: #00c6ff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere a{
    color: #d276f8;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}