.currentTrack.bloc_title {
     padding-top: 0;
}

/* Backgrounds et Borders */
.consult{
    background: #e75027 url(/img/templates/blogs/228/bg.jpg) center top no-repeat !important;
}
.sidebar {
    border-color: #f8d287;
    background: #a33014 url(/img/templates/blogs/228/sidebar.png) center top repeat-x;
}
.bloc {
    background: #ec6b1d url(/img/templates/blogs/228/article.jpg) repeat-x center bottom; 
    border-color: #f8d28b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pop .bloc  {
    background: #F0860D;
    border-color: #fff;
}
.bloc_title {
    background: transparent;
    padding-top: 7px;
}
.liste-actions {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#cybercop {
    background-color: #f0860d;
}
#currentbp a {
    border-color: #f8d287;
    background: #e75824;
}
#changebp a {
    background: #cecece;
    border-color: #8e8677;
    border-bottom-color:#f8d287;
}
.widget {
    background: #fff;
    border-color: #8e8677;
}
.textads {
    border-color: #f8d287;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-info-bloc h3, #load-more a {
    background: #f0860d;
    border: 1px solid #f0860d;
    padding: 0;
}
#amis li, #amis_communs li, #favoris li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 2px no-repeat;
}
.pop {
    background-image: none;
}
.phylactere {
    background: #fff;
    border-color: #bcbcbc;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}

/* Colors */
.consult, .sidebar, .blogtitle, .bloc, .bloc a, .bloc_title, .bloc_title a.plink, .commentaires, .commentaires a, 
.date, .date a, #cybercop a, .sidebar-info-bloc h3, #bloginfo, .pop a, .sidebar h3 a, #load-more a {
    color: #fff;
}
.sidebar a, .textads {
    color:#f0860d;
}
.liste-actions a, .textads a {
    color: #353330;
}
.liste-actions a:hover, .pagination li.current a {
    color: #015aa5;
}
#currentbp a, #changebp a, .widget, .textads a, #blogprofil h3 a, .widget a, .suite, .suite a, .pagination a {
    color: #000;
}
#bloginfo li em, .phylactere a {
    color: #e3186b;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}