
.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.date {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

/* Borders */

#changebp a, .bloc, .sidebar, #promos_ads, .widget, #currentbp a, .phylactere {
	border-color: #908164;
}
.liste-actions li {
	border-color: #7f8fa8;
}
.comment-item {
	border-color: #333;
}

/* Backgrounds */

.consult {
	background: #000 url(/img/templates/blogs/229/bg.jpg) no-repeat center top !important;
}
#changebp a {
	background: #ac9c83 url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a:hover {
	background: #ddd3c0 url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar {
	background: #ddd3c0;
}
#currentbp a {
	background: #ddd3c0 url(/img/templates/blogs/title.png) top repeat-x;
}
.widget {
	background: #fff url(/img/templates/blogs/title.png) top repeat-x;
}
.bloc, .widget, #promos_ads {
	background: #efefef url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar-info-bloc h3, #load-more a {
	background: #cdc4b2;
}
.bloc .date {
	background: #d7d7d7;
}
.liste-actions li {
	background: #fff;
}
#cybercop {
	background: #c9baa0;
}

/* Links & Colours */
.consult, .bloc, .pop, .liste-actions a:hover, #cybercop a:hover, .phylactere {
	color: #000;
}
.pagination a {
	color: #fff;
}
.pop a, .bloc a, .sidebar a, .suite, #bloginfo em, #currentbp a, 
.pagination li.current a, .pagination a:hover, .pagination select, .phylactere a {
	color: #015BA7;
}
#changebp a {
	color: #544E42;
}
.bloc_title a.plink {
    color: #000;
    text-decoration: none;
}

.pop {
    background-image: none;
}

.sidebar-info-bloc h3 {
	background-color: #CDC4B2;
}

.itemlist img, .bloc .avatar {
	border-color: #6f6b62;
}
#bloginfo li span {
    color: #015AA5;
}
.sidebar h3 a, #load-more a {
    color: #2b343d;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #efefef;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #908164;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #908164;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}