.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .widget, .comment-item, .article_content_menu, #blogcomments,
.phylactere, .bloc-description {
    border-color: #E710DA !important;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #E610DE;
}

/* Backgrounds */
.consult, .widget, .phylactere, #blogprofil, .compteurs_block li, .section_box {
    background: #F6A1EE;
}
#changebp a {
    background: #999;
}
#currentbp a, #changebp a:hover, .sidebar, #load-more a, .bloc-description {
    background: #636164;
}
.date, .bloc_title, #promos_ads h2, .title_tooltip {
    background: #E610DE;
}
.pop #blogcomments .bloc {
    background: #F6A1EE;
}

/* Links & Colours */
.sidebar, .pop, .date, .bloc_title, #promos_ads h2, .bloc_title a.plink, .liste-actions a:hover, #cybercop a:hover,
.pagination a, #changebp a, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #fff;
}
.consult, .bloc, .bloc a, .sidebar a, .pop a, .date a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover,
#currentbp a, .phylactere a {
    color: #000;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #E710DA;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #F6A1EE;
}
.phylactere.left .pointe_border {
    border-right-color: #e710da;
}
.phylactere.left .pointe_bg {
    border-right-color: #f6a1ee;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #e710da;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #f6a1ee;
}