#currentbp a, #changebp a:hover, .sidebar, .bloc, .phylactere {
	background-color: #c9baa0;
}
.widget, .bloc {
    background-image: url(/img/templates/profils/title.png);
    background-repeat: repeat-x;
}
* html .widget {
     background-image: none;
}
.widget, .liste-actions li {
    background-color: #fff;
}
#cybercop, #changebp a {
	background-color: #ac9c83;
}
.widget, .liste-actions li {
    border-color: #ccc;
}
.sidebar, .bloc, #changebp, #changebp a, #currentbp a, .phylactere {
	border-color: #908164;
}
.itemlist img, .bloc .avatar {
	border-color: #6f6b62;
}

/* Colors */
.bloc a, .pop a, .sidebar a, .suite, #bloginfo li span, .liste-actions a:hover, .pagination a, .phylactere a {
    color: #015AA5;
}
.bloc, .sidebar, .pop, #changebp a, #cybercop a:hover, .liste-actions a, #currentbp a, .pagination a:hover, .pagination li.current a, .sidebar h3 a, #load-more a, .phylactere {
    color: #333;
}
#changebp a {
	color: #544e42;
}
.liste-actions a:hover, #cybercop a:hover {
	color: #000;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #908164;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #c9baa0;
}
.phylactere.left .pointe_border {
    border-right-color: #908164;
}
.phylactere.left .pointe_bg {
    border-right-color: #c9baa0;
}