/* Backgrounds et Borders */
.consult {
    background: #009ee0 url(/img/templates/blogs/231/bg.jpg) center top no-repeat !important;
}
.pop {
    background: #009ee0;
}
.sidebar {
    border-color: #f8d287;
    background: #e2fa40 url(/img/templates/blogs/231/sidebar.jpg) center top repeat-x;
}
.bloc {
    background: #009edf url(/img/templates/blogs/231/article.jpg) no-repeat center bottom; 
    border-color: #f8d28b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.phylactere {
    background: #efefef; 
    border-color: #bcbcbc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity: 0.8;
}
.pop .bloc {
    background: #d3f199;
    border-color: #fff;
}
.date {
    background: #0e8ab7;
}
.liste-actions {
    background: #fff;
}
.liste-actions li {
    border-color: #ddd3c0;
}
#cybercop {
    background-color: #009ee0;
}
#currentbp a {
    border-color: #f8d287;
    background: #009ee0;
}
#changebp a {
    background: #cecece;
    border-color: #8e8677;
    border-bottom-color:#f8d287;
}
.sidebar .widget {
    background: #fff;
    border-color: #8e8677;
}

#promos_ads {
    background: #e0f942;
    border-color: #f8d287;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#009ee0;
}

.sidebar-info-bloc h3, #load-more a {
    background: #d3f199;
    border: 1px solid #d3f199;
}
#amis ul li, #amis_communs ul li, #favoris ul li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 2px no-repeat;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}

/* Colors */
.consult, .sidebar, .bloc, .bloc a, .bloc_title a.plink, .liste-amis-verbose a, .date, .date a, #cybercop a, #bloginfo {
    color: #fff;
}
.pop .bloc, .sidebar-infos-bloc a, #promos_ads, #promos_ads a {
    color:#009ee0;
}
.liste-actions a {
    color: #353330;
}
.liste-actions a:hover {
    color: #015aa5;
}
#currentbp a, #changebp a, .sidebar .widget, .suite, .suite a, .pagination a {
    color: #000;
}
.sidebar-info-bloc h3, .sidebar h3 a, #load-more a {
    color: #019edf;
}
#bloginfo li em {
    color: #f0860d;
}
.pagination li.current a, .pagination  a{
    color: #e2fa40;
}
.commentaires, .commentaires a {
    color: #0e8ab7;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}