.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc,#promos_ads, .widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/* Borders */
#currentbp a, #changebp a, .sidebar, #promos_ads, .widget {
    border-color: #323232;
}
.liste-actions li, .bloc, #blogcomments div.comment-item, .phylactere {
    border-color: #000;
}

/* Backgrounds */
.consult {
    background: #000 url(/img/templates/blogs/232/bg.jpg) top no-repeat !important;
}
.sidebar {
    background: #000 url(/img/templates/blogs/232/sidebar.jpg) center 98% no-repeat;
}
#changebp a, .bloc .date {
    background-color: #434343;
}
#currentbp a, .sidebar, #changebp a:hover, #bloginfo h3 {
    background-color: #000;
}
.bloc {
    background: #4b4b4b url(/img/templates/blogs/title.png) repeat-x top;
}
.widget, .liste-actions li {
    background-color: #434343;
}
.sidebar-info-bloc h3 {
    background: #8fb420;
}
#cybercop {
    background: #fff;
}

/* Link & Colours */
.consult, .bloc, .pop, .sidebar a, .pagination a, .suite, .liste-actions a:hover, .phylactere {
    color: #8fb420;
}
.sidebar, .bloc a, .pop a, .liste-actions a, .sidebar-info-bloc h3, 
.bloc_title a.plink, .widget, #changebp a, #bloginfo, .commentaires, .phylactere a {
    color: #fff;
}
#cybercop a {
    color: #000;
}
#bloginfo h3, #currentbp a {
    color: #ff1200;
}
#bloginfo em, .pagination li.current a, .pagination a:hover {
    color: #e0d600;
}
.date, .date a {
    color: #757575;
}

/* TRANSPARENCE IE 6 */
* html .bloc {
    background-image: none;
}
#load-more a {
    background: #8fb420;
}
.sidebar h3 a, #load-more a {
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #4b4b4b;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #4b4b4b;
}
.phylactere.left .pointe_border {
    border-right-color: #000;
}
.phylactere.left .pointe_bg {
    border-right-color: #4b4b4b;
}