.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc,#promos_ads, .widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

/* Borders */
#currentbp a, #changebp a, .sidebar, #promos_ads, .widget {
    border-color: #8e8677;
}
.liste-actions li, #blogcomments div.comment-item {
    border-color: #ddd3c0;
}
.bloc, .phylactere {
    border-color: #bcbcbc;
}

/* Backgrounds */
.sidebar, #currentbp a {
    background-color: #ddd3c0;
}
#changebp a {
    background-color: #cecece;
}
.bloc .date {
    background-color: #d7d7d7;
}
.bloc, .phylactere {
    background-color: #faf7de;
}
#changebp a:hover {
    background-color: #efefef;
}
.liste-actions li {
    background-color: #fff;
}
.sidebar-info-bloc h3, #cybercop, #load-more a {
    background: #eee3ce;
}
.widget {
    background: #fff;
}

/* Link & Colours */
.bloc a, .sidebar a, .pop a, .liste-actions a:hover, .pagination a, #bloginfo em, 
.commentaires, .suite, .phylactere a {
    color: #015aa5;
}

.bloc, .sidebar, .pop, .liste-actions a, .bloc_title a.plink, 
#changebp a, #currentbp a, .widget h3 a, #cybercop a, .sidebar h3 a, #load-more a, .phylactere {
    color: #000;
}
.pagination li.current a, .pagination a:hover {
    color: #8e8677;
}
.connections {
    color: #837f67;
}
.date {
    color: #757575;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #FAF7DE;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #faf7de;
}