/* Backgrounds et Borders */
.consult {
    background: #0082c9 url(/img/templates/blogs/237/bg.jpg) center 40px no-repeat !important;
}
.sidebar {
    border-color: #fff;
    background: #fff;
}
.bloc, .phylactere {
    background: #fff;
    border-color: #0082c9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bloc_title, .bloc_title a.plink, .commentaires, .commentaires a {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
}
.bloc_title {
    background: #fff url(/img/templates/blogs/218/currentbp.jpg) left top repeat-x;
}
.liste-actions {
    background: #0082c9;
}
.liste-actions li{
    border-color: #fff;
}
#currentbp a {
    border-color: #0082c9;
    background: #fff url(/img/templates/blogs/218/currentbp.jpg) left top repeat-x;
}
#changebp a {
    background: #a7a7a7;
    border-color: #b3b3b3;
}
.widget, .widget h3 a, .sidebar-info-bloc h3, #load-more a{
    background: #0082c9;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    border-color: #e32117;
    background: #fff;
}
#bloginfo {
    background: #fff url(/img/templates/blogs/218/currentbp.jpg) left top repeat-x;
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
}
#favoris ul li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 3px no-repeat;
}
.pop {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
.itemlist img, .bloc .avatar {
    border-color: #0082c9;
}
#currentbp a {
    border: 2px solid #fff;
}

/* Colors */
.sidebar h1.blogtitle, #bloginfo em {
    color: #ff8500;
}
.bloc, .bloc a, .bloc_title, .bloc_title a.plink, .phylactere, .phylactere a {
    color: #0082c9;
}
.date, .date a, .connections {
    color: #757575;
}
.consult, .liste-actions a, #changebp a, #musicwidget, #musicwidget a, .widget, .widget h3 a, .sidebar-info-bloc h3, .pagination a, .pagination .current a, .sidebar h3 a, #load-more a {
    color: #fff !important;
}
#cybercop a, #currentbp a {
    color: #000;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    color: #e32117;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #0082c9;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #0082c9;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}