/* Backgrounds et Borders */
.consult {
    background: #c81118 url(/img/templates/blogs/238/bg.jpg?20100805) center top no-repeat !important;
}
.sidebar {
    border-color: #8e8677;
    background: #306c88 url(/img/templates/blogs/238/sidebar.jpg?20100805) left top repeat-x;
}
.bloc {
    background: #fff url(/img/templates/blogs/238/bloc.jpg?20100805) left bottom repeat-x;
    border-color: #bcbcbc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.phylactere  {
    border-color: #bcbcbc;
}
#cybercop {
    background: #eee3ce;
}
.bloc_title, .bloc_title a.plink, .commentaires, .commentaires a {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
}
.bloc_title {
    background: 0;
}
.liste-actions, .phylactere {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#currentbp a {
    background: #23c1e4;
    border-color: #8e8677;
}
#changebp a {
    background: #cecece;
    border-color: #8e8677;
}
.widget, .widget h3 a, .sidebar-info-bloc h3, #load-more a {
    background: #eee3ce;
}
.widget {
    border: 1px solid #8e8677;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    border-color: #e32117;
    background: #fff;
}
#favoris ul li {
    padding-left: 12px;
    background: url(/img/templates/blogs/218/puce.png) left 3px no-repeat;
}
.pop {
    background-image: none;
}
.header_perso_on {
    background-position: center 90px;
}
.itemlist img, .bloc .avatar {
    border-color: #0082c9;
}
.date {
    background: #21a6c5;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.donot-getstyle {
    background: none;
}

/* Colors */
.consult, .bloc, .sidebar h1.blogtitle, .sidebar h3 a, p.suite, .connections, .pagination, .pagination a, .pagination a:hover, .phylactere {
    color: #000 !important;
}
.bloc a, .bloc a:hover, .commentaires, .commentaires a, #bloginfo em, .phylactere a {
    color: #015aa5;
}
.liste-actions a:hover {
    color: #000 !important;
}
.pagination .current a {
    color: #fff !important;
}
.liste-actions a, #changebp a, .widget, .widget h3 a, .sidebar-info-bloc li em, .sidebar a, #load-more a, .date a {
    color: #015aa5 !important;
}
.bloc_title, .bloc_title a.plink, .widget a, #cybercop a, #currentbp a {
    color: #000;
}
#promos_ads, #promos_ads a, #promos_ads_left, #promos_ads_left h4, #promos_ads_left a {
    color: #e32117;
}
.date {
    color: #616161;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}