.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .widget, .comment-item, .article_content_menu, #blogcomments,
.phylactere, .bloc-description, .compteurs_block li, .section_box {
    border-color: #01CC00 !important;
}
.liste-actions li {
    border: none;
}
#currentbp a {
    border-bottom: 0;
}
.title_tooltip .pointe_border {
    border-top-color: #2a232a;
}

/* Backgrounds */
.consult, .widget, .bloc, .phylactere, .sidebar, .compteurs_block li, .section_box {
    background: #393039;
}
.title_tooltip {
    background: #2a232a;
}
#currentbp a, #changebp a:hover, #promos_ads, #load-more a, .bloc-description, .sidebar {
    background: #000 url(/img/templates/blogs/24/bg.gif) repeat;
}
.date, .bloc_title, #promos_ads h2 {
    background: #003800;
}
.blocTracklist, #menuTime {
    background: #003800;
}

/* Links & Colours */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, .sidebar h3 a, #load-more a, .phylactere,
.bloc-description {
    color: #ccc;
}
.bloc a, .sidebar a, .pop a, .date, .date a, .bloc_title, #promos_ads h2, .suite, #bloginfo em,
.pagination li.current a, .pagination a:hover, #changebp a, #currentbp a, .phylactere a {
    color: #01CC00;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #01CC00 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #01CC00;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #393039;
}
.phylactere.left .pointe_border {
    border-right-color: #01cc00;
}
.phylactere.left .pointe_bg {
    border-right-color: #393039;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #01cc00;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #393039;
}