.sidebar, .bloc,.bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois h5.blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
#changebp, #changebp a,
.bloc, .sidebar, #promos_ads, .widget, .article_content_menu, #blogcomments, .phylactere, .bloc-description {
    border-color: #9e9a2f !important;
}
.comment-item {
    border-color: #9C9B31;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #9C9B31;
}

/* Backgrounds */
.consult, .widget, .phylactere, #load-more a, .compteurs_block li, .section_box {
    background: #333300;
}
#currentbp a, #changebp a:hover, .sidebar, .bloc-description {
    background: #1A1904;
}
.date, .bloc_title, #promos_ads h2, .title_tooltip {
    background: #9C9B31;
}
.pop #blogcomments .bloc {
    background: #333300;
}

/* Links & colours */
.bloc a, .sidebar a, .pop a, .liste-actions a:hover, .suite, #bloginfo em, .pagination li.current a,
.pagination a:hover, #cybercop a,#changebp a, #currentbp a, .phylactere a {
    color: #9C9B31;
}
.consult, .bloc, .sidebar, .pop, .pagination a, .liste-actions a, .date a, .date a:hover, .bloc-description,
.bloc_title a.plink, .bloc_title, #menuTime, .sidebar h3 a, #load-more a, .phylactere {
    color: #fff;
}
.bloc_title {
    background:#9C9B31;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #9e9a2f;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #330;
}
.phylactere.left .pointe_border {
    border-right-color: #9a9a2f;
}
.phylactere.left .pointe_bg {
    border-right-color: #330;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #9a9a2f;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #330;
}