/* Backgrounds et Borders */

.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

/* Borders */

.bloc, #promos_ads, .widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc, .sidebar, #changebp a, #promos_ads, .widget, #currentbp a, .phylactere {
    border-color: #908164;
}
.liste-actions li {
    border-color: #7f8fa8;
}
.comment-item {
    border-color: #333;
}

/* Backgrounds */
.consult {
    background: #000 url(/img/templates/blogs/300/bg.jpg) center top no-repeat !important;
}
#changebp a {
    background: #ac9c83 url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a:hover {
    background: #ddd3c0 url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar {
    background: #ddd3c0;
}
#currentbp a {
    background: #ddd3c0 url(/img/templates/blogs/title.png) top repeat-x;
}
.bloc, .widget, #promos_ads {
    background: #efefef url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar-info-bloc h3, #load-more a {
    background: #cdc4b2;
}
.bloc .date {
    background: #d7d7d7;
}
.liste-actions li {
    background: #fff;
}
#cybercop {
    background: #c9baa0;
}

/* Links & Colours */
.bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, .bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere {
    color: #000;
}
.bloc a, .sidebar a , .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select, #currentbp a, .phylactere a{
    color: #015BA7;
}
#changebp a {
    color: #544E42;
}
.pop {
    background-image: none;
}
.phylactere {
    background-color: #EFEFEF;
}
* html .sidebar .widget {
    background-image: none;
}
#bloginfo li span {
    color: #015AA5;
}
.bloc .date {
    color: #616161;
}
.consult, .pagination, .pagination a {
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #908164;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #908164;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}