/* Backgrounds et Borders */

.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

/* Borders */

.bloc, #promos_ads, .widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc, .sidebar, #changebp a, #promos_ads, .widget, #currentbp a, .phylactere {
    border-color: #8e8677;
}
.liste-actions li {
    border-color: #ddd3c0;
}
.comment-item {
    border-color: #333;
}

/* Backgrounds */
.consult {
    background: #4f6320 url(/img/templates/blogs/302/bg.jpg?20100512) center top no-repeat !important;
}
#changebp a {
    background: #cecece url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a:hover {
    background: #ddd3c0 url(/img/templates/blogs/title.png) top repeat-x;
}
#currentbp a {
    background: #7dbdd7 url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar, .bloc {
    background: #bee9f9 url(/img/templates/blogs/302/bloc.jpg) top repeat-x;
}
.widget {
    background: #efefef url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar-info-bloc h3, #load-more a {
    background: #eee3ce;
}
.liste-actions li, .phylactere {
    background: #fff;
}
#cybercop {
    background: #bee9f9;
    background-image: none;
}
#promo_ads {
    background: #bee9f9 !important;
}
/* Links & Colours */
.bloc, .sidebar, .pop, .liste-actions a:hover, #cybercop a:hover, .pagination a, .bloc_title a.plink, .sidebar h3 a, #load-more a, .phylactere {
    color: #000;
}
.bloc a, .sidebar a , .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select, .phylactere a{
    color: #015BA7;
}
#currentbp a, #changebp a  {
    color: #000;
}
.pop {
    background-image: none;
}
* html .sidebar .widget {
    background-image: none;
}
#bloginfo li span {
    color: #015AA5;
}
.bloc .date {
    color: #616161;
}
.consult, .pagination, .pagination a {
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #8e8677;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #8e8677;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}