/* Backgrounds et Borders */

.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

/* Borders */

.bloc, #promos_ads, .widget {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc, .sidebar, #changebp a, #promos_ads, .widget, #currentbp a {
    border-color: #8e8677;
}
.liste-actions li {
    border-color: #ddd3c0;
}
.comment-item {
    border-color: #333;
}

/* Backgrounds */
.consult {
    background: #000 url(/img/templates/blogs/305/bg.jpg?20100512) center top no-repeat !important;
}
#changebp a {
    background-color: #cecece;
}
#changebp a:hover {
    background-color: #fff;
}
.sidebar, #currentbp a, #bloginfo h3 {
    background-color: #575c4d;
}
.bloc{
    background-color: #000;
}
.widget {
    background-color: #fefefe;
}
.sidebar-info-bloc h3, #load-more a {
    background: #eee3ce;
}
.liste-actions li {
    background: #fff;
}
#cybercop {
    background: #fff;
    background-image: none;
}
#promo_ads {
    background: #bee9f9 !important;
}
/* TRANSPARENCE IE 6 */
* html .sidebar,
* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}

/* Links & Colours */
.consult, .bloc {
    color: #575c4d;
}
.bloc a, .sidebar a , .pop a, .liste-actions a:hover, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select, .phylactere a{
    color: #015BA7;
}
.sidebar, .pop, .liste-actions a, #cybercop a:hover, .pagination a, .sidebar h3 a, #load-more a {
    color: #000;
}
#currentbp a, #changebp a  {
    color: #000;
}
.pop .bloc_title, .bloc_title a.plink, .liste-amis-verbose a, #blog .suite a, #blog .suite, .textads a {
    color: #fff;
}
.pop {
    background-image: none;
}
.phylactere {
    background: #efefef;
    border-color: #bcbcbc;
}
* html .sidebar .widget {
    background-image: none;
}
#bloginfo li span {
    color: #075490;
}
.bloc .date {
    color: #616161;
}
.pagination, .pagination a {
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}