.consult {
    background: #000 url(/img/templates/blogs/308/bg.jpg) top center no-repeat;
}
#changebp a {
    background: #cecece;
}
#changebp a:hover {
    background: #f5dd9b;
}
#currentbp a {
    background: #8ec7d0;
}
#barleft .sidebar {
    background: #dfe2db url(/img/templates/blogs/308/sideleft.jpg) top center repeat-x;
}
#barright .sidebar, #load-more a  {
    background: #d7c3be url(/img/templates/blogs/308/sideright.jpg) top center repeat-x;
}
.widget, .liste-actions li {
    background: #fff;
}
.sidebar-info-bloc h3 {
    background: #eee3ce;
}
.bloc, #promos_ads {
    background: #fff5cc url(/img/templates/blogs/308/article.jpg) top center repeat-x;
}
#bloginfo h3 {
    background-color: transparent;
}
/* Borders */
.bloc, #promos_ads, .phylactere, .textads {
    border-color: #bcbcbc;
}
.widget, #changebp a, .comment-item {
    border-color:  #8e8677;
}
#currentbp a, .sidebar {
    border-color: transparent;
}
.liste-actions li {
    border-color: #ddd3c0;
}
.itemlist img, .bloc .avatar {
    border-color: #fff;
}

/* Links & Colours */
#switchitem a, .liste-actions a, .sidebar {
    color: #000;
}
.pagination, .pagination li.current a, .pagination a:hover, .pagination select {
    color: #fff;
}

.pop {
    background-image: none;
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #fff5cc;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff5cc;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff5cc;
}