.currentTrack.bloc_title {
     padding-top: 0;
}

/* Backgrounds et Borders */
.consult{
    background: #596912 url(/img/templates/blogs/309/bg.jpg) center top no-repeat !important;
}
.sidebar {
    border-color: #fff;
    background: #f8a427;
}
.bloc {
    background: #8e4408 url(/img/templates/blogs/309/article.jpg) repeat-x center top; 
    border-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.pop .bloc  {
    background: #F0860D;
    border-color: #fff;
}
.bloc_title {
    background: #ffb134;
    padding-top: 7px;
}
.bloc .date{
    background: #682f06;
}
.liste-actions {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#cybercop {
    background-color: #f0860d;
}
#currentbp a {
    border-color: #fff;
    background: #f8a428;
}
#changebp a {
    background: transparent;
    border-color: transparent;
	border-bottom-color: #fff;
}
.widget {
    background: #fff;
    border-color: #8e8677;
}
.textads {
    border-color: #f8d287;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-info-bloc h3, #load-more a {
    background: #eee3ce;
}
#amis li, #amis_communs li, #favoris li {
    padding-left: 12px;
}
.pop {
    background-image: none;
}
.phylactere {
    background: #fff;
    border-color: #bcbcbc;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}

/* Colors */
.blogtitle, .bloc, .bloc a, .bloc_title, .bloc_title a.plink, .commentaires, .commentaires a, .date, .date a {
	color: #fff;
}
.consult, .sidebar, #cybercop a, .sidebar-info-bloc h3, #bloginfo, .pop a, .sidebar h3 a, #load-more a, .phylactere,
#currentbp a, #changebp a, .widget, .textads a, #blogprofil h3 a, .widget a, .suite, .suite a, .pagination a {
    color: #000;
}
.sidebar a, .textads {
    color: #a34e0a;
}
.liste-actions a, .textads a {
    color: #353330;
}
.liste-actions a:hover, .pagination li.current a {
    color: #015aa5;
}

#bloginfo li em, .phylactere a {
    color: #a34e0a;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}