.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .widget, .article_content_menu, #blogcomments,
.phylactere, .bloc-description {
    border-color: #7f7f7f !important;
}
.liste-actions li, #blogcomments div.comment-item {
    border-color: #7f7f7f;
}

/* Backgrounds */
.consult {
    background: #d7d7d7 url(/img/templates/blogs/31/bg.jpg) top repeat-x;
}
#changebp a {
    background-color: #A4A4A4;
}
#currentbp a, .sidebar, .bloc .date, #changebp a:hover, .bloc-description {
    background-color: #898989;
}
.bloc, #blogcontent .phylactere {
    background: #dedede url(/img/templates/blogs/title.png) repeat-x top;
}
.widget, .phylactere, .liste-actions li, .compteurs_block li, .section_box {
    background-color: #dedede;
}
.sidebar-info-bloc h3, .title_tooltip, #cybercop, #load-more a {
    background: #515151;
}
/* TRANSPARENCE IE 6 */
* html .bloc {
    background-image: none;
}

/* Link & Colours */
.consult, .bloc, .sidebar, .pop, .bloc_title a.plink, .pagination a, .bloc_title, .widget, .phylactere, .bloc-description {
    color: #000;
}
.sidebar a, .suite, .suite a, .sidebar-info-bloc h3, .sidebar_two #bloginfo li em, .pagination li.current a,
.pagination a:hover, #cybercop a, #currentbp a, #changebp a, #load-more a {
    color: #fff;
}
.pop a,  #cybercop a:hover, .liste-actions a, .widget a, .compteurs_block li a {
    color: #005ba6;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #7f7f7f;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #dedede;
}
.phylactere.left .pointe_border {
    border-right-color: #7f7f7f;
}
.phylactere.left .pointe_bg {
    border-right-color: #dedede;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #7f7f7f;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #dedede;
}
.title_tooltip .pointe_border {
    border-top-color: #515151;
}