@import url(https://fonts.googleapis.com/css?family=Philosopher);
.bloc {
    font-family: 'Philosopher', arial, serif;
    font-size: 14px;
}
h2.bloc_title, h1.bloc_title {
    text-align: left;
    font-size: 14px;
}

.currentTrack.bloc_title {
     padding-top: 0;
}

/* Backgrounds et Borders */
.consult{
    background: #000 url(/img/templates/blogs/310/bg.jpg) center top no-repeat;
}

#barleft .sidebar {
    border-color: transparent;
    background: #e3dcc8 url(/img/templates/blogs/310/sidebar_left.jpg?20110513) no-repeat center top; 
}

#barright .sidebar {
    border-color: transparent;
    background: #e3dcc8 url(/img/templates/blogs/310/sidebar_right.png) no-repeat center top; 
}
.bloc {
    background: #efefef url(/img/templates/blogs/310/article.jpg) no-repeat center bottom; 
    border-color: transparent;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-leftradius: 0;
    border-bottom-leftradius: 0;
}
.pop .bloc  {
    background: #efefef;
    border-color: #fff;
}

.bloc_title {
    background: #968a65;
}
.bloc .date{
    background: #948577;
    background: rgba(0, 0, 0, 0.3);
    zoom: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#46000000,endColorstr=#46000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#46000000,endColorstr=#46000000)";
    background: transparent\9;
}
.liste-actions {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}

#currentbp a {
    border-color: transparent;
    background: transparent url(/img/templates/blogs/310/currentbp_bg.png?20110513) no-repeat center top; 
}

#changebp a {
    background: #cecece;
    border-color: transparent;
}
.widget {
    background: #fefefe;
    border-color: #8e8677;
}
.textads {
    border-color: #8e8677;
    background: #fefefe;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-info-bloc h3, #load-more a {
    background: #eee3ce;
}
#bloginfo h3 {
    background: transparent;
}
#amis li, #amis_communs li, #favoris li {
    padding-left: 12px;
}
.pop {
    background-image: none;
}
.phylactere {
    background: #efefef;
    border-color: #bcbcbc;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}

/* Colors */
.date, .date a, .pagination a, .pagination a:hover, .textads a {
    color: #fff;
}
.consult, .blogtitle, .bloc, .bloc a, .bloc_title, .commentaires, .commentaires a, 
#currentbp a, #changebp a, .widget, .textads a, #blogprofil h3 a, .widget a, 
.sidebar, #cybercop a, .sidebar-info-bloc h3, #bloginfo, .pop a, .sidebar h3 a, #load-more a, .phylactere {
    color: #000;
}
.bloc_title, .bloc_title a.plink {
    color: #361d05;
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #efefef;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #efefef;
}