.currentTrack.bloc_title {
     padding-top: 0;
}

/* Backgrounds et Borders */
.consult{
    background: #596912 url(/img/templates/blogs/312/bg.jpg) center top no-repeat !important;
}
.sidebar {
    border-color: #5c2504;
    background: #da113f;
}
.bloc {
    background: #d8113f url(/img/templates/blogs/312/article.jpg) center bottom repeat-x; 
    border-color: #f86183;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bloc_title {
    background: #f23962;
    padding-top: 7px;
}
.bloc .date{
    background: #530a09;
}
.liste-actions {
    background: #fff;
}
.liste-actions li{
    border-color: #ddd3c0;
}
#cybercop {
    background-color: #F23962;
}
#currentbp a {
    border-color: #5c2504;
    background: #da113f;
}
#changebp a {
    background: transparent;
    border-color: transparent;
	border-bottom-color: #5c2504;
}
.widget {
    background: #fff;
    border-color: #8e8677;
}
.textads {
    border-color: #f8d287;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.sidebar-info-bloc h3, #load-more a {
    background: #eee3ce;
}
#amis li, #amis_communs li, #favoris li {
    padding-left: 12px;
}
.pop {
    background-image: none;
}
.phylactere {
    background: #fff;
    border-color: #bcbcbc;
}
.itemlist img, .bloc .avatar {
    border-color: #000;
}

/* Colors */
.blogtitle, .bloc, .bloc a, .bloc_title, .bloc_title a.plink, .commentaires, .commentaires a, .date, .date a,
.pagination li.current a, #bloginfo li em {
	color: #fff;
}
.consult, .sidebar, #cybercop a, .sidebar-info-bloc h3, #bloginfo, .pop a, .sidebar h3 a, #load-more a, .sidebar a, .textads, .phylactere, .phylactere a,
#currentbp a, #changebp a, .widget, .textads a, #blogprofil h3 a, .widget a, .suite, .suite a, .pagination a {
    color: #000;
}

.liste-actions a, .textads a {
    color: #353330;
}

.liste-actions a:hover {
    color: #DB1111;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bcbcbc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #bcbcbc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}