.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp, #changebp a, #promos_ads, .widget, .article_content_menu, #blogcomments,
.phylactere, .bloc-description, .compteurs_block li, .section_box {
    border-color: #87d1ee !important;
}
.liste-actions li {
    border-bottom: 1px solid #fff;
}
#blogcomments .comment-item {
    border-bottom: 1px dotted #87d1ee;
}

/* Backgrounds */
.consult {
    background: #fff url(/img/templates/blogs/32/bg.jpg) top left repeat-x;
}
#currentbp a, .sidebar, .date, #changebp a:hover, .bloc-description, .section_box {
    background-color: #fff;
}
#changebp a {
    background-color: #aab9cc;
}
.bloc, .widget, #blogcontent .phylactere {
    background: #fff url(/img/templates/blogs/title.png) repeat-x center top;
}
.sidebar-info-bloc h3, .title_tooltip, #cybercop, .liste-actions li , #load-more a{
    background: #ddeeff;
}
/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget {
    background-image: none;
}

/* Link & Colours */
.bloc a, .sidebar a, .pop a, #changebp a:hover, #bloginfo em, #currentbp a,
.liste-actions a:hover, .suite, .phylactere a {
    color: #005ba6;
}
.consult, .bloc, .sidebar, .pop, .bloc_title a.plink, .liste-actions a, #cybercop a:hover, .sidebar h3 a,
#load-more a, .phylactere, .bloc-description {
    color: #2B343D;
}
#changebp a {
    color: #fff;
}
.pagination li.current a, .pagination a:hover {
    color: #000;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #2b343d !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #87d1ee;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #87d1ee;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #87d1ee;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}
.title_tooltip .pointe_border {
    border-top-color: #ddeeff;
}