.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp, #changebp a, #promos_ads, .comment-item, .article_content_menu, #blogcomments,
.phylactere, .bloc-description {
    border-color: #d29846 !important;
}

.liste-actions li, .widget {
    border-color: #c1a782;
}

/* Backgrounds */
.consult {
    background: #efe8b1 url(/img/templates/profils/03/bg.jpg) top left repeat-x;
}
#currentbp a, #changebp a:hover, .sidebar, #load-more a, .bloc-description {
    background-color: #c3a782;
}
#changebp a {
    background-color: #c8b976;
}
.liste-actions li {
    background-color: #fff;
}
.sidebar-info-bloc h3, .title_tooltip, #cybercop{
    background: #ae9167;
}
.widget {
    background: #efe8b1 url(/img/templates/blogs/title.png) repeat-x center top;
}
.bloc {
    background: #d3c79d url(/img/templates/blogs/title.png) repeat-x center top;
}
.phylactere, .compteurs_block li, .section_box {
    background: #d3c79d;
}
/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget {
    background-image: none;
}


/* Link & Colours */
#changebp a {
    color: #efe8b1;
}
.bloc a, .sidebar a, .pop a, #changebp a:hover, #currentbp a, #blogcontent a, .suite, .suite a,
.pagination a, .liste-actions a:hover {
    color: #785400;
}
.consult, .bloc, .sidebar, .pop, .blogcontent, .liste-actions a, #cybercop, .sidebar h3 a, #load-more a, .bloc-description {
    color: #000;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #000 !important;
}

* html .sidebar .widget {
    background-image: none;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #d29846;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #d3c79d;
}
.phylactere.left .pointe_border {
    border-right-color: #d29846;
}
.phylactere.left .pointe_bg {
    border-right-color: #d3c79d;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #d29846;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #d3c79d;
}
.title_tooltip .pointe_border {
    border-top-color: #ae9167;
}