.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */

.bloc, .sidebar, #changebp a, #promos_ads, #currentbp a, .article_content_menu, #blogcomments,
.phylactere, .bloc-description {
    border-color: #d900ff !important;
}
.liste-actions li, .widget {
    border-color: #9d3b9e;
}
.comment-item, #blogphoto .photo-container {
    border-color: #d900ff;
}

/* Backgrounds */

.consult {
    background: #66006d url(/img/templates/blogs/04/bg-profil.jpg) bottom left repeat-x;
}
.pop {
    background: #66006d;
}
#changebp a {
    background-color: #d89cf6;
}
#currentbp a, #changebp a:hover, .sidebar, .bloc-description {
    background-color: #9d3c9d;
}
.sidebar-info-bloc h3, .title_tooltip, #load-more a  {
    background: #e495e4;
}
.liste-actions li {
    background: #6A0474;
}
.bloc, .widget, #promos_ads {
    background: #d099d0 url(/img/templates/blogs/title.png) top repeat-x;
}
.compteurs_block li {
    background: #d099d0;
}
/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}
.phylactere, .section_box {
    background: #d099d0;
}
* html .sidebar .widget {
    background-image: none;
}

/* Links & Colours */
.pagination a, .liste-actions a:hover {
    color: #d099d0;
}
.consult, .bloc a, .sidebar a, .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .pagination select,
#currentbp a, .phylactere a {
    color: #fff;
}
.bloc, .sidebar, .pop, .bloc_title a.plink, #changebp a, #cybercop a:hover, .sidebar h3 a, #load-more a, .phylactere,
.bloc-description {
    color: #54015d;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #54015d !important;
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #d900ff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #d099d0;
}
.phylactere.left .pointe_border {
    border-right-color: #d900ff;
}
.phylactere.left .pointe_bg {
    border-right-color: #d099d0;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #d900ff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #d099d0;
}
.title_tooltip .pointe_border {
    border-top-color: #e495e4;
}