.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #changebp a, #promos_ads, #currentbp a, .widget,
.phylactere, .bloc-description {
    border-color: #bc5d00 !important;
}
.liste-actions li {
    border-bottom: 1px solid #bc5d00;
}
.comment-item, #blogphoto .photo-container {
    border-bottom: 1px dotted #c76a0a;
}
.article_content_menu {
    border-bottom: 1px solid #c76a0a;
}
#blogcomments {
    border-top: 1px dotted #c76a0a;
}

/* Backgrounds */
.consult {
    background: #f39501 url(/img/templates/blogs/05/bg-profil.jpg) top left repeat-x;
}
.pop {
    background: #f39501;
}
#currentbp a, #changebp a:hover, .bloc, .sidebar, .widget, .bloc-description {
    background-color: #f24500;
}
#changebp a {
    background-color: #f7a448;
}
.sidebar-info-bloc h3, .title_tooltip, #cybercop, #load-more a  {
    background: #f31e00;
}
.liste-actions li {
    background: #fff;
}
.bloc, .widget, #promos_ads {
    background: #ffb741 url(/img/templates/blogs/title.png) top repeat-x;
}
.phylactere, .compteurs_block li, .section_box {
    background: #ffb741;
}

/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}

/* Links & Colours */
.bloc a, .sidebar a, .pop a, .suite, .suite a, .sidebar-info-bloc h3, #bloginfo em, #switchitem a {
    color: #fff;
}
.consult, .bloc, .sidebar, .pop, .bloc_title a.plink, #cybercop a:hover, .liste-actions a, .bloc-description {
    color: #333;
}
.pagination a, .liste-actions a:hover {
    color: #fd0000;
}
.pagination li.current a, .pagination a:hover, .pagination select {
    color: #fff;
}

.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #bc5d00;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #ffb741;
}
.phylactere.left .pointe_border {
    border-right-color: #bc5d00;
}
.phylactere.left .pointe_bg {
    border-right-color: #ffb741;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #bc5d00;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #ffb741;
}
.title_tooltip .pointe_border {
    border-top-color: #f31e00;
}