.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #changebp a, #promos_ads, #currentbp a, .widget, .comment-item, .article_content_menu, #blogcomments,
.phylactere, .bloc-description {
    border-color: #4d4d4d !important;
}
.liste-actions li {
    border-color: #fff;
}

/* Backgrounds */
.consult {
    background: #333 url(/img/templates/blogs/36/bg.jpg) top left repeat-x;
}

#currentbp a, #changebp a:hover, .sidebar, .bloc-description {
    background-color: #b8b8b8;
}
#changebp a {
    background-color: #c4c4c4;
}
.sidebar-info-bloc h3, #cybercop, #load-more a, .title_tooltip, .compteurs_block li, .section_box  {
    background: #858585;
}
.liste-actions li, .pagination select {
    background: #1E1E1E;
}
.bloc, #promos_ads {
    background: #959595 url(/img/templates/blogs/title.png) top repeat-x;
}
.widget {
    background: #1e1e1e url(/img/templates/blogs/title.png) top repeat-x;
}
.pop {
    background-image: none;
}

/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}
/* Links & Colours */
.sidebar a, .pop a, .suite, #bloginfo em, .widget, .liste-actions a, #changebp a {
    color: #fff;
}
.consult, .pagination a, .pagination select, .bloc a, .phylactere a, .phylactere a {
    color: #ddd;
}
.bloc, .sidebar, .pop, .bloc_title a.plink, #cybercop a:hover, #currentbp a, .pagination li.current a,
.pagination a:hover, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #000;
}
.sidebar .liste-actions a:hover  {
    color: #ccc;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #000 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere, .compteurs_block li, .section_box  {
    background: #959595;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #4d4d4d;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #959595;
}
.phylactere.left .pointe_border {
    border-right-color: #4d4d4d;
}
.phylactere.left .pointe_bg {
    border-right-color: #959595;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #4d4d4d;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #959595;
}
.title_tooltip .pointe_border {
    border-top-color: #858585;
}