.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #changebp a, #promos_ads, #currentbp a, .widget,
.phylactere, .bloc-description {
    border-color: #ff4e00 !important;
}
.liste-actions li {
    border-bottom: 1px solid #400000;
}
.comment-item, .article_content_menu, #blogcomments, #blogphoto .photo-container {
    border-color: #c76a0a;
}

/* Backgrounds */
.consult {
    background: #a40200 url(/img/templates/blogs/37/bg.jpg) top left repeat-x;
}

#currentbp a, #changebp a:hover, .sidebar, .bloc-description {
    background-color: #400000;
}
.sidebar-info-bloc h3, #load-more a, .title_tooltip {
    background: #860605;
}
.liste-actions li {
    background-color: #780001;
}
.bloc, #promos_ads {
    background:  #780001 url(/img/templates/blogs/title.png) top repeat-x;
}
.widget {
    background: #d91900 url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a {
    background-color: #c21801;
}
.pop {
    background-image: none;
}

/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}

/* Links & Colours */
.consult, .bloc, .sidebar, #blogcontent, .liste-actions a:hover, .pagination a, .pagination select, #currentbp a,
.bloc_title a .plink, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #fd8c22;
}
.bloc a, .sidebar a, .pop, .pop a, .pagination li.current a, .pagination a:hover, #bloginfo em, #changebp a,
.suite, .phylactere a {
    color: #fff;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #fd8c22 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere, .compteurs_block li, .section_box  {
    background: #780001;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #ff4e00;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #780001;
}
.phylactere.left .pointe_border {
    border-right-color: #ff4e00;
}
.phylactere.left .pointe_bg {
    border-right-color: #780001;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ff4e00;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #780001;
}
.title_tooltip .pointe_border {
    border-top-color: #860605;
}