.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
#cybercop {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #changebp a, #promos_ads, #currentbp a, .widget,
.phylactere, .bloc-description {
    border-color: #fff !important;
}
.liste-actions li {
    border-bottom: 1px solid #74a9d3;
}
.comment-item, .article_content_menu, #blogcomments, #blogphoto .photo-container {
    border-color: #57585a;
}

/* Backgrounds */
.consult {
    background: #194e76 url(/img/templates/blogs/38/bg.jpg) top left repeat-x;
}
#currentbp a, #changebp a:hover, .sidebar, .bloc-description {
    background-color: #74a9d1;
}
.liste-actions li {
    background-color: #fff;
}
.bloc, #promos_ads {
    background: #5fb8c6 url(/img/templates/blogs/title.png) top repeat-x;
}
.widget {
    background: #298fbf url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a {
    background-color: #298fbf;
}
.sidebar-info-bloc h3, #cybercop, .title_tooltip {
    background: #298fbf;
}
.pop {
    background-image: none;
}

/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}
/* Links & Colours */
.bloc a, .sidebar a, .pop a, #bloginfo em, .pagination a, .pagination select,
.suite, .suite a, .phylactere a {
    color: #fff;
}
.consult, .bloc, .sidebar, .pop, #currentbp a, .pagination li.current a, .pagination a:hover, .bloc-description,
.bloc_title a.plink, .sidebar-info-bloc h3, #switchitem a, .liste-actions a, .sidebar h3 a,
#load-more a, .phylactere {
    color:  #012d50;
}
.sidebar .liste-actions a:hover {
    color: #74a9d3;
}
#load-more a  {
    background-color: #298fbf;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color:  #012d50 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere, .compteurs_block li, .section_box  {
    background: #5fb8c6;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #5fb8c6;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #5fb8c6;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #5fb8c6;
}
.title_tooltip .pointe_border {
    border-top-color: #298fbf;
}