.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc,#promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */

.bloc, .sidebar, #changebp a, #promos_ads, .widget, #currentbp a,
.phylactere, .bloc-description {
    border-color: #35ACFE !important;
}
.liste-actions li {
    border-bottom: 1px solid #FFC92E;
}
.comment-item, .article_content_menu, #blogcomments, #blogphoto .photo-container {
    border-color: 1px dotted #333;
}

/* Backgrounds */

.consult {
    background: #55BCF7 url(/img/templates/blogs/39/bg.jpg) top left repeat-x;
}
#currentbp a, #changebp a:hover, .sidebar, .bloc-description {
    background: #FFCA30;
}
#changebp a, .phylactere, .compteurs_block li, .section_box  {
    background: #E6F7FF;
}
.bloc, #promos_ads {
    background: #E6F7FF url(/img/templates/blogs/title.png) top repeat-x;
}
.widget {
    background: #fff url(/img/templates/blogs/title.png) top repeat-x;
}
.sidebar-info-bloc h3, #load-more a, .title_tooltip {
    background: #ff7e00;
}
.liste-actions li {
    background: #fff;
}
.pop {
    background-image: none;
}

/* TRANSPARENCE IE 6 */

* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}
/* Links & Colours */

.consult, .bloc, .sidebar, .pop, #switchitem a, #currentbp a, #changebp a, .bloc_title a.plink, .liste-actions a,
#cybercop a:hover, .pagination a, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #000;
}
.bloc a, .sidebar a, .pop a, .liste-actions a:hover, .suite, #bloginfo em,
.pagination li.current a, .pagination a:hover, .pagination select, .phylactere a {
    color: #EE4300;
}
#bloginfo li span {
    color: #ee4300;
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #000 !important;
}
/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #35ACFE;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #E6F7FF;
}
.phylactere.left .pointe_border {
    border-right-color: #35acfe;
}
.phylactere.left .pointe_bg {
    border-right-color: #e6f7ff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #35acfe;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #e6f7ff;
}
.title_tooltip .pointe_border {
    border-top-color: #ff7e00;
}