.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois h5.blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #changebp,
#promos_ads, .widget, .phylactere, .bloc-description, .compteurs_block li, .section_box {
    border-color: #fff !important;
}
.liste-actions li {
    border: none;
}
.comment-item {
    border-color: #9C9B31;
}
.title_tooltip .pointe_border {
    border-top-color: #787878;
}

/* Backgrounds */
.consult, .widget, .phylactere {
    background: #81858e;
}
.bloc , .sidebar, #currentbp a, #changebp a:hover, #promos_ads, #load-more a, .phylactere, .bloc-description {
    background: #ccd6e0;
}
.bloc_title, #promos_ads h2, .bloc .date, .title_tooltip {
    background: #787878;
}
.compteurs_block li, .section_box {
    background: transparent;
}

/* Links & colours */
.sidebar, .pop, .suite, .sidebar a, .bloc a, .pagination li.current a, .pagination a:hover,
#changebp a, #currentbp a, #cybercop a, #load-more a, .phylactere a, .bloc-description {
    color: #003466;
}
.title_tooltip, .title_tooltip:hover {
    color: #003466 !important;
}
.pop a, .bloc_title, #promos_ads h2, .bloc_title a.plink, #bloginfo em, .date, .date a,
.liste-actions a:hover, #cybercop a:hover, .pagination a, .self {
    color: #fff;
}
.consult, .bloc {
    color: #676566;
}
.bloc .avatar {/* pour le titre archives, overridé par .bloc a */
    border-color: #7E6F54;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #CCD6E0;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #ccd6e0;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border  {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #ccd6e0;
}