.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */

.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .widget, .liste-actions li,
.comment-item, .article_content_menu, #blogcomments, .phylactere, .bloc-description, .compteurs_block li, .section_box {
    border-color: #B79478 !important;
}

/* Backgrounds */

.consult {
    background: #D6EAF1 url(/img/templates/blogs/10/bg-profil.jpg) top left repeat-x;
}
.sidebar, #currentbp a, #changebp a:hover, .bloc-description {
    background: #C4B397;
}
#changebp a {
    background: #8DC4E2;
}
.bloc, #promos_ads {
    background: #F6FAFD url(/img/templates/blogs/title.png) top repeat-x;
}
.widget {
    background: #fff url(/img/templates/blogs/title.png) top repeat-x;
}
.liste-actions li {
    background: #fff;
}
.sidebar-info-bloc h3, #load-more a, .title_tooltip {
    background: #a18762;
}
.pop {
    background-image: none;
}
.section_box {
    background-color: transparent;
}

/* TRANSPARENCE IE 6 */
* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}
/* Links & Colours */

.consult, .bloc, .sidebar, .pop, #changebp a, .bloc_title a.plink, .liste-actions a:hover, #cybercop a:hover,
.pagination a, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #000;
}
.bloc a, .pop a, .sidebar a, .suite, #bloginfo em, #currentbp a, .pagination li.current a,
.pagination a:hover, .pagination select, .phylactere a {
    color: #015BA7;
}

.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #000 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #f9fafd;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #B79478;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #F6FAFD;
}
.phylactere.left .pointe_border {
    border-right-color: #b79478;
}
.phylactere.left .pointe_bg {
    border-right-color: #f6fafd;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #b79478;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #f6fafd;
}
.title_tooltip .pointe_border {
    border-top-color: #a18762;
}