/* Theme DIFOOL */
/* THEME MONOCOLONNE */

@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre);


/* Mise en page et marges */
.audioPlayer.bloc {
    padding-bottom: 20px;
}

.sidebar_one .blogpseudo {
    margin: -20px -10px 20px;
    zoom: 1;
}
#barleft.sidebar, #blogcontent {
    margin-top: 126px;
}

.bloc {
    position: relative;
}
.blogpseudo a {
    text-decoration: none;
}

/* Fonts */
.bloc_title, .blogpseudo, .blogtitle, .pagination {
    font-family: 'Averia Sans Libre', cursive, serif;
    font-weight: normal;
}

h2.bloc_title, h1.bloc_title, .blogtitle {
    font-size: 35px;
    text-align: left;
}
.sidebar_one .blogtitle {
    font-size: 40px;
}
.blogpseudo {
    font-size: 30px !important;
}
.pagination {
    font-size: 20px;
}
.pagination .next, .pagination .prev {
    font-family: 'Arial','Geneva',sans-serif;
    font-size: 12px !important;
}


/* Backgrounds */
.consult {
    background: #021d24 url(/img/templates/blogs/402/bg.jpg) center top no-repeat;
}

.pop {
    background: #021d24;
}

.bloc, .bloc-description {
    background: #001c2d;
    background: rgba(0, 28, 45, 0.7);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3001c2d,endColorstr=#B3001c2d);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3001c2d,endColorstr=#B3001c2d)";
    background: transparent\9;
}
.article_bottom {
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000)";
    background: transparent\9;
}

.sidebar {
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
    background: transparent\9;
}


.compteurs_block li, .phylactere, .blogpseudo, #promos_ads h2, #load-more a {
    background: #000;
}

.title_tooltip {
    background: #fff;
}
.section_box {
    background: transparent;
}

/* Borders */
.sidebar, .bloc-description {
    border-color: transparent !important;
}
.bloc {
    border: none;
}

#promos_ads, .phylactere {
    border-color: #000;
}

.sidebar_one .liste-actions-centry li {
    border-top-style: dashed;
    border-top-color: #999;
}
.sidebar_one .sidebar-info-bloc {
    border-style: dashed;
    border-color: #999;
}

/* Link & Colours */

/* Jaune */
.sidebar a:hover, .pagination li.current a {
    color: #ff0;
}

/* Blanc */
.bloc a, .bloc, .pop, .sidebar, .compteurs_block li, .compteurs_block li a, .consult, .bloc a:hover, .sidebar a, .blogtitle, .bloc-description, .bloc-description a, .pagination a, .phylactere, .bloc_title, .bloc_title a {
    color: #fff;
}

/* Jaune */
.phylactere a, .pagination a:hover, .bloc_title a:hover{
    color: #ff0;
}

/* Autres */

.date, .date a, .dates {
    color: #999;
}
.title_tooltip, .title_tooltip:hover  {
    color: #333 !important;
}


#load-more a, #menuTime li {
    color: #000;
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #000;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}

.righty .phylactere.left .pointe_border {
    border-left-color: #000;
}
.righty .phylactere.left .pointe_bg {
    border-left-color: #000;
}

.title_tooltip .pointe_border {
    border-top-color: #fff;
}