/* Theme Jade */
/* THEME MONOCOLONNE */

@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);


/* Mise en page et marges */
.audioPlayer.bloc {
    padding-bottom: 20px;
}
h2.bloc_title, h1.bloc_title {
    padding-left: 60px;
}
.centry .sidebar {
    margin-bottom: 0 !important
}
.bloc-description, .bloc {
    position: relative;
}
.bloc {
    margin-bottom: 20px;
}
.centry.content_large .article_bottom {
    padding: 0 50px;
}


/* Fonts */
.bloc_title, .blogpseudo, .blogtitle {
    font-family: 'Over the Rainbow', impact, arial, serif;
    font-weight: normal;
}

h2.bloc_title, h1.bloc_title, .blogtitle {
    font-size: 24px;
    text-align: left;
}
h2.bloc_title, h1.bloc_title {
    min-height: 37px;
}
.centry .blogtitle {
    font-size: 32px;
}
.blogpseudo {
    font-size: 22px !important;
}

/* Backgrounds */
.consult {
    background: #a1c0c3 url(/img/templates/blogs/403/bg.jpg) center top repeat;
}

h2.bloc_title, h1.bloc_title {
    background: transparent url(/img/templates/blogs/403/article_titre.png) 7px 5px no-repeat;
}
.pop {
    background: #a1c0c3;
}

.bloc, .bloc-description, #changebp a {
    background-color: rgb(239,235,224);
    background-color: rgba(239,235,224,.3);
    zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2Befebe0,endColorstr=#2Befebe0);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#2Befebe0,endColorstr=#2Befebe0)";
    background-color:transparent\9;
}

.bloc:not(zz) {
    filter: none;
    -ms-filter: none;
    background: rgba(239,235,224,.3);
}

.sidebar, #currentbp a {
    background: #99bdc1;
}

.bloc-description:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 13px;
    width: 100%;
    background: url(/img/templates/blogs/403/sidebar_img.png) center repeat-x;
}
.bloc:before {
    content: url(/img/templates/blogs/403/article_img.png);
    position: absolute;
    left: 272px;
    bottom: -20px;
}
.centry_large .bloc:before, .centry_thumbs .bloc:before {
    left: 384px;
}
.shared_content:before, .bottom:before {
    content: "";
}

#promos_ads h2, #load-more a {
    background: transparent;
}

.compteurs_block li, .section_box, .title_tooltip {
    background: #54818b;
}
.phylactere {
    background: #54818b;
}

/* Borders */
.sidebar, #changebp a, #currentbp a, .bloc-description {
    border-color: transparent !important;
}
.sidebar, .bloc-description {
    border-top-color: #99BDC1!important;
}
.bloc {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #54818b;
}
#promos_ads, .phylactere {
    border-color: #54818b;
}

/* Link & Colours */

.bloc a, .pagination li.current a {
    color: #194c57;
}
.sidebar a, .compteurs_block li a:hover, #changebp a, #currentbp a, .suite {
    color: #2a5059;
}
.sidebar, .sidebar a:hover, .compteurs_block li a, .phylactere {
    color: #efebe0;
}
.title_tooltip, .title_tooltip:hover  {
    color: #efebe0 !important;
}
.bloc a:hover, .pagination a {
    color: #efebe0;
}
.bloc_title a:hover, .date, .date a {
    color: #efebe0;
}
.consult, .blogtitle, .bloc, .pop, .date a, .bloc_title, .bloc_title a, .bloc-description {
    color: #54818b;
}
.pagination a:hover {
    color: #194c57;
}

.phylactere a {
    color: #99bdc1;
}

#load-more a, #menuTime li {
    color: #000;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #54818b;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #54818b;
}
.phylactere.left .pointe_border {
    border-right-color: #54818b;
}
.phylactere.left .pointe_bg {
    border-right-color: #54818b;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #54818b;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #54818b;
}