/* Theme Roots */
@import url(https://fonts.googleapis.com/css?family=Anton);

.consult a {
    text-decoration: none;
}

.bloc {
    border: none;
}

.bloc .date {
    padding: 0.5em 0.7em;
}

h2.bloc_title, h1.bloc_title {
	padding-top: 15px;
	text-align: left;
}

/* Arrondis */

.bloc.shared_content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Fonts */

.blogpseudo, .bloc_title, .blogtitle, #promos_ads h2, .sidebar-info-bloc h3 {
    font-family: 'Anton', Arial, Sans-serif;
    font-weight: normal;
}

.blogpseudo {
    font-size: 28px !important;
}
.sidebar_one.content_large .blogpseudo {
    font-size: 18px !important;
}

.centry .blogtitle {
    font-size: 45px !important;
	text-transform: uppercase;
}

.bloc_title {
    font-size: 35px !important;
}
.sidebar-info-bloc h3, .sidebar_two .blogtitle {
	font-size: 16px;
}

/* Backgrounds */

.centry {
    background: #000 url(/img/templates/blogs/408/bg.jpg) repeat-y 50% 0;
}
.consult, .centry_large.consult, .centry_thumbs.consult {
    background: #000 url(/img/templates/blogs/408/bg_3col.jpg) repeat-y 50% 0;
}

.bloc, #barleft.sidebar, #promos_ads, .sidebar_two .widget, .sidebar_two .sidebar-info-bloc h3, p.pagination {
    background-color: rgba(5,45,40,0.4);
    zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66052d28,endColorstr=#66052d28);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66052d28,endColorstr=#66052d28)";
    background-color:transparent\9;	
}

.bloc:not(zz) {
    filter: none;
    -ms-filter: none;
    background: rgba(5,45,40,0.4);
}

.bloc-description {
    background-color: rgba(58,153,118,0.6);
    zoom:1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#993a9976,endColorstr=#993a9976);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#993a9976,endColorstr=#993a9976)";
    background-color:transparent\9;	
}
.compteurs_block li, .sidebar, .section_box, .title_tooltip, .phylactere, #currentbp a, #blog-pop {
	background-color: #3c4438;
}
.pop {
    background: #e3e3df;
}

.pop .bloc_title:before {
    background-image: none;
}
#changebp a {
	background: #ebeeb3;
}

/* Borders */
.sidebar, #currentbp a, #changebp a, .widget {
    border-color: transparent !important;
}

.bloc-description {
    border: 0 solid transparent !important;
}

.centry .liste-actions-centry li {
    border-top-color: #999;
}

.centry .share_zone {
    border-bottom-color: #999;
}

.phylactere {
    border-color: #3c4438;
}
.title_tooltip .pointe_border {
    border-top-color: #3c4438;
}

/* Link & Colours */
.bloc, .bloc-description, .blogtitle, .sidebar, #menuTime li,
.bloc_title, .bloc_title a.plink, .pagination, .pagination li.current a,
.bloc a:hover, .sidebar a:hover, .bloc_title a:hover, .pagination a:hover, #currentbp a, .consult h3 .title_tooltip { 
    color: #f6f9ec;
}

.blogpseudo a, .bloc a, .sidebar a, .suite, .pagination a, #load-more a, .blogpseudo a:hover {
    color: #ebeeb3;
}

.phylactere, .phylactere a, .phylactere a:hover {
    color: #ebeeb3;
}
#changebp a {
	color: #3c4438;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #3c4438;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #3c4438;
}

.phylactere.left .pointe_border {
    border-right-color: #3c4438;
}
.phylactere.left .pointe_bg {
    border-right-color: #3c4438;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #3c4438;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #3c4438;
}