/* Theme Halloween */

@import url(https://fonts.googleapis.com/css?family=Creepster+Caps);

.consult a {
    text-decoration: none;
}

.bloc {
    border: none;
    margin-top: 20px;
}

.centry .bloc-description {
    padding-top: 20px;
}

.centry .bloc .article_bottom {
    margin-left: 0;
    margin-right: 0;
}

.bloc .date {
    padding: 0.5em 0.7em;
}

.blogtitle {
    min-height: 30px;
}

.centry .blogtitle, .centry .description,
.sidebar_one .blogtitle, .sidebar_one .description {
    padding-left: 50px;
}

h2.bloc_title, h1.bloc_title {
    padding-top: 7px;
    padding-left: 62px;
    min-height: 30px;
    text-align: left;
}

#switchitem {
    overflow: visible;
}

/* Arrondis */

#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Fonts */

.blogpseudo, .blogtitle, .bloc_title, #currentbp a, .sidebar-info-bloc h3, .widget h3 {
    font-family: 'Creepster Caps', arial, serif;
    font-weight: bold;
}

.centry .blogpseudo {
    font-size: 20px;
}

#currentbp a {
    font-size: 22px;
}

.sidebar-info-bloc h3, .sidebar .widget h3 {
    font-size: 18px;
}

.blogtitle, .bloc_title {
    font-size: 32px;
}

/* Backgrounds */

.centry.consult {
    background: #000 url(/img/templates/blogs/409/bg.jpg) fixed top center repeat-x;
}
.consult, .content_large.consult {
    background: #000 url(/img/templates/blogs/409/bg_3col.jpg) fixed top center repeat-x;
}

.blogtitle:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 54px;
    height: 51px;
    background: transparent url(/img/templates/blogs/409/blog_title_img.png) 0 0 no-repeat;
    visibility: visible;
}

.centry_large .blogtitle:after {
    left: 95px;
}

.sidebar_two .blogtitle:after {
    visibility: hidden;
}

h2.bloc_title, h1.bloc_title {
    background: transparent url(/img/templates/blogs/409/bloc_title_img.png) 10px 2px no-repeat;
}

.centry #barleft.sidebar, .bloc-description, #promos_ads {
    background: transparent;
}
.sidebar, .bloc, #currentbp a {
    background: #000;
}
.phylactere, .compteurs_block li, .sidebar-info-bloc h3, .title_tooltip, .widget, .section_box {
    background: #990000;
}

#blogprofil .phylactere {
    background: #fff;
}

#changebp a {
    background: #fa4d00;
}

/* Borders */
.sidebar, .bloc-description, #currentbp a, #changebp a, .widget {
    border-color: transparent !important;
}

.phylactere {
    border-color: #990000;
}

.title_tooltip .pointe_border {
    border-top-color: #990000;
}

/* Link & Colours */

.consult, .bloc, .sidebar, .bloc-description,
#menuTime li, .pagination, .pagination li.current a, #currentbp a, .sidebar_two .widget a,
.bloc a:hover, .sidebar a:hover, .pagination a:hover {
    color: #fb4d00;
}

.bloc a, .sidebar a, .suite, .blogtitle,
.bloc_title, .bloc_title a.plink, .bloc_title a:hover,
.pagination a, #load-more a, #blogprofil .phylactere, #changebp a  {
    color: #910d00;
}
.sidebar-info-bloc h3, .sidebar-info-bloc h3 a, .sidebar-info-bloc h3 a:hover, #changebp a, #blogprofil h3 a {
    color: #fff;
}
.title_tooltip, .title_tooltip a {
    color: #fff !important;
}
.phylactere a {
    color: #fb4d00;
}
.phylactere, .phylactere a:hover, .compteurs_block a, .liste-actions a,
.liste-amis-verbose  a, .tagcloud a, .liste-actions-centry a, .section_box a,
.blogpseudo a, .blogpseudo a:hover {
    color: #ffc521;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #990000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #990000;
}

#blogprofil .phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
#blogprofil .phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}

.phylactere.left .pointe_border {
    border-right-color: #990000;
}
.phylactere.left .pointe_bg {
    border-right-color: #990000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #900;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #900;
}