.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */

#changebp a, .bloc, .sidebar, #promos_ads, .liste-actions li, .widget, #currentbp a, .comment-item, .article_content_menu, #blogcomments,
.phylactere, .bloc-description, .compteurs_block li, .section_box {
    border-color: #303030 !important;
}

/* Backgrounds */

.consult {
    background: #161616;
}
.widget {
    background: #161616 url(/img/templates/blogs/title.png) top repeat-x;
}
#changebp a, .liste-actions li {
    background: #202020;
}
.bloc, .sidebar, #currentbp a, #changebp a:hover, #promos_ads, #load-more a, .phylactere, .bloc-description  {
    background: #000;
}
.highlight_own_comments .self {
    background-image: url(/img/blog/comments_highlight_inverse.png);
}
.pop {
    background-image: none;
}

/* transparence IE6 */
* html .widget {
    background-image: none;
}
.title_tooltip, .section_box {
    background: transparent;
}

/* Links & Colours */
.bloc a, .sidebar a, .pop a, .suite, #bloginfo em, .liste-actions a:hover, #currentbp a,
.pagination li.current a, .pagination a:hover, .pagination select, .phylactere a {
    color: #FFA600;
}
.consult, .bloc, .sidebar, .pop, #changebp a, .bloc_title a.plink, .liste-actions a, #cybercop a:hover,
.pagination a, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #fff;
}
.blocTracklist, #menuTime {
    background: rgba(255,166,0,0.75);
}
.title_tooltip {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #303030;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #000;
}
.phylactere.left .pointe_border {
    border-right-color: #303030;
}
.phylactere.left .pointe_bg {
    border-right-color: #000;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #303030;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #000;
}
.title_tooltip .pointe_border {
    border-top-color: transparent;
}