/* Theme Club */
/* THEME MONOCOLONNE */

@import url(https://fonts.googleapis.com/css?family=Kelly+Slab);

.sidebar_one .blogpseudo {
	margin: -20px -10px 20px;
}

/* Fonts */
.bloc_title, .blogpseudo, .blogtitle {
    font-family: 'Kelly Slab', Georgia, serif;
    font-weight: normal;
}

h2.bloc_title, h1.bloc_title, .sidebar_one .blogtitle {
    font-size: 40px;
    text-align: left;
}
.blogpseudo {
    font-size: 30px !important;
	text-transform: uppercase;
}
.sidebar_one.content_large .blogpseudo {
    font-size: 18px !important;
}
.sidebar_one .blogtitle {
	font-size: 45px !important;
	text-transform: uppercase;
}


/* Backgrounds */
.consult {
    background: #d795bd url(/img/templates/blogs/416/bg.jpg) center top no-repeat;
}
h2.bloc_title, h1.bloc_title {
    background: url(/img/templates/blogs/416/bloc_title_img.png) no-repeat 0 27px;
}
.bloc, .centry .sidebar, .bloc-description {
    background: transparent;
}
.sidebar, #currentbp a, #changebp a {
    background: #da5a33;
    background: rgba(218, 90, 51, 0.4);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66da5a33,endColorstr=#66da5a33);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66da5a33,endColorstr=#66da5a33)";
    background: transparent\9;
}
.sidebar_one .blogpseudo,
.centry .sidebar {
    background: #da5a33;
    background: rgba(33, 2, 39, 0.4);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66210227,endColorstr=#66210227);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66210227,endColorstr=#66210227)";
    background: transparent\9;
}
#archives_slider {
    background: #0ff;
    background: rgba(0, 255, 255, 0.2);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3300ffff,endColorstr=#3300ffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#3300ffff,endColorstr=#3300ffff)";
    background: transparent\9;
}
.compteurs_block li, .phylactere {
    background: #f37fa2;
}

#promos_ads h2, #load-more a, .section_box {
    background: transparent;
}
.title_tooltip, .sidebar-info-bloc h3, #changebp a {
	background: #461f06;
}
.widget {
	background: #b2a9d2;
}
/* Borders */

.centry .sidebar, .bloc-description {
    border-width: 0 0 10px 0 !important;
}
.sidebar {
    border: 1px solid transparent;
}
.bloc, .shared_content, .widget {
    border: none;
}
#promos_ads, .phylactere {
    border-color: #f37fa2;
}

.bottom, .shared_content, .consult .bloc-description {
    border: none;
}
.centry .liste-actions-centry li {
    border-top: 1px solid #000 !important;
}
.share_zone, #changebp a, #currentbp a {
    border-color: transparent !important;
}
.title_tooltip .pointe_border {
	border-top-color: #461f06;
}
.sidebar_one .sidebar-info-bloc {
	border: 0;
	border-bottom: 1px dashed #a94636;
}

/* Link & Colours */

.consult, .sidebar a, .bloc a, .pagination, .pagination a, .compteurs_block li a:hover, #currentbp a, #changebp a, .suite, .bloc, .phylactere a {
    color: #fff;
}

.blogtitle, .sidebar, .bloc_title, .bloc_title a {
    color: #fff;
}

.sidebar a:hover, .bloc a:hover, .bloc-description, .blogpseudo a, .compteurs_block li a {
    color: #fff;
}

.pop, .date a, .dates, .share_zone, .article_bottom, .article_bottom a { 
    color: #601252;
}

.phylactere, .phylactere a:hover {
    color: #fff;
}

#load-more a, #menuTime li, .pagination a:hover, .pagination li.current a {
    color: #601252;
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #f37fa2;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #f37fa2;
}
.phylactere.left .pointe_border {
    border-right-color: #f37fa2;
}
.phylactere.left .pointe_bg {
    border-right-color: #f37fa2;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #f37fa2;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #f37fa2;
}