.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc .date {
    padding: 0.5em 0.7em;
}
.consult a {
    text-decoration: none;
}
h2.bloc_title, h1.bloc_title {
    text-align: left;
}

/* Arrondis */
.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */

#changebp a, #currentbp a, .sidebar, .centry #barleft.sidebar, .widget, .bloc, .bloc-description,
#promos_ads, .liste-actions li, .liste-actions-centry li,
.centry .share_zone, .comment-item, .article_content_menu, #blogcomments, .phylactere, .compteurs_block li, .section_box {
    border-color: #ccc !important;
}

.bloc-description {
    border: 1px solid #ccc;
}

/* Backgrounds */

.consult, .sidebar, .liste-actions li, #load-more a, .phylactere, .bloc-description {
    background: #fff;
}
#changebp a, #currentbp a, .bloc, .widget, #promos_ads {
    background: #fff url(/img/templates/blogs/title.png) top repeat-x;
}
.section_box {
    background: transparent;
}
.title_tooltip {
    background: #efefef;
}

/* Links & Colours */
.consult, .bloc, .sidebar, .bloc_title, .bloc_title a.plink, #load-more a, #menuTime li,
.phylactere, .pagination, .bloc-description, #changebp a, .bloc a:hover, .sidebar a:hover,
.pagination a:hover, .phylactere a:hover, .bloc-description {
    color: #333;
}

.bloc a, #currentbp a, .suite, .sidebar a, .pagination a, .pagination li.current a,
.phylactere a, .blogpseudo a:hover {
    color: #015BA7;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #015BA7 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #ccc;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #ccc;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #ccc;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}
.title_tooltip .pointe_border {
    border-top-color: #efefef;
}