/* Theme BlueWhite */
/* THEME MONOCOLONNE VIGNETTE ET 3 COLONNES */

@import url(https://fonts.googleapis.com/css?family=Anton&v1);

.bloc {
    border: none;
    padding-bottom: 15px !important;
}
.centry_thumbs #articles_container .bloc {
    padding-bottom: 0 !important;
}
.bloc-description {
    padding-bottom: 25px !important;
}
.sidebar_one.content_large .bloc-description .post {
    padding-left: 50px;
    width: 714px !important;
}
.bloc .date {
    padding: 0.5em 0.7em;
}
.consult a {
    text-decoration: none;
}
h2.bloc_title, h1.bloc_title {
    text-align: left;
}
.centry #barleft {
    overflow: visible;
}
.content_slim .bloc-description .post {
    margin-left: 45px;
}

/* Fonts */

.bloc_title, .blogtitle, .centry .blogpseudo, .sidebar_one .blogpseudo, #promos_ads h2, .compteurs_block li a  {
    font-family: 'Anton', Arial, Sans-serif;
    font-weight: normal;
}
.centry .blogpseudo, .sidebar_one .blogpseudo {
    font-size: 20px;
}
h2.bloc_title, h1.bloc_title {
    font-size: 14px;
}
.bloc_title {
    font-size: 25px;
}
.compteurs_block li a {
    font-size: 16px;
}

/* Arrondis */

.bloc.shared_content {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* Backgrounds */
.consult {
background: url(/img/templates/blogs/424/bg.png);/* older browsers */
background: 
    url(/img/templates/blogs/424/bg_top.png) repeat-x,
    /*url(/img/templates/blogs/424/bg_bottom.png) repeat-x 0 100%,*/
    url(/img/templates/blogs/424/bg.png);
}

.sidebar, .bloc, #currentbp a {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff,endColorstr=#b2ffffff)";
    background: transparent\9;
}
.bloc:not(zz) {
    filter:none;
    -ms-filter:none;
    background-color: rgba(255, 255, 255, 0.7);
}
.compteurs_block li, .section_box, .title_tooltip, .phylactere, 
#blog.centry #musicwidget div, h2.bloc_title, h1.bloc_title, .sidebar-info-bloc h3  {
    background: #fff;
}
.bloc.bottom, #changebp a {
    background: #06202c; 
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}
h2.bloc_title, h1.bloc_title {
    -moz-box-shadow: 0px 5px 3px #8bb4c8;
    -webkit-box-shadow: 0px 5px 3px #8bb4c8;
    box-shadow: 0px 5px 3px #8bb4c8;
}
.centry_thumbs .bloc:hover .bloc_title {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.centry .sidebar:after {
    bottom: -12px;
    content: "";
    background: url(/img/templates/blogs/424/sidebar_img.png) no-repeat 50% 100%;
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    width: 100%;
}
.content_slim .sidebar:after {
    height: 9px;
    bottom: -9px;
}
.content_large .blogtitle:after {
    content: url(/img/templates/blogs/424/blog_title_img.png);
    position: absolute;
    top: 22px;
    left: 60px;
    width: 39px;
    height: 37px;
    visibility: visible;
}
.content_slim .blogtitle:after, .sidebar_one .blogtitle:after {
    content: url(/img/templates/blogs/424/blog_title_img.png);
    position: absolute;
    top: 22px;
    left: 10px;
    width: 39px;
    height: 37px;
    visibility: visible;
}

/* Borders */
.bloc, .sidebar, .bloc-description, #currentbp a, #changebp a, .centry #barleft_content , .sidebar_one .liste-actions-centry li, .centry .liste-actions-centry li {
    border-color: transparent !important;
}

.phylactere, .widget .phylactere {
    border-color: #fff;
}

.centry_thumbs #articles_container .bloc:hover {
    border: 1px solid #fff !important;
}

.centry_thumbs #articles_container .bloc .bloc {
    border: none !important;
}

.text-image-container img, .image-container img {
    max-width: 590px;
    border: 10px solid #fff;
}

.content_large .bloc img {
    max-width: 740px;
}

/* Link & Colours */
.consult, .bloc, .bloc a:hover, .sidebar, .sidebar a:hover, .pop, .pop a:hover, 
#load-more a, #menuTime li, #cybercop a:hover, 
.pagination li a, .pagination p a, #currentbp a,
.dates, .date, .phylactere, .centry #barleft_resume .profil_link, .centry .liste-actions-centry li a, .sidebar-info-bloc .title_tooltip { 
    color: #004e72;
}
.bloc a, .suite, .suite a, .pop a, .sidebar a, .date a, .phylactere a, .bloc_title, .bloc_title a.plink, .pagination li.current a {
    color: #5fbbe5;
}
.centry .bloc-description, .sidebar_one .bloc-description, .bloc_visites, #changebp a, .bloc.bottom, .bloc.bottom #cybercop a, #retour a{ 
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}

.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}

.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg {
    border-left-color: #fff;
}
.title_tooltip .pointe_border {
    border-top-color: #fff;
}