.post .left { margin-right: 5px; }
.post .right { margin-left: 5px; }

.bloc, #promos_ads, .widget, .bloc-description, .centry .sidebar, .sidebar_one .sidebar {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.date {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */

.bloc, .sidebar, #changebp a, #promos_ads, .widget, #currentbp a, .article_content_menu, #blogcomments,
.phylactere, .bloc-description, .compteurs_block li, .section_box {
    border-color: #908164 !important;
}
.liste-actions li {
    border-bottom: 1px solid #ccc;
}
.title_tooltip .pointe_border {
    border-top-color: #b8aa92;
}

/* Backgrounds */

.consult {
    background: #fff url(/img/templates/blogs/bg.png) top left repeat-x;
}
.bloc, #promos_ads {
    background: #C9BAA0 url(/img/templates/blogs/title.png) top repeat-x;
}
#currentbp a, #changebp a:hover, .sidebar, #load-more a, .bloc-description  {
    background-color: #C9BAA0;
}
#changebp a {
    background-color: #AC9C83;
}
.widget {
    background: #fff url(/img/templates/blogs/title.png) top repeat-x;
}
.liste-actions li {
    background: #fff;
}
.title_tooltip {
    background: #b8aa92;
}

/* TRANSPARENCE IE 6 */

* html .bloc,
* html .widget,
* html #promos_ads {
    background-image: none;
}
.pop {
    background-image: none;
}
.compteurs_block li, .section_box {
    background: transparent;
}

/* Links & Colours */

.consult, .bloc, .sidebar, .pop, .liste-actions a, #cybercop a:hover, .bloc-description,
#currentbp a, .bloc_title a.plink, .pagination a, .sidebar h3 a, #load-more a, .phylactere {
    color: #333;
}
.bloc a, .sidebar a, .pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover,
.pagination select, .phylactere a {
    color: #015BA7;
}
#changebp a {
    color: #544E42;
}
.liste-actions a:hover {
    color: #000;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #333 !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere {
    background: #C9BAA0;
}
.phylactere.top_left .pointe_border {
    border-bottom-color: #908164;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #C9BAA0;
}
.phylactere.left .pointe_border {
    border-right-color: #908164;
}
.phylactere.left .pointe_bg {
    border-right-color: #c9baa0;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #908164;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #c9baa0;
}