/* Theme Mobile - monocolonne */
@import url(https://fonts.googleapis.com/css?family=Anton);

.consult a {
    text-decoration: none;
}

.bloc {
    border: none;
}

.bloc .date {
    margin-top: 15px;
    padding: 0.5em 0.7em;
}

h2.bloc_title, h1.bloc_title {
    margin-top: 40px !important;
    margin-bottom: 25px !important;
	text-align: left;
}

.centry.content_large h2.bloc_title,
.centry.content_large h1.bloc_title,
.centry.content_large .article_bottom,
.centry.content_large #blogcontent .bloc_article_social {
    padding-left: 100px;
    padding-right: 100px;
}

/* Modifs de structure */

.centry #barleft_resume {
    line-height: 50px;
    max-height: 58px; /* Fix-Firefox */
    overflow: hidden;
}

.centry #barleft_resume .bouton_toggle {
    margin-top: 15px;
}

.leftpart {
    width: 260px;
    margin-top: 112px;
    margin-left: 82px;
}

.bloc-description {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.slider_thumbs {
	padding-top: 40px !important;
    padding-bottom: 70px !important;
}

.slider_thumbs_prev,
.slider_thumbs_next {
    top: 74px;
}

.onchat {
    margin-bottom: 10px;
}

.mini-liste-actions li {
    margin-left: 6px;
    margin-right: 6px;
}

.centry .liste-actions-centry {
    width: 120px;
}

.centry_large .rightpart {
    width: 550px;
    margin-top: 60px;
}

.centry_large .compteurs_block li {
    width: 70px;
    margin-right: 17px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid #375075;
}

.centry.content_large .widget p,
.centry.content_large .widget p a {
    width: 385px;
}

.centry .sidebar .phylactere {
    margin-left: 100px;
    opacity: 0.8;
    filter:alpha(opacity=80);
}

.centry .sidebar .skyinplaceeditremote-edit-mode {
    opacity: 1;
    filter:alpha(opacity=100);
}

.centry .dates {
    margin-left: 355px;
}

.date {
    margin-top: 10px;
}

.bloc .commentaires {
    padding-top: 15px;
    border-top: 1px solid #edf0f5;
}

.title_tooltip {
    padding: 5px !important;
}

/* Arrondis et ombres */

#global {
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.bloc.shared_content {
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -webkit-border-top-right-radius: 5px;
    border-right-radius: 5px;
}
.compteurs_block li {
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.title_tooltip {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Fonts */

.blogpseudo, .bloc_title, .blogtitle, .description, #promos_ads h2, .sidebar-info-bloc h3 {
    font-family: 'Lucida Grande', 'Lucida sans unicode', serif;
}

.blogpseudo, .bloc_title, .blogtitle, #promos_ads h2, .sidebar-info-bloc h3 {
    letter-spacing: -2px;
}

.blogpseudo, .bloc_title {
    font-size: 30px !important;
}

.centry .blogtitle {
    font-size: 35px !important;
}

.description {
    font-size: 20px;
}

.sidebar-info-bloc h3, .sidebar_two .blogtitle {
	font-size: 16px;
}

/* Backgrounds */

.centry {
    background: #f7f7f7 url(/img/templates/blogs/430/bg.jpg) top left repeat-x;
}

#global {
    background: #fff;
}

.centry #barleft.sidebar {
    background: #fff url(/img/templates/blogs/430/sidebar_img.jpg) -1px 60px no-repeat !important;
}

.compteurs_block li {
    background: #4a6c9b url(/img/templates/blogs/430/bg_compteurs.png) center center repeat-x;
}

.slider_thumbs {
	background: #191919 url(/img/templates/blogs/430/bg_slider.jpg) center 120px no-repeat;
}

.phylactere {
	background-color: #323232;
}

.date {
    background: #f7f7f7;
}

.title_tooltip {
	background: #333 url(/img/templates/blogs/430/bg_titletooltip.png) center center repeat-x;
}

.pop {
    background: #e3e3df;
}

.pop .bloc_title:before {
    background-image: none;
}

/* Borders */
.sidebar, #currentbp a, #changebp a, .widget, .centry #barleft_content {
    border-color: transparent !important;
}

.bloc-description {
    border-color: transparent transparent #ebeef4 transparent;
}

.liste-actions-centry li {
    border-top: 1px solid #f2f4f5;
    border-bottom: 1px solid #d0d3d5;
}
.liste-actions-centry li:first-child {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #d0d3d5;
}
.liste-actions-centry li:last-child {
    border-top: 1px solid #f2f4f5;
    border-bottom: 1px solid transparent;
}

.centry .share_zone {
    border-bottom-color: #999;
}

.phylactere {
    border-color: #323232;
}

.title_tooltip .pointe_border {
    border-top-color: #333;
}

.slider_thumbs a {
    border-color: transparent;
}

/* Link & Colours */
.bloc, .bloc-description, .sidebar, #menuTime li,
.pagination, .pagination li.current a,
.bloc a:hover, .sidebar a:hover, .bloc_title a:hover, .pagination a:hover { 
    color: #686868;
}

.blogtitle, .bloc a, .sidebar a, .suite, .pagination a, #load-more a {
    color: #12aed4;
}

.blogpseudo a, .blogpseudo a:hover, .bloc_title, .bloc_title a.plink, .centry #musicwidget a {
    color: #040404;
}

.phylactere, .phylactere a:hover, .compteurs_block a, .compteurs_block a:hover, .consult .title_tooltip, .consult .title_tooltip:hover {
    color: #fff;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #323232;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #323232;
}

.phylactere.left .pointe_border {
    border-right-color: #323232;
}
.phylactere.left .pointe_bg {
    border-right-color: #323232;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #323232;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #323232;
}