/* Theme Girly */
/* THEME monocolonne colonne large */

@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);


/* Mise en page et marges */

.centry_large .bloc-description, .centry_thumbs .bloc-description {
    width: 960px !important;
}

.audioPlayer.bloc {
    padding-bottom: 20px;
}

.centry .bloc h2.bloc_title, .centry .bloc h1.bloc_title, .centry.content_large .article_bottom {
    margin-left: 50px;
    margin-right: 50px;
}

.centry_slim .bloc h2.bloc_title, .centry_slim .bloc h1.bloc_title, .centry_slim.consult .article_bottom {
    margin-left: 0;
    margin-right: 0;
}

.sidebar_one .bloc h2.bloc_title, .sidebar_one .bloc h1.bloc_title,
.sidebar_two .bloc h2.bloc_title, .sidebar_two .bloc h1.bloc_title {
    margin-left: 10px;
    margin-right: 10px;
}

.pop .bloc .bloc_title {
    margin-left: 50px;
    margin-right: 50px;
}

h2.bloc_title, h1.bloc_title , .blogtitle {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px !important;
}
h2.bloc_title, h1.bloc_title {
    padding-top: 20px;
}

.centry_thumbs #articles_container h2.bloc_title, .centry_thumbs #articles_container h1.bloc_title {
    padding: 0 0 0 10px !important;
    margin-bottom: 0 !important;
}

.bloc, .bloc-description {
    margin-bottom: 20px !important;
}

.bloc .post {
    padding-bottom: 20px !important;
}
.centry_thumbs #articles_container .bloc .post {
    padding-bottom: 0px !important;
}
/* Arrondis et ombres */
.thumbs_infos {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sidebar, .bloc, .bloc-description {
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15); 
}

.sidebar_two .sidebar { /* ANNULE LES OMBRES */
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0); 
}
.sidebar_two .sidebar {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}
/* Fonts */
.bloc_title, .blogpseudo, .blogtitle {
    font-family: 'Quattrocento Sans', arial, sans-serif;
    font-weight: normal;
}

h2.bloc_title, h1.bloc_title {
    font-size: 24px;
    text-align: left;
}
.blogtitle {
    font-size: 30px;
}
.blogpseudo {
    font-size: 22px !important;
    line-height: 20px
}
.blogpseudo a {
    text-decoration: none;
}

/* Backgrounds */
.consult {
    background: url(/img/templates/blogs/431/bg4.jpg) center top no-repeat,
                url(/img/templates/blogs/431/bg.jpg) center top;
    background-color: #f6f6f6;
}

.centry.consult {
    background: url(/img/templates/blogs/431/bg3.jpg) center top no-repeat,
                url(/img/templates/blogs/431/bg.jpg) center top;
    background-color: #f6f6f6;
}

.content_large.consult {
    background: url(/img/templates/blogs/431/bg2.jpg) center top no-repeat,
                url(/img/templates/blogs/431/bg.jpg) center top;
    background-color: #f6f6f6;
}

h1.bloc_title, h2.bloc_title, .blogtitle {
    background: transparent url(/img/templates/blogs/431/article_titre.jpg) left bottom no-repeat;
}

h1.bloc_title:before, h2.bloc_title:before, .blogtitle:before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 13px;
    bottom: 0;
    right: 0;
    background: transparent url(/img/templates/blogs/431/article_titre2.jpg) top left no-repeat;
}

.sidebar_two .blogtitle:before {
    display: none;
}

.sidebar, #currentbp a , .bloc, .bloc-description, .title_tooltip {
    background: #f7f5f6;
}

.compteurs_block li, .phylactere, #changebp a, .section_box {
    background: #fff;
}

#promos_ads h2, #load-more a, .shared_content {
    background: transparent;
}

/* Borders */
.sidebar, .bloc, .bloc-description, #currentbp a, #changebp a {
    border-color: #e1e1e1 !important;
}
#promos_ads {
    border-color: transparent !important;
}
.phylactere {
    border-color: #e1e1e1;
}
.liste-actions-centry li {
    border-top-color: transparent;
    border-bottom: 1px solid #cdcdcd;
}

.liste-actions-centry li:last-child {
    border-bottom-color: transparent;
}

#barleft_content {
    border-top-color: #cdcdcd;
}

.centry_thumbs .bloc .post {
    border-bottom: none;
}

.title_tooltip .pointe_border {
    border-top-color: #f7f5f6;
}
.sidebar-info-bloc {
    border: none !important;
}

/* Link & Colours */
.bloc a, .sidebar a, .pagination a, .phylactere a,
.pagination li.current a, .section_box, #changebp a, .title_tooltip, .suite, .suite a, .centry #musicwidget a:hover {
    color: #826c9b;/*violet*/
}

.blogtitle, .bloc_title, .bloc_title a, .bloc a:hover, .sidebar a:hover, #currentbp a, .pagination a:hover, .compteurs_block, .compteurs_block a {
    color: #e1a3cf;/*rose*/
}

.blogpseudo a, .blogpseudo a:hover {
    color: #000;
}

.consult, .bloc, .sidebar, .pop, .phylactere, .bloc-description  {
    color: #666;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #e1e1e1;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #fff;
}
.phylactere.left .pointe_border {
    border-right-color: #e1e1e1;
}
.phylactere.left .pointe_bg {
    border-right-color: #fff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #e1e1e1;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #fff;
}