/* Theme Unplugged */
/* THEME  1 sidebar large  */

@import url(https://fonts.googleapis.com/css?family=Courgette);

.consult a {
    text-decoration: none;
}
h2.bloc_title, h1.bloc_title {
    text-align: left;
}
.centry #barleft {
    overflow: visible;
}
.blogtitle, .bloc_title {
    padding-bottom: 10px;
    margin-bottom: 10px !important;
}
.bloc.article_item, .bloc.audioPlayer {
    padding-top: 20px !important;
}
.centry_thumbs #articles_container .bloc.article_item {
    padding-top: 0 !important;
}


/* Fonts */

.blogtitle , .bloc_title, .centry .blogpseudo, .sidebar_one .blogpseudo, #promos_ads h2, .sidebar_two .blogtitle  {
    font-family: 'Courgette', Cursive;
    font-weight: normal;
}
.blogtitle {
    font-size: 30px;
}
.centry .blogpseudo, .sidebar_one .blogpseudo {
    font-size: 20px;
}
h2.bloc_title, h1.bloc_title, .bloc_title {
    font-size: 22px;
}
.article_bottom {
    padding-bottom: 60px;
}

.centry_thumbs #articles_container .article_bottom {
    padding-bottom: 0;
}


/* Arrondis et ombres */

.bloc, .sidebar, #barleft.sidebar, .bloc-description, #articles_container .thumbs_infos {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.sidebar_two.content_slim #barleft .sidebar {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.sidebar-info-bloc h3 {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
.phylactere {
    -webkit-box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.15);
    box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.15);
}


/* Backgrounds */
.consult {
    background: #020106 url(/img/templates/blogs/433/bg.jpg) fixed top center no-repeat;
}

.sidebar, #currentbp a {
    background: #2f0c05;
    background: rgba(47, 12, 5, 0.38);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#612F0C05,endColorstr=#612F0C05);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#612F0C05,endColorstr=#612F0C05)";
    background: transparent\9;
}
.article_bottom {
    background: #45100a url(/img/templates/blogs/433/article_img.png) center 95% no-repeat;
    background: rgba(62, 15, 7, 0.80) url(/img/templates/blogs/433/article_img.png) center 95% no-repeat;
}
.centry_thumbs #articles_container .article_bottom {
    background: transparent;
}


.bloc, .bloc-description, .bloc.bottom, #changebp a {
    background: -moz-linear-gradient(top,  rgba(43,5,5,0.8) 0%, rgba(117,26,26,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,5,5,0.8)), color-stop(100%,rgba(117,26,26,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(43,5,5,0.8) 0%,rgba(117,26,26,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(to bottom,  rgba(43,5,5,0.8) 0%,rgba(117,26,26,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2b0505', endColorstr='#cc751a1a',GradientType=0 ); /* IE6-9 */
    zoom: 1;
}
.compteurs_block li {
    background: rgb(62,15,7); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(62,15,7,1) 0%, rgba(43,5,5,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,15,7,1)), color-stop(100%,rgba(43,5,5,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(62,15,7,1) 0%,rgba(43,5,5,1) 100%); /* Chrome10+,Safari5.1+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e0f07', endColorstr='#2b0505',GradientType=0 ); /* IE6-9 */
    zoom: 1;
}

.phylactere, 
#blog.centry #musicwidget div  {
    background: #3e0f07;
}

.title_tooltip, .section_box {
    background: transparent;
}

.centry_thumbs .bloc:hover .bloc_title {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Borders */
.bloc, .sidebar, .bloc-description, #currentbp a, #changebp a,  
.sidebar_one .sidebar-info-bloc, .phylactere, .widget .phylactere {
    border-color: transparent !important;
}

.sidebar_one .sidebar-info-bloc, .phylactere, .widget .phylactere {
    border-color: #fff;
}

.sidebar_one .liste-actions-centry li, .centry .liste-actions-centry li, .sidebar_one .liste-actions-centry li {
    border-top: 2px solid #a33321;
}
.sidebar_one .sidebar-info-bloc h3 {
    border-bottom: 2px solid #a33321 !important;
}

.sidebar_two .blogtitle {
    border: none;
}

.centry_thumbs #articles_container .bloc:hover {
    border: 1px solid #fff !important;
}

.centry_thumbs #articles_container .bloc .bloc, .centry_thumbs #articles_container .bloc h2 {
    border: none !important;
}


.content_large .bloc img {
    max-width: 740px;
}

/* Link & Colours */

.consult, .bloc, .pop, .bloc-description, 
#load-more a, #menuTime li, #cybercop a:hover, #retour a, .bloc.bottom, .bloc.bottom #cybercop a {
    color: #fff;
}


.sidebar, .sidebar a, .suite, .suite a, #currentbp a, .sidebar-info-bloc .title_tooltip, .bloc a, .pop a, 
.phylactere, .phylactere a, .bloc_visites, .centry .widget a,
.pagination li a, .pagination p a, .pagination li.current a, 
.bloc_title, .bloc_title a, .bloc_title, .bloc_title a.plink {
    color: #fff;
}

#changebp a, .blogtitle {
    color: #fff;
}


.compteurs_block li, .compteurs_block li a, .date a, .dates, .date, 
.sidebar a:hover, .bloc a:hover, .pop a:hover, .widget a {
    color: #dd5e57; /* corail */
}



/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #3e0f07;
}

.phylactere.top_left .pointe_bg {
    border-bottom-color: #3e0f07;
}
.phylactere.left .pointe_border {
    border-right-color: #3e0f07;
}

.phylactere.left .pointe_bg {
    border-right-color: #3e0f07;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #3e0f07;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #3e0f07;
}
.title_tooltip .pointe_border {
    border-top-color: transparent;
}