/* Theme TRIANGLES */
/* THEME 2 colonnes  */

@import url(https://fonts.googleapis.com/css?family=Glass+Antiqua);

.consult a {
    text-decoration: none;
}
h2.bloc_title, h1.bloc_title {
    text-align: left;
}
.sidebar_one .bloc_title, .sidebar_two .bloc_title {
    min-height: 27px;
}
.centry #barleft {
    overflow: visible;
    margin-bottom : 20px;
}
.bloc_title {
    padding-left: 50px;
    padding-top: 10px;
}
.centry .bloc_title {
    padding-left: 30px;
}
.blogtitle, .bloc_title {
    padding-bottom: 10px;
    position: relative;
}
.blogtitle {
    z-index: 90;
}
.blogtitle {
    padding-left: 30px;
    padding-top: 15px;
}

.blogpseudo a {
    padding-left: 30px;
}

.article_bottom {
    padding-top: 20px;
    margin-top: 20px;
}
.bloc, .audioPlayer  {
    padding-bottom: 30px !important;
}

.centry_thumbs #articles_container .article_bottom, .centry_thumbs #articles_container .bloc {
    padding-top: 0;
    padding-bottom: 0 !important;
}


/* Fonts */

.blogtitle , .bloc_title, .centry .blogpseudo, #promos_ads h2, .sidebar_two .blogtitle  {
    font-family: 'Glass Antiqua', Cursive;
    font-weight: normal;
}
.sidebar_one .blogpseudo {
    font-family: Myriad, Helvetica, sans-serif;
    font-weight: normal;
}
.centry .blogtitle, .sidebar_one .blogtitle {
    font-size: 37px;
}
.centry .blogpseudo, .sidebar_one .blogpseudo, .sidebar_two .blogtitle {
    font-size: 20px;
}
h2.bloc_title, h1.bloc_title, .bloc_title {
    font-size: 30px;
}

/* Arrondis et ombres */

.bloc, .sidebar, #barleft.sidebar, .bloc-description, #articles_container .thumbs_infos {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.sidebar_two.content_slim #barleft .sidebar {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.sidebar-info-bloc h3, #changebp a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
.phylactere {
    -webkit-box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.15);
    box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.sidebar {
    -webkit-box-shadow:  0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow:  0px -1px 4px 0px rgba(0, 0, 0, 0.75);
}


/* Backgrounds */
.consult {
    background: #d4d0d0 url(/img/templates/blogs/436/bg.jpg) center top repeat;
}
.blogpseudo {
    background: transparent url(/img/templates/blogs/436/sidebar.png) left center no-repeat;
}

.sidebar, #currentbp a {
    background: #464052;
    background: rgba(70, 64, 82, 0.40);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66464052,endColorstr=#66464052);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#66464052,endColorstr=#66464052)";
    background: transparent\9;
}
.article_bottom {
    background: transparent url(/img/templates/blogs/436/article_bottom_top.png) left top repeat-x;
}
.bloc {
    background: #fff url(/img/templates/blogs/436/article_bottom_bottom.png) center bottom repeat-x;
}
.centry_thumbs #articles_container .article_bottom, .centry_thumbs #articles_container .bloc {
    background: transparent;
}

.bloc-description:before {
    content: "";
    width: 144px;
    height: 110px;
    position: absolute;
    top: -15px;
    left: -35px;
    background: transparent url(/img/templates/blogs/436/blogtitle.png) left top no-repeat;
    z-index: 1;
}

.centry .bloc_title:before {
    content: "";
    width: 47px;
    height: 51px;
    position: absolute;
    top: 0;
    left: -25px;
    background: transparent url(/img/templates/blogs/436/bloc-title_img.png) left top no-repeat;
    z-index: 1;
}
.frontadmin-tb.bloc_title:before, .frontadmin-tb.bloc_title, .vip_not_authorized.bloc .bloc_title:before, .sidebar_one .frontadmin-tb.bloc_title, .sidebar_two .frontadmin-tb.bloc_title {
    background: transparent;
}
.frontadmin-tb.bloc_title:before, .vip_not_authorized.bloc .bloc_title:before {
    width: 0;
    height: 0;
}

.sidebar_one .bloc_title, .sidebar_two .bloc_title {
    background: transparent url(/img/templates/blogs/436/bloc-title_img.png) left top no-repeat;
}

.bloc-description, .bloc.bottom, #changebp a, .bloc .section_box, .centry_thumbs #articles_container .bloc {
    background: #fff
}
.compteurs_block li {
    background: #f6f7b7 url(/img/templates/blogs/436/compteur_block.png) left top repeat;
}

.phylactere, .section_box, 
#blog.centry #musicwidget div  {
    background: #544e65;
}

.title_tooltip {
    background: #aedde2;
}

.centry_thumbs .bloc:hover .bloc_title {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Borders */
.bloc, .sidebar, .bloc-description, #currentbp a, #changebp a,  
.sidebar_one .sidebar-info-bloc, .phylactere, .widget .phylactere,
.sidebar_one .liste-actions-centry li, .centry .liste-actions-centry li, .sidebar_one .liste-actions-centry li {
    border-color: transparent !important;
}

.sidebar_one .sidebar-info-bloc, .phylactere, .widget .phylactere {
    border-color: #fff;
}

.sidebar_two .blogtitle {
    border: none;
}

.centry_thumbs #articles_container .bloc:hover {
    border: 1px solid #fff !important;
}

.centry_thumbs #articles_container .bloc .bloc, .centry_thumbs #articles_container .bloc h2 {
    border: none !important;
}

/* Link & Colours */

.consult, .bloc, .pop, .bloc-description, 
#load-more a, #menuTime li, #cybercop a:hover, #retour a, .bloc.bottom, .bloc.bottom #cybercop a {
    color: #000;
}


.sidebar, #currentbp a, .pop a, 
.phylactere, .phylactere a, .bloc_visites, .centry .widget a, 
.sidebar a:hover, .bloc a, .pop a:hover, .widget a, .sidebar_two .blogpseudo a {
    color: #fff;
}

#changebp a, .blogtitle {
    color: #c05255; /* rouge */
}

.blogpseudo a, .sidebar a, .suite, .suite a, .sidebar_two .blogtitle {
    color: #eaee60;/* vert anis */
}
.dates {
    color: #c3c24e;/* vert kaki */
}

.compteurs_block li, .compteurs_block li a, .compteurs_block li a:hover, .sidebar-info-bloc .title_tooltip, .consult .title_tooltip {
    color: #000;
} 

.phylactere a, .bloc a,
.pagination li a, .pagination p a {
    color: #dd5e57; /* corail */
}
.date a, .date, .pagination li.current a, .bloc a:hover {
    color: #c67e51; /* orange */
}

.bloc_title, .bloc_title a, .bloc_title, .bloc_title a.plink {
    color: #91b4b8; /* bleu */
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #544e65;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #544e65;
}

.phylactere.left .pointe_border {
    border-right-color: #544e65;
}
.phylactere.left .pointe_bg {
    border-right-color: #544e65;
}
.righty .phylactere.left .pointe_border, 
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #544e65;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #544e65;
}
.title_tooltip .pointe_border {
    border-top-color: #aedde2;
}