/* Theme Razor */
/* THEME 2 colonnes  */

@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

.consult a {
    text-decoration: none;
}
h2.bloc_title, h1.bloc_title {
    text-align: left;
}
.centry #barleft {
    overflow: visible;
}
.article_bottom, .sidebar_one .bloc-description {
    padding-bottom: 5px;
}
.centry_thumbs #articles_container .article_bottom {
    padding-top: 0;
    padding-bottom: 0;
}
.sidebar_one .blogpseudo, .centry .blogpseudo {
    padding-left: 23px;
}
.centry .dates, .sidebar_one .dates {
    margin-top: 20px;
}
.bloc .date {
    margin-top: 10px;
}
.centry_large .blogpseudo {
    padding-top: 20px;
}

.liste-actions-centry li, .liste-actions li {
    margin-bottom: 5px;
}

/* Fonts */

.blogtitle , .bloc_title, .blogpseudo, #promos_ads h2, .sidebar_two .blogtitle  {
    font-family: 'Quattrocento Sans', Helvetica, sans-serif;
    font-weight: normal;
}
.centry .blogtitle, .sidebar_one .blogtitle {
    font-size: 30px;
}
.centry .blogpseudo, .sidebar_one .blogpseudo, .sidebar_two .blogtitle {
    font-size: 20px;
}
h2.bloc_title, h1.bloc_title, .bloc_title {
    font-size: 22px;
}

/* Arrondis et ombres */

.bloc, .sidebar, #barleft.sidebar, .bloc-description, #articles_container .thumbs_infos {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.sidebar_two.content_slim #barleft .sidebar, .phylactere {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.sidebar-info-bloc h3, #changebp a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
.phylactere {
    -webkit-box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.33);
    box-shadow:  0px 1px 1px 0px rgba(255, 255, 255, 0.33);
}
.bloc, .bloc-description {
    -webkit-box-shadow:  0px 4px 8px 0px rgba(0, 0, 0, 0.73);
    box-shadow:  0px 4px 8px 0px rgba(0, 0, 0, 0.73);
}


/* Backgrounds */
.consult {
    background: #d4d0d0 url(/img/templates/blogs/437/bg.jpg) center top repeat;
}
.blogpseudo {
    background: transparent url(/img/templates/blogs/437/blogpseudo.png) left center no-repeat;
}

.liste-actions-centry li, .liste-actions li {
    background: transparent url(/img/templates/blogs/437/liste-action.png) left center no-repeat;
}

.bloc, .bloc-description {
    background: #fff;
}
.sidebar, #currentbp a {
    background: transparent;
}
.sidebar_one .bloc-description {
    background: #fff url(/img/templates/blogs/437/bloc-description.png) right bottom no-repeat;
}
.centry .sidebar#barleft {
    background: transparent url(/img/templates/blogs/437/bloc-description.png) right bottom no-repeat !important;
}
.article_bottom {
    background: transparent url(/img/templates/blogs/437/article_bottom.png) left bottom no-repeat;
}


#changebp a, .bloc .section_box, .section_box, #blog.centry #musicwidget div, .compteurs_block li, .phylactere {
    background: #3b3b3b;
    background: rgba(0, 0, 0, 0.25);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#40000000,endColorstr=#40000000);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#40000000,endColorstr=#40000000)";
    background: transparent\9;
}


.title_tooltip, .sidebar_two .sidebar-info-bloc h3 {
    background: #000;
}


/* Borders */
.bloc, .sidebar, .bloc-description, #currentbp a, #changebp a, .liste-actions li,  
.sidebar_one .sidebar-info-bloc, .sidebar_one .liste-actions-centry li, .centry .liste-actions-centry li, .sidebar_one .liste-actions-centry li {
    border-color: transparent !important;
}

.sidebar_one .sidebar-info-bloc, .phylactere, .widget .phylactere {
    border-color: #000;
}

.sidebar_two .blogtitle {
    border: none;
}

.centry_thumbs #articles_container .bloc:hover {
    border: 1px solid #fff !important;
}

.centry_thumbs #articles_container .bloc .bloc, .centry_thumbs #articles_container .bloc h2 {
    border: none !important;
}

/* Link & Colours */


 #retour a, .bloc.bottom, .bloc.bottom #cybercop a {
    color: #000;
}



.phylactere, .compteurs_block li, .compteurs_block li a, .sidebar, #changebp a, .centry .dates, 
.sidebar-info-bloc .title_tooltip, .consult .title_tooltip,.sidebar_two .sidebar-info-bloc h3, .sidebar_two .sidebar-info-bloc h3 a  {
    color: #fff;
}

.sidebar a, .pop a, .bloc a, .phylactere a, .centry .widget a, .widget a, .suite, .suite a, 
.pagination li a, .pagination p a  {
    color: #e7150c; /* rouge */
}
#currentbp a, .consult, .bloc, .pop, .bloc-description, .blogtitle, 
.blogpseudo a, #load-more a, #menuTime li, #cybercop a:hover, .sidebar a:hover, .pop a:hover, 
.bloc_visites, .date a, .date, .pagination li.current a, .bloc a:hover, 
.bloc_title, .bloc_title a, .bloc_title a.plink {
    color: #000;
}

.dates, .sidebar-info-bloc a.title_tooltip:hover, .consult a.title_tooltip:hover {
    color: #8a8a8a; /* gris */
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #000;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #434343;
}

.phylactere.left .pointe_border {
    border-right-color: #000;
}
.phylactere.left .pointe_bg {
    border-right-color: #434343;
}
.righty .phylactere.left .pointe_border, 
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #000;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #434343;
}
.title_tooltip .pointe_border {
    border-top-color: #000;
}