/* Theme Banner */
/* THEME monocolonne Thin  */

@import url(https://fonts.googleapis.com/css?family=Lobster);

.consult a {
    text-decoration: none;
}
h2.bloc_title, h1.bloc_title {
    min-height: 40px;
    text-align: left;
}
.centry #barleft {
    overflow: visible;
}
.article_bottom, .sidebar_one .bloc-description {
    padding-bottom: 5px;
}
.centry_thumbs #articles_container .article_bottom {
    padding-top: 0;
    padding-bottom: 0;
}
.sidebar_one .blogpseudo, .centry .blogpseudo {
    padding-left: 23px;
}
.centry .dates, .sidebar_one .dates {
    margin-top: 20px;
}
.bloc {
    margin-bottom: 30px;
    position: relative;
}
.bloc .date {
    margin-top: 10px;
}
.centry_large .blogpseudo {
    padding-top: 20px;
}

.liste-actions-centry li, .liste-actions li {
    margin-bottom: 5px;
}
.bloc_title, .blogtitle {
    position: relative;
}
#barleft_resume {
    padding: 10px 10px;
    margin: 0 -35px;
}

.centry .bloc h1.bloc_title, .centry .bloc h2.bloc_title {
    margin: 10px -64px;
    padding-left: 35px;
}
.centry_thumbs h1.bloc_title, .centry_thumbs .bloc h2.bloc_title {
    margin-top: 0;
    margin-bottom: 0;
}

.blogtitle {
    margin: 0 -25px 20px;
    padding-left: 35px;
}
.centry_large .blogtitle, .centry_thumbs .blogtitle {
    margin: 0 -123px 20px;
    padding-left: 135px;
}
#linkPopup {
    top: 10px;
}

/* Fonts */

.blogtitle , .bloc_title, .blogpseudo, #promos_ads h2, .sidebar_two .blogtitle  {
    font-family: 'Lobster', cursive;
    font-weight: normal;
}
.centry .blogtitle, .sidebar_one .blogtitle {
    font-size: 30px;
}
.centry .blogpseudo, .sidebar_one .blogpseudo, .sidebar_two .blogtitle {
    font-size: 20px;
}
h2.bloc_title, h1.bloc_title, .bloc_title {
    font-size: 30px;
}

/* Arrondis et ombres */

.bloc, .sidebar, #barleft.sidebar, .bloc-description, #articles_container .thumbs_infos {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.sidebar_two.content_slim #barleft .sidebar {
    -webkit-border-radius: 0;
    border-radius: 0;
}
.sidebar-info-bloc h3, #changebp a {
    -webkit-border-radius: 0;
    border-radius: 0;
}
#linkPopup {
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
.compteurs_block li {
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3);
}
h2.bloc_title, h1.bloc_title, .blogtitle, .blogpseudo a {
    text-shadow: 1px 2px 0px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=2);
}


/* Backgrounds */
.consult {
    background: #e9e9e9 url(/img/templates/blogs/442/bg.jpg) fixed center -44px repeat-x;
}
.blogtitle, #barleft_resume, .sidebar_one .blogpseudo {
    background: rgb(32,154,200); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,154,200,1) 0%, rgba(11,146,200,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,154,200,1)), color-stop(100%,rgba(11,146,200,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(32,154,200,1) 0%,rgba(11,146,200,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(32,154,200,1) 0%,rgba(11,146,200,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(32,154,200,1) 0%,rgba(11,146,200,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#209ac8', endColorstr='#0b92c8',GradientType=0 ); /* IE6-9 */
    zoom: 1;
}
h2.bloc_title, h1.bloc_title, .compteurs_block li {
    background: rgb(245,129,14); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(245,129,14,1) 0%, rgba(226,117,11,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,129,14,1)), color-stop(100%,rgba(226,117,11,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,129,14,1) 0%,rgba(226,117,11,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(245,129,14,1) 0%,rgba(226,117,11,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,129,14,1) 0%,rgba(226,117,11,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5810e', endColorstr='#e2750b',GradientType=0 ); /* IE6-9 */
    zoom: 1;
}
.centry_slim #barleft.sidebar:before {
    content: url(/img/templates/blogs/442/sidebar_centry_thin_img.png);
    position: absolute;
    top: 27px;
    left: -52px;
}
.centry_slim h2.bloc_title:before, .centry_slim h1.bloc_title:before {
    content: url(/img/templates/blogs/442/bloc_title_img.png);
    position: absolute;
    bottom: -20px;
    left: 0;
}
.centry_large h2.bloc_title:before, .centry_large h1.bloc_title:before, 
.centry_thumbs h2.bloc_title:before, .centry_thumbs h1.bloc_title:before {
    content: url(/img/templates/blogs/442/bloc_title_img_large.png);
    position: absolute;
    bottom: -20px;
    left: 0;
}
.blogtitle:before {
    content: url(/img/templates/blogs/442/blogtitle_img.png);
    position: absolute;
    bottom: -21px;
    left: 0;
}

.blogtitle:after {
    content: url(/img/templates/blogs/442/blogtitle_img2.png);
    position: absolute;
    bottom: -21px;
    right: 0;
}
.sidebar_two .blogtitle:before, .sidebar_two .blogtitle:after {
    content: "";
} 

.bloc, .bloc-description {
    background: #fff;
}
.article_bottom:before, .bloc-description:before {
    content: "";
    background: url(/img/templates/blogs/442/article_img.png) center top no-repeat;
    width: 100%;
    height: 14px;
    position: absolute;
    bottom: -14px;
    left: 0;
}

.sidebar {
    background: transparent;
}
.centry .sidebar#barleft {
    background: transparent !important;
}
.sidebar_two .sidebar, #currentbp a, .sidebar_one.content_large .sidebar {
    background: rgba(255, 255, 255, 0.3);
}

#changebp a, .bloc .section_box, .section_box, #blog.centry #musicwidget div, .widget {
    background: #fff;
}
.phylactere {
    background: #f9f9f9;
}

.title_tooltip, .sidebar_two .sidebar-info-bloc h3 {
    background: #1897c8;
}

/* Borders */
.bloc, .sidebar, .bloc-description, #currentbp a, #changebp a, .centry #barleft_content,  
.sidebar_one .sidebar-info-bloc, .widget {
    border-color: transparent !important;
}
.liste-actions li, .centry .liste-actions-centry li, .sidebar_one .liste-actions-centry li {
    border-color: #ccc;
}
.sidebar_one .sidebar-info-bloc, .phylactere, .widget .phylactere {
    border-color: #f9f9f9;
}

.sidebar_two .blogtitle {
    border: none;
}

.centry_thumbs #articles_container .bloc:hover {
    border: 1px solid #fff !important;
}

.centry_thumbs #articles_container .bloc .bloc, .centry_thumbs #articles_container .bloc h2 {
    border: none !important;
}

/* Link & Colours */

#retour a, .bloc.bottom, .bloc.bottom #cybercop a {
    color: #000;
}

.phylactere {
    color: #333;
}
.sidebar, .consult, .bloc, .pop, #currentbp a, #changebp a, .centry .dates, .bloc-description {
    color: #8b8b8b;
}
.compteurs_block li, .compteurs_block li a, #barleft_resume a, 
.sidebar-info-bloc .title_tooltip, .consult .title_tooltip, 
.blogtitle, .bloc_title, 
.sidebar_two .sidebar-info-bloc h3, .sidebar_two .sidebar-info-bloc h3 a  {
    color: #fff;
}

.sidebar a, .pop a, .bloc a, .phylactere a, .centry .widget a, .widget a, .suite, .suite a, 
.pagination li a, .pagination p a, h3.bloc_title, .centry_thumbs .bloc_title a {
    color: #1897c8; /* bleu */
}

.blogpseudo a, #load-more a, #menuTime li, 
.bloc_visites, .date a, .date, .pagination li.current a,  
.sidebar-info-bloc a.title_tooltip:hover, .consult a.title_tooltip:hover {
    color: #000;
}

#cybercop a:hover, .sidebar a:hover, .pop a:hover, .bloc a:hover {
    color: #8b8b8b; /* gris */
}
.blogpseudo a, .bloc_title a, .bloc_title a.plink {
    color: #fff;
}


/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #f9f9f9;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #f9f9f9;
}

.phylactere.left .pointe_border {
    border-right-color: #f9f9f9;
}
.phylactere.left .pointe_bg {
    border-right-color: #f9f9f9;
}
.righty .phylactere.left .pointe_border, 
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #f9f9f9;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #f9f9f9;
}
.title_tooltip .pointe_border {
    border-top-color: #1897c8;
}