.bloc, #blogwhois .description, .bloc_title {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
#currentbp a, #changebp a,
.bloc, .sidebar, .textads, .widget, .comment-item, .phylactere, .bloc-description, .centry_thumbs #articles_container .bloc {
    border-color: #fff;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #fe9acc;
}

/* Backgrounds */
.consult, .widget, .phylactere, .compteurs_block li, .section_box {
    background: #940062;
}
.sidebar, #currentbp a, #changebp a:hover, .bloc .date, .bloc_title, #load-more a, .bloc-description {
    background: #310030;
}
.pop #blogcomments  .bloc {
    background: #940062;
}
.title_tooltip {
    background: #fe9acc;
}

/* Links & colours */
.bloc a, .sidebar a, .pop a, .date, .date a, .suite, #bloginfo em, .pagination a, #changebp a, #currentbp a, .phylactere a {
    color: #fe9acc;
}
.consult, .bloc, .sidebar, .pop, .bloc_title a.plink, .bloc_title, .liste-actions a:hover, .bloc-description,
#cybercop a:hover, .pagination li.current a, .pagination a:hover, .sidebar h3 a, #load-more a, .phylactere {
    color: #fff;
}

.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}

.itemlist img, .bloc .avatar {
    border-color: #7E6F54;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #940062;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #940062;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border  {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #940062;
}