.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .widget, .comment-item, .phylactere, .bloc-description {
    border-color: #fff;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #003466;
}

/* Backgrounds */
.consult {
    background: #6299FF;
}
#changebp a:hover {
    background: #0066cb;
}
#currentbp a, .sidebar, #load-more a, .bloc-description {
    background: #0066cb;
}
.date, .bloc_title, #promos_ads h2, .title_tooltip {
    background: #003466;
}
.widget, .phylactere, .compteurs_block li, .section_box {
    background: #6299FF;
}
.pop #blogcomments .bloc {
    background: #6299FF;
}

/* Links */
.consult, .bloc , .sidebar, .pop, .pagination li.current a, .pagination a:hover, .liste-actions a:hover,
#cybercop a:hover, .sidebar h3 a, #load-more a, .phylactere, .bloc-description {
    color: #fff;
}
.bloc a, .sidebar a, .pop a, .suite, .pagination a, #changebp a, #currentbp a, .phylactere a {
    color: #FFCB02;
}
.bloc_title, #promos_ads h2, .bloc_title a.plink, .date {
    color: #6B98FF;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #6299FF;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #6299ff;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #6299ff;
}