.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.bloc, .sidebar, #currentbp a, #changebp a, #promos_ads, .widget, .comment-item, .phylactere, .bloc-description {
    border-color: #fff !important;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #003000;
}

/* Colors */
.consult, .widget, .phylactere, .compteurs_block li, .section_box {
    background: #629962;
}
#currentbp a, #changebp a:hover, .sidebar, #load-more a, .bloc-description {
    background: #346633;
}
.date, .bloc_title, #promos_ads h2,.title_tooltip {
    background: #003000;
}
.pop #blogcomments .bloc {
    background: #629962;
}

/* Links */
.consult, .bloc, .sidebar, .pop, #changebp a, #currentbp a, .bloc-description,
.liste-actions a:hover,  #cybercop a:hover, .pagination a, .sidebar h3 a, #load-more a, .phylactere {
    color: #fff;
}
.bloc a, .sidebar a, .pop a, .date a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover, .phylactere a {
    color: #FECE02;
}
.date, .bloc_title, #promos_ads h2, .bloc_title a.plink {
    color: #9ACC99;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #fff !important;
}
.bloc .avatar {
    border-color: #7E6F54;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #629962;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #629962;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border  {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #629962;
}