.bloc, .sidebar, .bloc_title, #promos_ads h2, #promos_ads, .pagination {
    font-size: 10px;
    font-family: "Verdana", "Arial", "Helvetica", sans-serif;
    font-weight: normal;
}
.bloc_title, #promos_ads h2, #blogwhois .blogtitle, #blogwhois .description {
    text-align: left;
}
.bloc .date {
    padding: 0.5em 0.7em;
}

/* Borders */
.consult, .bloc, .sidebar, #currentbp a, #changebp, #changebp a, #promos_ads, .widget, .article_content_menu, #blogcomments,
.comment-item, .phylactere, .bloc-description {
    border-color: #fff !important;
}
.liste-actions li {
    border: none;
}
.title_tooltip .pointe_border {
    border-top-color: #9C009C;
}

/* Colors */
.consult, .widget, .phylactere, .compteurs_block li, .section_box {
    background: #CD6562;
}
#currentbp a, .sidebar, #changebp a:hover, #load-more a, .bloc-description {
    background: #986699;
}
.date, .bloc_title, #promos_ads h2, .title_tooltip {
    background: #9C009C;
}
.pop #blogcomments .bloc {
    background: #CD6562;
}

/* Links */
.consult, .bloc, .sidebar, .pop, .liste-actions a:hover,  #cybercop a:hover, .pagination a, .sidebar h3 a, #load-more a, .phylactere,
.bloc-description {
    color: #000;
}
.pop a, .suite, #bloginfo em, .pagination li.current a, .pagination a:hover {
    color: #FECCCB;
}
.bloc a , .sidebar a, .date, .bloc_title, #promos_ads h2, .bloc_title a.plink, #changebp a, #currentbp a, .phylactere a {
    color: #FFCBCD;
}
.title_tooltip, .title_tooltip:hover {/* pour le titre archives, overridé par .bloc a */
    color: #FFCBCD !important;
}

/* Nouveaux ciblages pour les bulles de MOOD */
.phylactere.top_left .pointe_border {
    border-bottom-color: #fff;
}
.phylactere.top_left .pointe_bg {
    border-bottom-color: #CD6562;
}
.phylactere.left .pointe_border {
    border-right-color: #fff;
}
.phylactere.left .pointe_bg {
    border-right-color: #cd6562;
}
.righty .phylactere.left .pointe_border,
.righty_one.content_large .phylactere.left .pointe_border {
    border-left-color: #fff;
}
.righty .phylactere.left .pointe_bg,
.righty_one.content_large .phylactere.left .pointe_bg {
    border-left-color: #cd6562;
}