.footer {
  margin-top: auto;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;

  @include media('<=phone') {
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;

    p {
      margin: 0;
    }
  }

  a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      color: black;

      &:before {
        width: calc(100% + 2px);
      }
    }
    &:before {
      content: " ";
      display: block;
      position: absolute;
      top: -1px;
      left: -1px;
      background-color: $blue200;
      width: 0;
      height: calc(100% + 2px);
      transition: all 0.3s ease;
    }
    span {
      position: relative;
      z-index: 1;
    }
  }
}