.header {
  padding: 50px 0;

  &_container {
    @include container();
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 90%;
    height: auto;
  }
}