/**
  * ----------------------------------------
  * Hover social medias
  * ----------------------------------------
 */
@keyframes loading {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}