// =============================================================================
// Font Face
// =============================================================================

@mixin fontface($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Button
// =============================================================================

@mixin button($color: 'white', $icon: true, $minWidth: false) {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 11px 30px 10px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  line-height: 1;
  font-family: $primary-font-family;

  &.--isLoading {
    opacity: 0.4;

    &:after {
      content: " ";
      background: url('../../images/loader.svg') no-repeat center center;
      width: 30px;
      height: 17px;
      background-size: cover;
    }
  }
  svg {
    margin-right: 12px;

    path {
      transition: all 0.25s ease-in-out;
    }
  }
  @include media("<=phone") {
    padding: 8px 20px 8px;
    min-width: auto;
    min-height: 50px;
  }
  &:hover:not(:disabled),
  &.--isActive {

  }
}

// =============================================================================
// Chips
// =============================================================================

@mixin chips($color: 'blue') {
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 7px;
  background-color: black;
  border-radius: 4px;
}

// =============================================================================
// Links
// =============================================================================

@mixin link($type: primary) {
  &:hover {
    text-decoration: none;
  }
}

// =============================================================================
// Container
// =============================================================================

@mixin container($with: $containerWidth, $padding: 10px) {
  width: $with;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 $padding;

  @include media("<=phone") {
    padding-left: 24px;
    padding-right: 24px;
  }
}

// =============================================================================
// Typography
// =============================================================================
@mixin heading($type) {
  font-family: $primary-font-family;
  font-weight: 500;
  color: black;

  @if $type == 'h1' {
    font-size: 55px;
    font-weight: 700;
    color: white;
    line-height: 1;
    margin: 0 0 20px;
  } @else if $type == 'h2' {
    font-size: 45px;
    line-height: 1.2;
    margin: 0 0 20px;
    color: black;
  } @else if $type == 'h3' {
    font-size: 28px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0 0 15px;
    color: black;
  } @else if $type == 'h4' {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 15px;
  } @else if $type == 'h5' {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 15px;
  }

  &.--isWhite {
    color: white;
  }
  &.--isCentered,
  &.--isCenter {
    text-align: center;
  }
}

// =============================================================================
// Prefix CSS3
// =============================================================================

@mixin css3-prefix($prop, $value) {
  -webkit-#{$prop}: #{$value};
  -moz-#{$prop}: #{$value};
  -ms-#{$prop}: #{$value};
  -o-#{$prop}: #{$value};
  #{$prop}: #{$value};
}