// Colors

$blue200: #00a4ff;
$white800: #fefae0;
$brown500: #dda15e;
$gray500: #dedede;
$green200: #aafb00;
$green500: #90be6d;
$green800: #283618;
$red500: #fb0000;

// This is the default html and body font-size for the base rem value.
$px-base: 14px;
$containerWidth: 1170px;

// Font
$primary-font-family: "Montserrat", Arial, sans-serif;

// Breakpoints
$breakpoints: (
  'phone': 1240px,
);

// Headers
$animation-speed: 0.3s;
$animation-speed-slow: 5s;


